/* ---------- COMMON ---------- */
section .inner > h2 {
  font-family: var(--font-EN);
  font-size: var(--font-size-3xl);
  font-weight: 600;
}
*:focus-visible {
  outline: 2px solid var(--text-color-light);
  outline-offset: 2px;
};
img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
em {
  font-style: normal;
}

/* ---------- Slick.js ---------- */
/* practical_slider */
.practical_slider .slick-prev:before,
.practical_slider .slick-next:before {
  font-family: "bootstrap-icons";
  font-size: 30px;
  font-weight: 700;
  line-height: 1;
  opacity: 1;
  color: #ddd;
  -webkit-font-smoothing: antialiased;
}
.practical_slider .slick-prev {
  left: -50px;
}
.practical_slider .slick-prev:before {
  content: "\F284";
}
.practical_slider .slick-next:before {
  content: "\F285";
}
.practical_slider .slick-dots {
  left: -5px;
  bottom: -40px;
}
.practical_slider .slick-dots li {
  margin: 0 4px;
}
.practical_slider .slick-dots li button:before {
  font-size: 10px;
}
.practical_slider .slick-dots li.slick-active button:before {
  opacity: 1;
  color: #00ad53;
}
/* project_slider */
.project_slider .slick-dots {
  display: flex;
  justify-content: center;
  align-items: center;
  /* gap: 15px; */
  bottom: -24px;
}
.project_slider .slick-dots li {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  width: fit-content;
  height: fit-content;
  padding: 8px;
}
.project_slider .slick-dots li button {
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: var(--text-color-light);
  opacity: 0.6;
  padding: 0;
  transition: 0.3s;
}
.project_slider .slick-dots li.slick-active button {
  opacity: 1;
  width: 32px;
  height: 8px;
  background-color: var(--color-primary);
  border-radius: 6px;
}
.project_slider .slick-dots li button:before,
.project_slider .slick-dots li.slick-active button:before {
  display: none;
}
/* ---------- //Slick.js ---------- */

/* ---------- UIKit ---------- */
/* Light Box */
.uk-lightbox {
  background: #fff;
}
.uk-lightbox.uk-open {
  pointer-events: none;
}
.uk-lightbox-toolbar {
  background-color: transparent;
}
.uk-lightbox-toolbar-icon {
  opacity: 0.7;
  padding: 15px;
  border-radius: 50%;
  background-color: crimson;
  color: #fff;
  transition: 0.2s;
}
.uk-lightbox-toolbar-icon:hover {
  transform: translateY(-3px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}
.uk-position-top {
  width: fit-content;
  height: fit-content;
  top: 87%;
  left: 30px;
}
.uk-transition-slide-top {
  --uk-translate-y: 0;
  pointer-events: all;
}
.uk-position-bottom {
  padding-bottom: 25px;
  font-size: 22px;
  font-weight: 700;
  color: #aaa;
  mix-blend-mode: difference;
  pointer-events: none;
}
.uk-transition-slide-bottom {
  --uk-translate-y: 0;
}
.uk-lightbox-iframe {
  width: 100%;
  height: 100%;
}
.uk-transition-fade {
  opacity: 1;
}
.uk-lightbox-button {
  border-radius: 5px;
  pointer-events: all;
}
/* ---------- //UIKit ---------- */

/* ---------- Featherlight.js ---------- */
.featherlight .featherlight-content {
  width: 100%;
  height: 100%;
  max-height: 100%;
  margin: 0;
}
.featherlight .featherlight-inner {
  width: 100%;
  height: 100%;
}
.featherlight .featherlight-close-icon {
  top: 12px;
  right: 20px;
  width: 60px;
  height: 60px;
  line-height: 55px;
  font-size: 35px;
  color: #555;
  background-color: #ffffffc4;
  border: 2px dashed #555;
  border-radius: 50%;
  transition: 0.5s;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  z-index: 10000;
}
.featherlight .featherlight-close-icon:hover {
  transform: rotate(180deg);
}
.featherlight .featherlight-content {
  padding: 0;
}
/* ---------- //Featherlight.js ---------- */