@charset "utf-8";

/* Reset CSS */
html {
  scroll-behavior: smooth;
}
* {
  box-sizing: border-box;
  outline: none;
  font-family: "Pretendard-Regular";
}
a, a:hover {
  text-decoration: none;
  color: inherit;
}
button {
  cursor: pointer;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  line-height: 1.2em;
}
p {
  margin: 0;
  line-height: 1.5em;
}
body {
  font-size: 15px;
  line-height: 1.5em;
  min-height: 100vh;
  margin: 0;
  width: 100vw;
  overflow-x: hidden;
  color: #555;
}