@charset "utf-8";

/* ########## IMPORT ########## */
@import url(./variables.css);
@import url(./font.css);
@import url(./custom-reset.css);
@import url(./common.css);

/* ########## SECTIONS ########## */
@import url(./sections/header.css);
@import url(./sections/about.css);
@import url(./sections/skill.css);
@import url(./sections/edu.css);
@import url(./sections/react.css);
@import url(./sections/project.css);
@import url(./sections/mobile.css);
@import url(./sections/web.css);
@import url(./sections/practical.css);
@import url(./sections/epilogue.css);


/* ---------- LAYOUT ---------- */
html {
  scroll-behavior: smooth;
  width: 100%;
}
body {
  font-size: var(--font-size-md);
  line-height: 1.4em;
  width: 100%;
  min-height: 100vh;
  margin: 0;
  color: var(--text-color-body);
  font-weight: 300;
}
.container {
  width: 100%;
}
header nav,
.inner {
  width: 100%;
  max-width: var(--container-width);
  margin: 0 auto;
}
main > section {
  padding: var(--section-padding);
}
main > section .inner > h2 {
  font-family: var(--font-EN);
  font-size: var(--font-size-3xl);
  font-weight: 600;
  padding-left: var(--spacing-md);
}
/* ---------- //LAYOUT ---------- */


/* ########## Section - Skill ########## */
#skill .inner .wrapper {
  margin-top: 100px;
}
.skill_items {
  margin-top: 70px;
  height: 250px;
}
.skill_items.twin {
  display: flex;
  justify-content: center;
  height: auto;
}
.skill_item {
  position: relative;
  float: left;
  width: calc(1220px / 4);
  height: 100%;
  border: 1px solid #ddd;
  margin-right: 20px;
  border-radius: 10px;
  padding: 30px 25px;
  background-color: #fff;
  transition: 0.25s;
}
.skill_items.twin .skill_item {
  flex: 1;
}
.skill_item:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.1);
}
.skill_item:last-of-type {
  margin-right: 0;
}

.skill_item_icon {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  border-radius: 5px;
  font-size: 28px;
  font-family: var(--font-EN);
  font-weight: 500;
  background-color: #d9d9d9;
  color: #fff;
}
.skill_item_desc {
  text-align: justify;
  pointer-events: none;
}
.skill_item_desc h4,
.skill_item_desc p span {
  font-family: var(--font-EN);
}
.skill_item_desc h4 {
  font-size: 22px;
  font-weight: 700;
  margin-top: 10px;
  color: var(--text-color-body);
  text-align: center;
}
.skill_item_desc p {
  font-size: 16px;
  margin-top: 10px;
  color: var(--text-color-gray);
  line-height: 1.6em;
}

/* ########## Section - Edu ########## */
#edu {
  position: relative;
}
#edu .inner .wrapper {
  margin: 0 auto;
  margin-top: 70px;
  width: fit-content;
}
.timeline_item {
  margin-bottom: 50px;
}
.timeline_item_peroid,
.timeline_item_desc {
  display: inline-block;
}
.timeline_item_peroid span,
.timeline_item_desc span {
  font-size: 16px;
  color: var(--text-color-light);
}
.timeline_item_peroid span b,
.timeline_item_desc span b {
  display: block;
  margin-bottom: 10px;
  color: var(--text-color-body);
  font-weight: 600;
}
.timeline_item_peroid {
  width: 200px;
  text-align: right;
  margin-right: 70px;
}
.timeline_item_peroid span b {
  font-family: var(--font-EN);
  font-size: 22px;
}
.timeline_item_desc {
  position: relative;
}
.timeline_item_desc::before {
  content: "\F517";
  font-family: "bootstrap-icons";
  position: absolute;
  top: 2px;
  left: -46px;
  font-size: 15px;
  color: var(--color-primary);
  z-index: 10;
}
.timeline_item_desc::after {
  content: "";
  position: absolute;
  top: 18px;
  left: -39px;
  width: 2px;
  height: 94px;
  background-color: #eee;
}
.timeline_item:last-child .timeline_item_desc::after {
  display: none;
}
.timeline_item_desc span b {
  font-size: 20px;
}
.timeline_item_desc span em {
  font-style: normal;
  font-size: 18px;
  color: var(--color-primary);
  font-family: var(--font-EN);
}

/* ########## Section - Project ########## */
#project .tab_container {
  margin-top: 50px;
  padding: 35px 50px;
  border-radius: 30px;
  background-color: #fff;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
#project input[name="project_tab"] {
  display: none;
}
#project .tab_btn_box {
  display: flex;
  justify-content: space-between;
}
#project .tab_btn_box label {
  flex: 1;
  text-align: center;
  font-size: 24px;
  cursor: pointer;
  padding: 10px;
  font-family: var(--font-EN);
}
#project .tab_btn_box label:nth-child(1)::after {
  content: "개인 프로젝트";
}
#project .tab_btn_box label:nth-child(2)::after {
  content: "초등 5, 6 수학";
}
#project .tab_btn_box label:nth-child(3)::after {
  content: "초등 3, 4 수학";
}
#project .tab_btn_box label:nth-child(4)::after {
  content: "초등 5, 6 사회";
}
#project .tab_btn_box label:nth-child(5)::after {
  content: "중등 1 과학";
}
#project .tab_btn_box label:nth-child(6)::after {
  content: "초등 3, 4 수학";
}
#project .indicator {
  position: relative;
  margin: 15px 0;
  height: 6px;
  border-radius: 3px;
  background-color: #eee;
}
#project .indicator::after {
  content: "";
  opacity: 0.8;
  position: absolute;
  top: 0;
  width: calc(100% / 6);
  height: 100%;
  background-image: linear-gradient(60deg, #8fd4b0 0%, var(--color-primary) 50%);
  border-radius: 3px;
  transition: .3s;
  transition-timing-function: cubic-bezier(0.6, -0.28, 0.735, 0.045);
}
#project input[id="project_tab_01"]:checked ~ .indicator::after {
  left: 0;
}
#project input[id="project_tab_02"]:checked ~ .indicator::after {
  left: 16.7%;
}
#project input[id="project_tab_03"]:checked ~ .indicator::after {
  left: 33.5%;
}
#project input[id="project_tab_04"]:checked ~ .indicator::after {
  left: 50%;
}
#project input[id="project_tab_05"]:checked ~ .indicator::after {
  left: 67%;
}
#project input[id="project_tab_06"]:checked ~ .indicator::after {
  left: 83.3%;
}
#project .tab_box {
  position: relative;
  width: calc(100% - 50px);
  height: 340px;
  margin: 40px auto 0;
}
#project .tab_item {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  gap: 40px;
  transition: 0.5s;
}
#project .tab_item:first-child {
  position: relative;
}
#project input[id="project_tab_01"]:checked ~ .tab_box .tab_item:nth-child(1),
#project input[id="project_tab_02"]:checked ~ .tab_box .tab_item:nth-child(2),
#project input[id="project_tab_03"]:checked ~ .tab_box .tab_item:nth-child(3),
#project input[id="project_tab_04"]:checked ~ .tab_box .tab_item:nth-child(4),
#project input[id="project_tab_05"]:checked ~ .tab_box .tab_item:nth-child(5),
#project input[id="project_tab_06"]:checked ~ .tab_box .tab_item:nth-child(6) { 
  opacity: 1;
  visibility: visible;
}
#project .project_slider {
  position: relative;
  flex-shrink: 0;
  width: calc(1634px / 3);
  height: calc(919px / 3);
}
#project .project_slider::after {
  content: "개발물 보기";
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  transition: .3s;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  font-size: 32px;
  border-radius: 20px;
}
#project .project_slider:hover::after {
  opacity: 1;
  visibility: visible;
} 
#project .project_slider a,
#project .project_slider a img {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 20px;
}
#project .project_desc > div h3 {
  font-family: var(--font-EN);
  font-size: 28px;
}
#project .project_desc > div p {
  margin-top: 10px;
  font-size: 18px;
  text-align: justify;
  word-break: keep-all;
}
#project .project_desc ul {
  margin-top: 12px;
}
#project .project_desc ul li {
  font-size: 18px;
  display: flex;
  gap: 15px;
}
#project .project_desc ul li:not(:last-child) {
  margin-bottom: 12px;
}
#project .project_desc ul li em {
  flex-shrink: 0;
  font-style: normal;
  color: var(--color-primary);
  font-weight: 600;
}

/* ########## Section - Mobile ########## */
#mobile {
  background-color: #f0f8ff;
  color: var(--text-color-gray);
  padding: 100px 0;
}
#mobile .inner h2 {
  color: var(--text-color-body);
}
#mobile .inner .wrapper {
  padding: 70px 20px 20px;
  overflow: hidden;
}
.mobile_photo {
  position: relative;
  float: left;
  width: 50%;
  padding-bottom: 90px;
}
.mobile_photo_first,
.mobile_photo_second {
  width: 300px;
  border-radius: 30px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}
.mobile_photo_first img,
.mobile_photo_second img {
  display: block;
  width: 100%;
}
.mobile_photo_second {
  position: absolute;
  top: 50px;
  left: 250px;
}
.mobile_desc_title h3 {
  font-family: var(--font-mobile-section);
  font-size: 34px;
  color: var(--text-color-body);
}
.mobile_desc_title h3 span {
  font-family: var(--font-mobile-section);
  color: #0077ed;
  font-size: 36px;
  letter-spacing: -1px;
}
.mobile_desc_title p {
  margin-top: 10px;
  font-size: 16px;
  line-height: 1.7em;
}
.mobile_desc_format {
  margin-top: 20px;
  overflow: hidden;
}
/* .mobile_desc_format COMMON */
.mobile_desc_format_color,
.mobile_desc_format_font {
  float: left;
  width: calc(50% - 20px);
}
.mobile_desc_format_color b,
.mobile_desc_format_font b {
  font-size: 18px;
  font-family: var(--font-mobile-section);
  color: var(--text-color-body);
}
.mobile_desc_format_color .color_chips,
.mobile_desc_format_font .color_chips {
  margin: 10px 0;
  border-radius: 5px;
  overflow: hidden;
}
.mobile_desc_format_color .color_chips em,
.mobile_desc_format_font .color_chips em {
  float: left;
  width: calc(100% / 3);
  text-align: center;
  font-style: normal;
  color: white;
  font-size: 13px;
  font-family: var(--font-KR-light);
}
/* .mobile_desc_format COMMON - END */
.mobile_desc_format_color {
  margin-right: 40px;
}
.mobile_desc_format_color .color_chips em:nth-child(1) {
  background-color: #0077ed;
}
.mobile_desc_format_color .color_chips em:nth-child(2) {
  background-color: #e1f0ff;
  color: #777;
}
.mobile_desc_format_color .color_chips em:nth-child(3) {
  background-color: #f4c500;
}
.mobile_desc_format_color p {
  line-height: 1.7em;
}
.mobile_desc_format_font .color_chips em:nth-child(1) {
  background-color: #333;
}
.mobile_desc_format_font .color_chips em:nth-child(2) {
  background-color: #777;
}
.mobile_desc_format_font .color_chips em:nth-child(3) {
  background-color: #999;
}
.mobile_desc_format_font span {
  display: block;
}
.mobile_desc_format_font .text_size {
  display: inline-block;
  padding: 5px 10px;
  border: 2px dashed var(--text-color-light);
  border-radius: 10px;
  line-height: 1.7em;
}
.mobile_desc_detail div {
  margin-bottom: 10px;
}
.mobile_desc_detail div b {
  display: inline-block;
  width: 70px;
  font-family: var(--font-mobile-section);
  font-size: 14px;
}
.mobile_desc_detail div span {
  font-size: 16px;
}
.mobile_desc_btns {
  margin-top: 20px;
}
.mobile_desc_btns a {
  display: inline-block;
  width: 100px;
  text-align: center;
  padding: 3px 0;
  margin-right: 5px;
  color: #0077ed;
  border: 1px solid #0077ed;
  border-radius: 10px;
  transition: 0.2s;
}
.mobile_desc_btns a:hover {
  background-color: #0077ed;
  color: #fff;
}

/* ########## Section - Mobile.sec ########## */
#mobile.sec {
  background-color: #F5FFEF;
}
#mobile.sec .mobile_desc_title h3 span {
  color: #6cc31c;
}
/* .mobile_desc_format COMMON - END */
#mobile.sec .mobile_desc_format_color .color_chips em:nth-child(1) {
  background-color: #6cc31c;
}
#mobile.sec .mobile_desc_format_color .color_chips em:nth-child(2) {
  background-color: #ffffff;
}
#mobile.sec .mobile_desc_format_color .color_chips em:nth-child(3) {
  background-color: #3498db;
}
#mobile.sec .mobile_desc_format_font .color_chips em:nth-child(1) {
  background-color: #111111;
}
#mobile.sec .mobile_desc_format_font .color_chips em:nth-child(2) {
  background-color: #777777;
}
#mobile.sec .mobile_desc_format_font .color_chips em:nth-child(3) {
  background-color: #9c9c9e;
}
#mobile.sec .mobile_desc_btns a {
  color: #6cc31c;
  border: 1px solid #6cc31c;
}
#mobile.sec .mobile_desc_btns a:hover {
  background-color: #6cc31c;
  color: #fff;
}

/* ########## Section - Web ########## */
#web .inner .wrapper {
  margin-top: 70px;
}
#web .inner .wrapper input {
  display: none;
}
.web_tab_btns {
  position: relative;
  width: fit-content;
  margin: auto;
  height: 140px;
  width: 1000px;
  margin: auto;
}
.web_tab_btns_indicator {
  position: absolute;
  top: 0;
  left: 0;
  width: 33.333333%;
  height: 50%;
  background-color: #f4f4f4;
  border-radius: 20px;
  transition: 0.5s;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
input[id="web1"]:checked ~ .web_tab_btns .web_tab_btns_indicator {
  top: 0;
  left: 0;
}
input[id="web2"]:checked ~ .web_tab_btns .web_tab_btns_indicator {
  top: 0;
  left: 33.333333%;
}
input[id="web3"]:checked ~ .web_tab_btns .web_tab_btns_indicator {
  top: 0;
  left: 66.666666%;
}
input[id="web4"]:checked ~ .web_tab_btns .web_tab_btns_indicator {
  top: 50%;
  left: 0;
}
input[id="web5"]:checked ~ .web_tab_btns .web_tab_btns_indicator {
  top: 50%;
  left: 33.333333%;
}
input[id="web6"]:checked ~ .web_tab_btns .web_tab_btns_indicator {
  top: 50%;
  left: 66.666666%;
}
.web_tab_btns label {
  position: relative;
  float: left;
  width: calc(100% / 3);
  height: 50px;
  margin: 10px 0;
  line-height: 50px;
  font-size: 28px;
  font-family: var(--font-EN);
  cursor: pointer;
  text-align: center;
  overflow: hidden;
  border-radius: 10px;
}
.web_tab_btns label::before,
.web_tab_btns label::after {
  content: attr(data-link);
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  transition: 0.35s;
}
.web_tab_btns label::before {
  position: absolute;
  top: 0;
}
.web_tab_btns label::after {
  position: absolute;
  top: 100%;
  color: var(--color-primary);
}
input[id="web1"]:checked ~ .web_tab_btns label[for="web1"]::before,
input[id="web2"]:checked ~ .web_tab_btns label[for="web2"]::before,
input[id="web3"]:checked ~ .web_tab_btns label[for="web3"]::before,
input[id="web4"]:checked ~ .web_tab_btns label[for="web4"]::before,
input[id="web5"]:checked ~ .web_tab_btns label[for="web5"]::before,
input[id="web6"]:checked ~ .web_tab_btns label[for="web6"]::before,
.web_tab_btns label:hover::before {
  top: -110%;
}
input[id="web1"]:checked ~ .web_tab_btns label[for="web1"]::after,
input[id="web2"]:checked ~ .web_tab_btns label[for="web2"]::after,
input[id="web3"]:checked ~ .web_tab_btns label[for="web3"]::after,
input[id="web4"]:checked ~ .web_tab_btns label[for="web4"]::after,
input[id="web5"]:checked ~ .web_tab_btns label[for="web5"]::after,
input[id="web6"]:checked ~ .web_tab_btns label[for="web6"]::after,
.web_tab_btns label:hover::after {
  top: 0%;
}
.web_tab_content_outer {
  position: relative;
  margin-top: 70px;
  height: 450px;
}
.web_tab_content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  z-index: -1;
  transition: 1s;
}
input[id="web1"]:checked ~ .web_tab_content_outer .web_tab_content.travelium,
input[id="web2"]:checked ~ .web_tab_content_outer .web_tab_content.shoe_station,
input[id="web3"]:checked ~ .web_tab_content_outer .web_tab_content.green,
input[id="web4"]:checked ~ .web_tab_content_outer .web_tab_content.smeg,
input[id="web5"]:checked ~ .web_tab_content_outer .web_tab_content.netflix,
input[id="web6"]:checked ~ .web_tab_content_outer .web_tab_content.logitech {
  opacity: 1;
  visibility: visible;
  z-index: 1;
}
.web_tab_content_thum,
.web_tab_content_desc {
  float: left;
  width: 50%;
}
.web_tab_content_thum {
  height: 100%;
  border-radius: 10px;
  background-size: cover;
  background-position: top;
  transition-timing-function: ease-in-out;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}
.web_tab_content.travelium .web_tab_content_thum {
  background-image: url(../image/website_pub/web_travelium_thum.jpg);
  transition-duration: 4s;
}
.web_tab_content.shoe_station .web_tab_content_thum {
  background-image: url(../image/website_pub/web_shoe_station_thum.jpg);
  transition-duration: 4s;
}
.web_tab_content.green .web_tab_content_thum {
  background-image: url(../image/website_pub/web_green_save_earth_thum.jpg);
  transition-duration: 8s;
}
.web_tab_content.smeg .web_tab_content_thum {
  background-image: url(../image/website_pub/web_smeg_thum.jpg);
  transition-duration: 4s;
}
.web_tab_content.netflix .web_tab_content_thum {
  background-image: url(../image/website_pub/web_netflix_thum.png);
  transition-duration: 3s;
}
.web_tab_content.logitech .web_tab_content_thum {
  background-image: url(../image/website_pub/web_logitech_thum.jpg);
  transition-duration: 2.5s;
}
.web_tab_content_thum:hover {
  background-position: bottom;
}
.web_tab_content_desc {
  position: relative;
  height: inherit;
  padding-left: 50px;
}
.web_tab_content_desc .title h3 {
  font-family: var(--font-EN);
  font-size: 36px;
  font-weight: 400;
}
.web_tab_content_desc .title p {
  margin-top: 10px;
  line-height: 1.7em;
  font-size: 18px;
  color: var(--text-color-gray);
}
.web_tab_content_desc .details {
  position: absolute;
  left: 50px;
  bottom: 40px;
  width: 100%;
}
.web_tab_content_desc .details span {
  display: block;
  margin-bottom: 18px;
  color: var(--text-color-gray);
}
.web_tab_content_desc .details span b {
  display: inline-block;
  color: var(--text-color-body);
  width: 70px;
}
.web_tab_content_desc .details .feature {
  overflow: hidden;
  width: 100%;
}
.web_tab_content_desc .details .feature b {
  float: left;
  width: 70px;
  height: 40px;
}
.web_tab_content_desc .details .feature span {
  width: 100%;
}
.web_tab_content_desc .btns {
  position: absolute;
  bottom: 0;
  left: 50px;
}
.web_tab_content_desc .btns a {
  margin-right: 5px;
  display: inline-block;
  width: 100px;
  text-align: center;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid transparent;
  font-family: var(--font-EN);
  transition: 0.35s;
}
.web_tab_content_desc .btns a:nth-child(1) {
  background-color: var(--color-primary);
  color: #fff;
}
.web_tab_content_desc .btns a:nth-child(2) {
  background-color: #fff;
  color: var(--color-primary);
  border: 1px solid var(--color-primary);
}
.web_tab_content_desc .btns a:nth-child(3) {
  font-family: var(--font-KR-light);
  background-color: #fff;
  color: var(--text-color-body);
  border: 1px solid var(--text-color-body);
}
.web_tab_content_desc .btns a:nth-child(1):hover {
  background-color: #fff;
  border: 1px solid var(--color-primary);
  color: var(--color-primary);
}
.web_tab_content_desc .btns a:nth-child(2):hover {
  background-color: var(--color-primary);
  color: #fff;
  border: 1px solid transparent;
}
.web_tab_content_desc .btns a:nth-child(3):hover {
  background-color: var(--text-color-title);
  color: #fff;
  border: 1px solid transparent;
}

/* ########## Section - Practical ########## */
#practical .inner .wrapper {
  margin-top: 120px;
}
.practical_slider_outer:not(:last-child) {
  margin-bottom: 120px;
}
.practical_slider_outer h3 {
  position: relative;
  font-family: var(--font-EN);
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 10px;
  z-index: 0;
}
.practical_slider_outer h3::before {
  content: "";
  position: absolute;
  top: 2px;
  left: -5px;
  width: 15px;
  height: 15px;
  background-color: var(--color-primary);
  border-radius: 50%;
  opacity: 0.5;
  z-index: -1;
}
.practical_slider a {
  display: block;
  width: 100%;
  height: 200px;
  margin-right: 10px;
  transition: 0.2s;
}
.practical_slider a:last-child {
  margin-right: 0;
}
.practical_slider div a img {
  display: block;
  width: inherit;
  height: inherit;
  object-fit: cover;
  border: 1px solid #bbb;
  border-radius: 5px;
}

/* ########## Section - Epilogue ########## */
#epilogue .inner .wrapper {
  margin-top: 50px;
  overflow: hidden;
}
.epilogue_heading,
.epilogue_job_strength {
  float: left;
  width: calc(50% - 25px);
}
.epilogue_heading {
  padding: 70px;

}
.epilogue_heading h3 {
  font-family: var(--font-KR);
  line-height: 1.5em;
}
.epilogue_heading h3 span {
  color: var(--color-primary);
  font-weight: 700;
  text-decoration: underline;
}
.epilogue_heading p {
  margin-top: 10px;
  font-size: 18px;
  line-height: 1.7em;
  color: var(--text-color-body);
  font-family: var(--font-KR-light);
  text-align: justify;
}
.epilogue_job_strength div:not(:last-child) {
  margin-bottom: 20px;
}
.epilogue_job_strength div b {
  color: var(--color-primary);
  font-size: 16px;
}
.epilogue_job_strength div p {
  color: var(--text-color-body);
  font-family: var(--font-KR-light);
  margin-top: 5px;
  font-size: 15px;
  line-height: 1.7em;
  text-align: justify;
}

/* ########## Fullscreen Navigation ########## */
.fullscreen_navi {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
  z-index: 1000;
}
.fullscreen_navi_inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.fullscreen_navi_inner a {
  position: relative;
  display: block;
  width: fit-content;
  font-family: var(--font-EN);
  font-size: 40px;
  font-weight: 600;
  padding: 25px 25px 20px 0;
  color: var(--text-color-light);
  text-decoration: none;
  transition: 0.35s;
}
.fullscreen_navi_inner a:last-child {
  font-family: var(--font-KR);
  font-weight: 700;
}
.fullscreen_navi_inner a:hover {
  color: #fff;
}
.fullscreen_navi_inner a::after {
  content: "";
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 0;
  height: 15%;
  background-color: var(--color-primary);
  z-index: -1;
  transition: 0.35s;
}
.fullscreen_navi_inner a:hover::after {
  width: 100%;
}

/* ########## Trigger ########## */
.trigger {
  position: fixed;
  top: 0;
  left: 30px;
  width: 50px;
  height: 50px;
  line-height: 53px;
  background-color: var(--text-color-light);
  color: #fff;
  font-size: 35px;
  text-align: center;
  border-radius: 50%;
  transition: .3s;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  z-index: 9000;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.trigger:hover {
  transform: translateY(-5px);
}
.trigger.active {
  background-color: var(--color-primary);
  transform: translateY(-5px) rotate(135deg);
}
.trigger.on {
  top: 30px;
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}
.trigger img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: calc(56px / 2);
  height: calc(56px / 2);
}

/* ########## Top Button ########## */
.btn_top {
  position: fixed;
  bottom: 0;
  right: 30px;
  width: 50px;
  height: 50px;
  line-height: 50px;
  border-radius: 50%;
  text-align: center;
  font-size: 25px;
  background-color: var(--text-color-light);
  color: #fff;
  transition: .3s;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  z-index: 9999;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.btn_top:hover {
  transform: translateY(-5px);
}
.btn_top.on {
  bottom: 30px;
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}
.btn_top img {
  position: absolute;
  top: calc(50% - 2px);
  left: 50%;
  transform: translate(-50%, -50%);
  width: calc(56px / 2.5);
  height: calc(32px / 2.5);
}