* {
  box-sizing: border-box;
}
.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 80px 0;
  color: #000;
}
img {
  display: block;
  width: 100%;
  height: 100%;
}
button {
  display: block;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

/* --------------- mockup --------------- */
.mockup {
  position: relative;
  background-image: url(../images/mobile-mockup.png);
  width: 465px;
  height: 923px;
  background-size: 100% 100%;
  transition: transform 0.3s ease;
}
.mockup-container {
  position: absolute;
  top: 23px;
  left: 35px;
  display: flex;
  flex-direction: column;
  width: 393px;
  height: 852px;
  border-radius: 54px;
  background-color: #19248c;
  transition: background-color 0.5s linear;
}
/* 다크모드 적용 시 status-bar 색상 변경 */
[data-theme="dark"].mockup-container {
  background-color: #758eba;
}
.mockup-header {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin: 0 auto;
  width: calc(780px / 2);
  height: calc(100px / 2);
  z-index: 1;
}
.mockup-header img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.mockup-iframe__wrap {
  flex: 1;
  background-color: #ffffff;
  border-radius: 0 0 54px 54px;
  overflow: hidden;
}
.mockup-iframe__wrap iframe {
  width: 100%;
  height: 100%;
  border: none;
}

/* --------------- Scale Control --------------- */
.scale-control {
  position: absolute;
  top: 50%;
  left: 78%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #252525;
  user-select: none;
}
.scale-control__button {
  width: calc(60px / 1.2);
  height: calc(26px / 1.2);
  transition: transform 0.3s ease, opacity 0.3s ease;
}
.scale-control__button:hover {
  transform: scale(1.1);
  opacity: 0.8;
}
.scale-control__button:active {
  transform: scale(0.9);
}
.scale-control__button:disabled {
  cursor: auto;
  opacity: 0.5;
  transform: none;
}
.scale-control__display {
  display: flex;
  align-items: center;
  gap: 12px;
  margin: 4px 0;
}
.scale-control__text {
  font-size: 36px;
  font-weight: 400;
  line-height: 1em;
  margin-bottom: 8px;
}
.scale-control__text.bold {
  font-weight: 700;
}
.scale-control__slider-wrapper {
  position: relative;
  top: -10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}
.scale-control__slider-box {
  height: 64px;
  overflow: hidden;
  min-width: 50px;
}
.scale-control__slider-box-inner {
  display: flex;
  flex-direction: column;
  transition: transform 0.3s ease;
}
.scale-control__slider-box-item {
  display: flex;
  justify-content: center;
  gap: 4px;
  line-height: 1em;
  font-size: 64px;
  font-weight: 600;
  font-family: 'Outfit', sans-serif;
}
.scale-control__value--adjacent {
  font-family: 'Outfit', sans-serif;
  font-size: 28px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.5);
  height: 28px;
  line-height: 28px;
  transition: color 0.2s ease;
  text-align: center;
}