/* Fontawesome 4.7 */
@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
/* Reset CSS */
* {
  outline: none;
}
a {
  text-decoration: none;
  color: inherit;
}
body {
  margin: 0;
  height: 100vh;
  color: #333;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* ##### Button SNS ##### */
.btn_sns {
  display: flex;
  justify-content: center;
  gap: 4px;
  width: 550px;
  padding: 28px;
  background-color: #f7f7f7;
  background-image: linear-gradient(180deg, #fdfbfb, #efefef);
  border-radius: 10px;
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.2);
}
.btn_sns a {
  position: relative;
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 36px;
  border-radius: 50%;
  border: 7px solid #fff;
  background-color: #fff;
  margin: 0 15px;
  overflow: hidden;
  z-index: 10;
  color: #555;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}
.btn_sns a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  z-index: -1;
  transition: 0.5s;
}
.btn_sns a:nth-child(1):after {
  background-color: #3b5999;
}
.btn_sns a:nth-child(2) {
  padding-right: 3px;
}
.btn_sns a:nth-child(2):after {
  background-color: #e4405f;
}
.btn_sns a:nth-child(3):after {
  background-color: #dd4b39;
}
.btn_sns a:nth-child(4) {
  padding-top: 3px;
}
.btn_sns a:nth-child(4):after {
  background-color: #55acee;
}
.btn_sns a:nth-child(5) {
  padding-left: 3px;
}
.btn_sns a:nth-child(5):after {
  background-color: #0077b5;
}
.btn_sns a:hover::after {
  height: 100%;
}
.btn_sns a i {
  display: block;
  text-align: center;
  line-height: 1;
  transition: 0.5s;
}
.btn_sns a:nth-child(2) i {
  transform: translateX(2px);
}
.btn_sns a:nth-child(4) i {
  transform: translateX(2px) translateY(-1px);
}
.btn_sns a:hover i {
  transform: rotateY(360deg);
  color: #fff;
}
.btn_sns a:nth-child(2):hover i {
  transform: translateX(2px) rotateY(360deg);
}
.btn_sns a:nth-child(4):hover i {
  transform: translateX(2px) translateY(-1px) rotateY(360deg);
}

/* 모바일 호환성 (480px 이하) */
@media (max-width: 480px) {
  .btn_sns {
    width: 90%;
    padding: 15px 10px;
    gap: 0;
  }
  .btn_sns a {
    width: 50px;
    height: 50px;
    margin: 0 5px;
    font-size: 24px;
    border-width: 4px;
  }
}
