* {
  box-sizing: border-box;
}

body {
  background-color: #333;
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.heart_beat {
  position: relative;
  width: 100px;
  height: 100px;
  background-color: #ff4757;
  transform: rotate(45deg);
  box-shadow: -10px -10px 100px #ff4757, -10px -10px 150px #ff4757, -10px -10px 200px #ff4757;
  animation: heartBeat 0.8s infinite;
}
.heart_beat::before, .heart_beat::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: inherit;
  border-radius: 50%;
}
.heart_beat::before {
  top: 0;
  left: -50%;
}
.heart_beat::after {
  top: -50%;
  left: 0;
}

@keyframes heartBeat {
  0% {
    transform: rotate(45deg) scale(1);
  }
  70% {
    transform: rotate(45deg) scale(1.1);
  }
  100% {
    transform: rotate(45deg) scale(1);
  }
}