@charset "utf-8";

@import 'reset.css';
@import 'font.css';
@import 'normalize.css';
@import 'popup.css';
@import 'quiz.css';

:root {
    --color_answer: #066dcf;
    --color_point: #49f4ff;
    --color_core: #00acd0;
    --input_bg: #e8eaf0;
    --input_border: #cfdee5;
}
* {
    outline: none;
    box-sizing: border-box;
    font-size: 32px;
}
.wrap {
    font-family: 'pretendardM';
}

/* ########## Layout ########## */
main.pageContainer {
    position: relative;
    top: 0;
    left: 0;
    width: 1280px;
    height: 720px;
}
.contContainer {
    position: absolute;
    top: 45px;
    left: 0;
    width: 1280px;
    height: 635px;
    line-height: 1.3em;
    padding: 30px 50px;
}
.contentBox {
    height: 100%;
    padding: 20px 30px;
}
.quiz_wrap {
    position: relative;
    height: 100%;
}
.quiz_wrap .quiz_box {
    padding-left: 60px;
    margin-top: 10px;
}

/* ########## 상단 질문 박스 ########## */
.question_box {
    display: flex;
    line-height: 1.4em;
    font-size: 38px;
    text-align: justify;
}
.question_box > .num {
    flex-shrink: 0;
    margin-right: 15px;
    font-size: 55px;
    font-family: 'pretendardEB';
    color: #2b3a83;
}
.question_text {
    font-family: 'pretendardB';
}
.question_box .grade {
    font-family: 'pretendardM';
    font-size: 30px;
    color: #777;
}

/* ########## 이미지 박스 ########## */
.img_box {
    position: relative;
}
.img_box img {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 20px;
}
.img_box .zoom_img_btn {
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: calc(76px / 2);
    height: calc(76px / 2);
    background-image: url(../images/btns/img_pop_btn.png);
    background-size: 100% 100%;
}

/* ########## 하단 페이지 이동 버튼 ########## */
.tab_btn_box {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 12px;
}
.tab_btn_box a {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2b3a83;
    background-color: #6d7dcc;
    width: 30px;
    height: 30px;
    padding-top: 1px;
    border-radius: 50%;
    color: #fff;
    font-size: 16px;
    font-family: 'pretendardB';
}
.tab_btn_box a.on {
    background-color: #2b3a83;
}
/* 스스로 확인하기 페이지 탭이동 버튼 */
.check_page .tab_btn_box a {
    background-color: #f1c0f3;
}
.check_page .tab_btn_box a.on {
    background-color: #dd8cec;
}
/* 탐구 페이지 탭이동 버튼 */
.tamgu_page .tab_btn_box a {
    background-color: #c4bafd;
}
.tamgu_page .tab_btn_box a.on {
    background-color: #6b54fb;
}
/* 탐구 페이지 - 정리 탭이동 버튼 */
.tamgu_page.jungri .tab_btn_box a {
    background-color: #fac090;
}
.tamgu_page.jungri .tab_btn_box a.on {
    background-color: #fb7337;
}

/* ########## 하단 버튼 박스 ########## */
.bot_btn_box {
    position: fixed;
    bottom: 40px;
    left: 0;
    display: flex;
    flex-direction: row-reverse;
    gap: 10px;
    width: 100%;
    height: 50px;
    text-align: right;
    padding: 0 20px;
}
.bot_btn_box button {
    width: calc(237px / 2);
    height: calc(78px / 2);
    background-size: 100% 100%;
}
/* 정답 보기, 다시 풀기 버튼 */
.bot_btn_box .answer_btn {
    background-image: url(../images/btns/answer_btn.png);
}
.QUIZ_FINISH .bot_btn_box .answer_btn {
    display: none;
}
.bot_btn_box .redo_btn {
    display: none;
    background-image: url(../images/btns/retry_btn.png);
}
.QUIZ_FINISH .bot_btn_box .redo_btn {
    display: block;
}
/* 예시 답안, 예시 보기 버튼 */
.bot_btn_box .ex_ans_btn {
    background-image: url(../images/btns/ex_answer_btn.png);
}
.bot_btn_box .ex_ans_btn.ver2 {
    background-image: url(../images/btns/ex_answer_btn_ver2.png);
}
.QUIZ_FINISH .bot_btn_box .js-answerBtn.ex_ans_btn,
.QUIZ_FINISH .bot_btn_box .js-answerBtn.ex_ans_btn.ver2 {
    display: none;
}
/* 힌트 보기 버튼 */
.bot_btn_box .hint_btn {
    background-image: url(../images/btns/hint_btn.png);
}
/* 활동 가이드, 되돌아가기 버튼 */
.bot_btn_box .guide_btn {
    width: calc(284px / 2);
    background-image: url(../images/btns/guide_answer_btn.png);
}
.QUIZ_FINISH .bot_btn_box .js-answerBtn.guide_btn {
    display: none;
}
.bot_btn_box .return_btn {
    display: none;
    width: calc(284px / 2);
    background-image: url(../images/btns/return_btn.png);
}
.QUIZ_FINISH .bot_btn_box .return_btn {
    display: block;
}

/* ########## 도비라 소단원 제목 X ########## */
.wrap.hide_corner .corner {
    display: none;
}

/* ########## 궁금해 페이지 ########## */
.contContainer.curious .text_box {
    position: absolute;
    top: 40px;
    right: 40px;
    width: 800px;
    padding: 20px 30px;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    text-align: justify;
    border-radius: 20px;
}
.contContainer.curious .text_box p {
    margin-top: 15px;
    color: yellow;
}

/* ########## 이 단원에서 나는 페이지 ########## */
.contentBox.this .title_icon {
    width: calc(554px / 2);
    height: calc(135px / 2);
    background-image: url(../images/title/this_lesson_title.png);
    background-size: 100% 100%;
}
.contentBox.this ul {
    margin-top: 30px;
    padding: 0 72px;
}
.contentBox.this ul li {
    display: flex;
    gap: 15px;
}
.contentBox.this .narrationBtn {
    position: relative;
    width: calc(60px / 1.6);
    height: calc(60px / 1.6);
    flex-shrink: 0;
    transform: translateY(6px);
}
.contentBox.this .narrationBtn button {
    position: absolute;
    width: inherit;
    height: inherit;
    background-image: url(../images/check_box_icon.png);
    background-size: 100% 100%;
}
.contentBox.this .narrationPlayBtn {
    display: block;
    filter: grayscale(1);
}
.contentBox.this .isPlaying .narrationPlayBtn {
    display: none;
}
.contentBox.this .narrationStopBtn {
    display: none;
}
.contentBox.this .isPlaying .narrationStopBtn {
    display: block;
}
.contentBox.this .narrationTarget {
    font-family: 'pretendardB';
    font-size: 36px;
    line-height: 1.4em;
}

/* ########## 스스로 확인하기 페이지 ########## */
.contentBox.check_page {
    padding: 0;
}
.contentBox.check_page .title_icon {
    width: calc(549px / 2);
    height: calc(123px / 2);
    background-image: url(../images/title/self_page_title.png);
    background-size: 100% 100%;
}
.contentBox.check_page .quiz_wrap {
    margin-top: 20px;
    padding: 0 30px;
}
.contentBox.check_page .question_box {
    gap: 12px;
}
.contentBox.check_page .question_box > i {
    flex-shrink: 0;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    margin-top: 5px;
    background-color: #9e64ff;
    color: #fff;
    border-radius: 50%;
    font-family: 'pretendardB';
    font-size: 36px;
}
.contentBox.check_page .question_text .badge {
    padding: 4px 12px;
    font-size: 30px;
    border-radius: 20px;
    background-color: #7e857e;
    color: #fff;
}
.contentBox.check_page .question_text .sub_title {
    color: #9e64ff;
}

/* ########## 이것만은 꼭 페이지 ########## */
.contentBox.ggok {
    padding: 0;
}
.contentBox.ggok .quiz_wrap {
    margin-top: 20px;
    padding: 0 30px;
}
.contentBox.ggok .title_icon {
    width: calc(378px / 2);
    height: calc(116px / 2);
    background-image: url(../images/title/ggok_title.png);
    background-size: 100% 100%;
}
.contentBox.ggok::after {
    content: "";
    position: fixed;
    bottom: 0;
    left: 40px;
    width: calc(632px / 2);
    height: calc(477px / 2);
    background-image: url(../images/ggokPage/char_07.png);
    background-size: 100% 100%;
}

/* ########## Q 페이지 ########## */
.contentBox.Qpage .q_icon {
    flex-shrink: 0;
    width: calc(83px / 2);
    height: calc(93px / 2);
    transform: translateY(-2px);
    background-image: url(../images/title/qcont_title.png);
    background-size: 100% 100%;
}

/* ########## 핵심 정리 페이지 ########## */
.contentBox.core {
    padding: 0;
}
.contentBox.core .title_icon {
    width: calc(455px / 2);
    height: calc(129px / 2);
    background-image: url(../images/title/point_jungri_title.png);
    background-size: 100% 100%;
}
.contentBox.core ul {
    margin-top: 30px;
    padding-left: 10px;
}
.contentBox.core ul li {
    opacity: 0;
    position: relative;
    display: flex;
    gap: 12px;
    font-size: 36px;
    line-height: 1.3em;
    animation: coreText 1s forwards;
}
.contentBox.core ul li:nth-child(1) {
    animation-delay: .25s;
}
.contentBox.core ul li:nth-child(2) {
    animation-delay: 1s;
}
.contentBox.core ul li:nth-child(3) {
    animation-delay: 1.75s;
}
.contentBox.core ul li:nth-child(4) {
    animation-delay: 2.5s;
}
.contentBox.core ul li:not(:last-child) {
    margin-bottom: 30px;
}
.contentBox.core ul li::before {
    flex-shrink: 0;
    content: "";
    margin-top: 16px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    border: 5px solid var(--color_core);
}
.contentBox.core ul li .list_box .title {
    display: inline-block;
    margin-bottom: 10px;
    color: var(--color_core);
    font-family: 'pretendardB';
}

/* ########## 다음 시간에는 페이지 ########## */
.contentBox.next {
    padding: 0;
}
.contentBox.next .title_icon {
    width: calc(476px / 2);
    height: calc(135px / 2);
    background-image: url(../images/title/nexttime_title.png);
    background-size: 100% 100%;
}
.contentBox.next .title_box {
    margin-top: 40px;
    text-align: center;
    font-size: 45px;
    line-height: 1.4em;
}
.contentBox.next .title_box b {
    font-size: 55px;
    color: var(--color_core);
}
.contentBox.next .char_box {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
.contentBox.next .char_box .star {
    position: absolute;
    top: 10px;
    left: -110px;
    width: calc(141px / 2);
    height: calc(272px / 2);
    background-image: url(../images/nexttime_star.png);
    background-size: 100% 100%;
}
.contentBox.next .char_box .char {
    width: calc(598px / 2);
    height: calc(620px / 2);
    background-image: url(../images/nexttime_char.png);
    background-size: 100% 100%;
}
.contentBox.next .char_box a {
    position: absolute;
    top: -110px;
    right: -220px;
    width: calc(479px / 2);
    height: calc(434px / 2);
    background-image: url(../images/nexttime_mal.png);
    background-size: 100% 100%;
    padding-top: 40px;
    text-align: center;
    font-size: 25px;
    line-height: 1.3em;
    font-family: 'pretendardB';
    color: #fff;
    animation: nextCharMal 1.5s linear infinite;
}

/* ########## 탐구 페이지 ########## */
.contentBox.tamgu_page {
    padding: 0;
}
/* 탐구 메인 타이틀 */
.tamgu_title {
    display: flex;
    align-items: center;
    gap: 15px;
}
.tamgu_title .title_icon.tamgu {
    position: relative;
    display: inline-block;
    width: calc(273px / 2);
    height: calc(112px / 2);
    background-image: url(../images/title/tamgu_title_nodigital.png);
    background-size: 100% 100%;
    color: #fff;
}
.tamgu_title .title_icon::after {
    position: absolute;
    left: 90px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}
.tamgu_title .title_icon.tamgu.design::after {
    content: "설계";
}
.tamgu_title .title_text {
    font-family: 'pretendardB';
    font-size: 38px;
}
/* 탐구 페이지 컨테이너 */
.tamgu_cont {
    position: relative;
    display: flex;
    height: 460px;
    background-color: #e6f2f8;
    margin: 20px 20px auto;
    padding: 10px;
    border-radius: 25px;
}
.tamgu_cont::after {
    content: "";
    position: absolute;
    bottom: -40px;
    left: -25px;
    width: calc(232px / 2);
    height: calc(312px / 2);
    background-image: url(../images/tamgu_char.png);
    background-size: 100% 100%;
}
/* 탐구 페이지 사이드바 */
.tamgu_cont aside {
    flex-shrink: 0;
    width: 120px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 10px;
    background-color: #00becf;
    padding-top: 20px;
}
.tamgu_cont aside a {
    position: relative;
    width: 100%;
    color: #fff;
    text-align: center;
    font-family: 'pretendardB';
    font-size: 20px;
    z-index: 0;
}
.tamgu_cont aside a.on {
    color: #00becf;
}
.tamgu_cont aside a.on::after {
    content: "";
    position: absolute;
    top: 50%;
    right: -4px;
    transform: translateY(-50%);
    width: 114px;
    height: 63px;
    background-image: url(../../include/images/tamgu_bar.png);
    background-size: 100% 100%;
    z-index: -1;
}
/* 탐구 페이지 컨텐츠 */
.tamgu_box {
    position: relative;
    width: 100%;
    padding: 10px 20px;
}
.tamgu_box.goal {
    display: flex;
    justify-content: center;
    align-items: center;
}
.tamgu_box.goal p {
    text-align: center;
    font-family: 'pretendardB';
    font-size: 40px;
    line-height: 1.5em;
}
.tamgu_box .fusion {
    margin-bottom: 10px;
}
.tamgu_box .fusion i {
    display: inline-block;
    width: calc(370px / 2.8);
    height: calc(100px / 2.8);
    transform: translateY(6px);
    margin-right: 10px;
    background-image: url(../images/cross_title.png);
    background-size: 100% 100%;
}
.tamgu_box .fusion span {
    font-size: 36px;
}
/* 탐구 페이지 컨텐츠 - 타이틀 */
.tamgu_box_title {
    display: flex;
    gap: 12px;
    font-size: 36px;
    line-height: 1.3em;
    text-align: justify;
}
.tamgu_box_title p .sub_title {
    color: #6b54fb;
    font-family: 'pretendardEB';
}
.tamgu_box_title i {
    flex-shrink: 0;
    display: inline-flex;
    justify-content: center;
    align-items: center;    
    width: 40px;
    height: 40px;
    transform: translateY(-2px);
    background-color: #6b54fb;
    color: #fff;
    border-radius: 50%;
    font-family: 'pretendardB';
    font-size: 28px;
}
.jungri .tamgu_box_title i {
    background-color: #fb7337;
}
.tamgu_box_title > i {
    transform: translateY(2px);
}
.tamgu_box_title p {
    font-family: 'pretendardB';
}
/* 탐구 페이지 컨텐츠 - 컨텐츠 */
.tamgu_box_content {
    margin-top: 15px;
    padding-left: 54px;
}
/* 탐구 페이지 - 스스로 평가 */
.self_check_cont {
    width: calc(1859px / 2);
    height: calc(818px / 2);
    background-image: url(../images/slef_check_bg.png);
    background-size: 100% 100%;
    padding: 80px 25px 20px;
}
.self_check_box:not(:last-child) {
    margin-bottom: 25px;
}
.self_check_box > span {
    padding: 5px 12px;
    border-radius: 30px;
    background-color: #79a75a;
    color: #fff;
    font-size: 30px;
}
.self_check_box > div {
    display: flex;
    gap: 15px;
    margin-top: 8px;
    margin-left: 5px;
}
.self_check_box > div p {
    margin-top: 5px;
    text-align: justify;
}
.self_check_box > div .btn_box {
    display: flex;
    gap: 5px;
}
.self_check_box > div .btn_box button {
    display: inline-block;
    width: 50px;
    height: 50px;
    background-image: url(../images/selfcheck_icon.png);
    background-size: 50px;
    filter: grayscale(1);
}
.self_check_box > div .btn_box button:nth-child(2) {
    background-position: top 50px center;
}
.self_check_box > div .btn_box button:nth-child(3) {
    background-position: top 100px center;
}
.self_check_box > div .btn_box button.on {
    filter: none;
}

/* ########## 영상 페이지 ########## */
.poster_box {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 1128px;
    height: 635px;
}
.poster_box img {
    width: inherit;
    height: inherit;
}
.poster_box .poster_title {
    position: absolute;
    top: 15px;
    left: 15px;
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
    font-size: 30px;
    padding: 5px 15px;
    border-radius: 5px;
}
.poster_box .video_pop_btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(246px / 2);
    height: calc(248px / 2);
    background-image: url(../images/btns/video_pop_btn.png);
    background-size: 100% 100%;
    opacity: .5;
    transition: opacity .3s;
    outline: none;
}
.poster_box .video_pop_btn.hover {
    opacity: 1;
}

/* ########## 테이블 ########## */
.table_box {
    border-radius: 20px;
    overflow: hidden;
}
table th, table td {
    vertical-align: middle;
    padding: 10px;
}

/* ########## keyFrames ########## */
@keyframes coreText {
    0% {
        opacity: 0;
        top: -50px;
    }
    100% {
        opacity: 1;
        top: 0;
    }
}
@keyframes nextCharMal {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.7;
    }
    100% {
        opacity: 1;
    }
}