@charset "utf-8";

@font-face {
	font-family: "pretendardEB";
	src: url('../font/pretendard-extrabold.woff') format("woff");
}

@font-face {
	font-family: "pretendardB";
	src: url('../font/pretendard-bold.woff') format("woff");
}

@font-face {
	font-family: "pretendardM";
	src: url('../font/pretendard-medium.woff') format("woff");
}