@charset "utf-8";

main.pageContainer {
  background-image: url(../images/lesson_intro/bg_07.png);
  background-size: 100% 100%;
}
.contContainer > .star { 
  position: absolute; 
  background-size: 100% 100%; 
}
.contContainer > .star:nth-child(1) { 
  top: 100px; 
  left: 200px; 
  width: calc(58px / 2); 
  height: calc(57px / 2); 
  background-image: url(../images/lesson_intro/star_01.png); 
}
.contContainer > .star:nth-child(2) { 
  top: 470px; 
  left: 500px; 
  width: calc(34px / 2); 
  height: calc(34px / 2); 
  background-image: url(../images/lesson_intro/star_02.png); 
}
.contContainer > .char { 
  position: absolute; 
  top: 200px; 
  left: 200px; 
  width: calc(513px / 2); 
  height: calc(673px / 2); 
  background-image: url(../images/lesson_intro/char_07.png); 
  background-size: 100% 100%; 
}

.intro_cont { 
  position: absolute; 
  top: 60px; 
  left: 550px; 
  gap: 20px; 
  color: #fff; 
}
.intro_box, .chapter_box { 
  display: block; 
  margin-top: 25px; 
  font-size: 40px; 
  font-family: 'pretendardB'; 
}
.intro_box { 
  margin-left: 40px; 
}
.chapter_box { 
  margin-left: 45px; 
}

.intro_cont h2 { 
  font-size: 45px; 
  font-family: 'pretendardEB';
  color: var(--color_point); 
}
.intro_cont h2 span:first-child { 
  margin-right: 25px; 
}
.intro_box { 
  font-family: 'pretendardB'; 
}
.intro_box h3 span:first-child { 
  margin-right: 15px; 
}

.chapter_box { 
  font-family: 'pretendardM'; 
  font-size: 38px; 
}
.chapter_box h4:not(:last-child) { 
  margin-bottom: 12px; 
}
.chapter_box h4 span:first-child { 
  margin-right: 10px; 
}

.popup[data-use="exAnswer"] .ex_ans_box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 650px;
  border-radius: 40px;
}
.popup[data-use="exAnswer"] .ex_ans_box::before {
  display: none;
}
.popup .closePopBtn {
  top: 275px;
  right: 330px;
}
.ex_ans_btn {
  display: none;
}