@charset "UTF-8";

/* ########## CSS IMPORT ########## */
@import url('./reset.css');
@import url('./variables.css');

/* ########## Common CSS ########## */

/* ##### LAYOUT ##### */
html {
  scroll-behavior: smooth;
  .container {
    position: relative;
    overflow-x: hidden;
    &.max_vh {
      height: 100vh;
    }
    .content {
      padding: 80px 20px 0;
    }
    &:not(.max_vh) .content {
      margin-bottom: 100px;
    }
    .arrayH {
      display: flex;
      align-items: center;
    }
    .arrayC {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

/* ##### TYPO ##### */
.sub_title {
  font-size: 24px;
}

/* ##### BUTTON ##### */
.btn_primary {
  width: 100%;
  padding: 10px;
  background-color: var(--lawnGreen);
  color: #fff;
  font-weight: 500;
  border-radius: 4px;
}
.btn_secondary {
  background-color: transparent;
  border: 1px solid var(--cornBlue);
  color: var(--cornBlue);
  border-radius: 4px;
  padding: 2px 6px;
  font-size: 12px;
}
.btn_top {
    opacity: 0;
    position: fixed;
    bottom: 50px;
    right: 20px;
    width: 40px;
    height: 40px;
    border-radius: 12px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: 0.25s;
    &.on {
      opacity: 1;
      bottom: 70px;
    }
  & a {
    display: block;
    width: 100%;
    height: 100%;
    & span {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: calc(100px / 6);
      height: calc(60px / 6);
      background-image: url(../images/btn_top.png);
      background-size: 100% 100%;
    }
  }
}

/* ##### IMGBOX ##### */
.img_box {
  position: relative;
  & img {
    display: block;
    width: 100%;
    height: 100%;
  }
  &.thum img {
    border-radius: 4px;
  }
}


/* ##### BADGE ##### */
.badge_primary {
  display: inline-block;
  padding: 0px 4px;
  background-color: var(--lawnGreen);
  border: 1px solid transparent;
  color: #fff;
  font-size: 11px;
  font-weight: 500;
  border-radius: 12px;
  line-height: 13px;
}
.badge_secondary {
  display: inline-block;
  padding: 0px 4px;
  border: 1px solid var(--darkGray);
  font-size: 11px;
  font-weight: 500;
  color: var(--lightBlack);
  border-radius: 12px;
  line-height: 13px;
}

/* ##### Star & Review ##### */
.star_rating {
  gap: 6px;
  align-items: center;
  .star_box {
    transform: translateY(1px);
    .star {
      display: inline-block;
      width: calc(48px / 3.2);
      height: calc(48px / 3.2);
      background-image: url(../images/star.png);
      background-size: 100% 100%;
      transform: translateY(-2px);
    }
    .score {
      margin-left: 2px;
      font-weight: 500;
    }
  }
}

.review {
  cursor: pointer;
  gap: 2px;
  & i {
    display: inline-block;
    width: calc(40px / 2.5);
    height: calc(40px / 2.5);
    background-image: url(../images/comment_01.png);
    background-size: 100% 100%;
  }
  & span {
    color: var(--lightBlack);
    font-weight: 500;
  }
}

/* ##### LAYOUT ##### */
.top_bar {
  position: fixed;
  top: 0;
  left: 0;
  padding: 12px 20px;
  width: 100%;
  z-index: 10;
  background-color: #fff;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.05);
  .btn_back {
    display: inline-block;
    width: 24px;
    height: 24px;
    background-image: url(../images/bx-left-arrow.png);
    background-size: 100% 100%;
    cursor: pointer;
  }
  .breadcrumbs {
    position: absolute;
    top: calc(50% - 1px);
    left: 50px;
    transform: translateY(-50%);
    width: 260px;
    font-size: 18px;
    font-weight: 600;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .btn_alarm {
    position: relative;
    cursor: pointer;
    float: right;
    width: 24px;
    height: 24px;
    background-image: url(../images/myfresh-noti.png);
    background-size: 100% 100%;
    &::after {
      content: "";
      position: absolute;
      top: 1px;
      right: 1px;
      width: 6px;
      height: 6px;
      background-color: var(--roseRed);
      border-radius: 50%;
    }
  }
  .btn_cart {
    position: relative;
    cursor: pointer;
    float: right;
    width: calc(45px / 2.2);
    height: calc(42px / 2.2);
    background-image: url(../images/home_cart.png);
    background-size: 100% 100%;
    transform: translateY(2px);
    &::after {
      content: attr(data-count);
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      top: -6px;
      right: -4px;
      width: 14px;
      height: 14px;
      background-color: var(--roseRed);
      border-radius: 50%;
      font-size: 12px;
      color: #fff;
    }
  }
}

/* ##### SEARCH_BAR ##### */
.search_bar {
  margin-top: 12px;
  .search_box {
    position: relative;
    padding: 8px;
    padding-left: 48px;
    border: 1px solid var(--snowGray);
    border-radius: 4px;
    & input {
      width: 100%;
      border: none;
      font-weight: 400;
      &::placeholder {
        color: var(--lightGray);
      }
      &:focus::placeholder {
        opacity: 0;
      }
    }
    .btn_search {
      content: "";
      position: absolute;
      top: 50%;
      left: 12px;
      transform: translateY(-50%);
      width: calc(24px * 1.1);
      height: calc(24px * 1.1);
      background-image: url(../images/bx-search.svg);
      background-size: 100% 100%;
      cursor: pointer;
    }
  }
}

/* ########## INPUT ########## */
.input_box {
  position: relative;
  & input {
    border-color: transparent;
    border-radius: 4px;
    padding: 8px 12px;
    width: 100%;
    font-size: 15px;
    &::placeholder {
      color: var(--lightGray);
      text-transform: capitalize;
    }
  }
}
input[type="checkbox"] {
  display: none;
  & + label {
    display: flex;
    cursor: pointer;
    & i {
      display: inline-block;
      width: 18px;
      height: 18px;
      background-image: url(../images/check_bg.png);
      background-position: left center;
      margin-top: 2px;
      margin-right: 4px;
      flex-shrink: 0;
    }
    &.blue i {
      background-image: url(../images/check_02_bg.png);
    }
  }
  &:checked + label i {
    background-position: right center;
  }
}
input[type="radio"] {
  display: none;
  & + label {
    display: flex;
    cursor: pointer;
    & i {
      display: inline-block;
      width: 18px;
      height: 18px;
      margin-right: 4px;
      background-image: url(../images/radio_01.png);
      background-position: left center;
    }
    &.blue i {
      background-image: url(../images/radio_02.png);
    }
  } 
  &:checked + label i {
    background-position: right center;
    & + span {
      color: var(--lawnGreen);
    }
  }
}
.line2 input[type="checkbox"] + label {
  flex-shrink: 0;
  align-self: start;
}

/* ########## GNB ########## */
.gnb {
  position: fixed;
  width: 100%;
  height: 60px;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  border-top: 1px solid var(--cloudyGray);
  background-color: #fff;
  & > div {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
    & span {
      & em {
        position: relative;
        display: inline-block;
        width: 32px;
        height: 32px;
        background-size: 100% 100%;
      }
      & b {
        display: block;
        margin-top: -4px;
        font-size: 10px;
        white-space: nowrap;
        color: var(--lightBlack);
      }
    }
    &:nth-child(1) span em {
      background-image: url(../images/gnb_category.png);
    }
    &:nth-child(2) span em {
      background-image: url(../images/gnb_search.png);
    }
    &:nth-child(3) span em {
      background-image: url(../images/gnb_home.png);
    }
    &:nth-child(4) span em {
      background-image: url(../images/gnb_cart.png);
      &::after {
        position: absolute;
        top: -2px;
        right: -4px;
        content: attr(data-count);
        width: 16px;
        height: 16px;
        border-radius: 50%;
        background-color: var(--roseRed);
        color: #fff;
        font-style: normal;
      }
    }
    &:nth-child(5) span em {
      background-image: url(../images/gnb_myfresh.png);
    }
  }
}

/* ########## Slick.js Custom CSS ########## */
.main_banner_cont {
  position: relative;
  .slick-slider {
    .slick-dots {
      position: absolute;
      bottom: 100px;
      left: 50%;
      transform: translateX(-50%);
      list-style: none;
      margin: 0;
      padding: 0;
      & li {
        display: inline-block;
        margin: 0 4px;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background-color: #fff;
        cursor: pointer;
        opacity: 0.6;
        transition: 0.3s;
        &.slick-active {
          opacity: 1;
          background-color: var(--lawnGreen);
          width: 24px;
          border-radius: 8px;
        }
        & button {
          display: none;
        }
      }
    }
    /* Home - slick.js */
    &.main_banner_box {
      .slick-dots {
        top: calc(100% + 4px);
        & li {
          background-color: var(--cloudyGray);
          &.slick-active {
            background-color: var(--lawnGreen);
          }
        }
      }
    }
  }
  .count_box {
    position: absolute;
    bottom: 8px;
    right: 8px;
    display: flex;
    justify-content: center;
    gap: 4px;
    padding: 2px 6px;
    border-radius: 8px;
    background-color: #777777BF;
    color: #fff;
    font-size: 12px;
  }
}

