* {
  box-sizing: border-box;
  outline: none;
  font-family: 'Pretendard Variable';
}
a {
  text-decoration: none;
  color: inherit;
}
h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  font-weight: normal;
}
button {
  cursor: pointer;
  border: none;
  background-color: transparent;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
em {
  font-style: normal;
}