/* Bootstrap Icons CDN */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
/* Google Web Font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
* {
  box-sizing: border-box;
  outline: none;
  /* font-family: "Poppins", sans-serif; */
  font-family: "Open Sans", sans-serif;
}
body {
  margin: 0;
  min-height: 100vh;
  background-color: #1f2342;
  color: #fff;
}
.stopwatch {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 700px;
  padding: 35px;
  text-align: center;
}
.stopwatch__controls {
  display: flex;
  width: 100%;
  max-width: 200px;
  margin: auto;
  box-shadow: 0 0 15px 10px #393e79;
  height: 50px;
  padding: 0 20px;
  border-radius: 25px;
}
.stopwatch__btn {
  flex: 1;
  background-color: transparent;
  border: none;
  color: inherit;
  font-size: 18px;
  cursor: pointer;
  transition: 0.35s;
}
.stopwatch__btn:hover,
.stopwatch__btn--active {
  color: #db656e;
}
.stopwatch__face {
  width: 320px;
  height: 320px;
  margin: auto;
  margin-top: 50px;
}
.stopwatch__ring {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  box-shadow: 0 0 15px 10px #393e79;
}
.stopwatch__inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 85%;
  height: 85%;
  border: 5px solid #db656e;
  border-radius: 50%;
}
.stopwatch__display {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
}
.stopwatch__time {
  font-size: 50px;
}
.stopwatch__dots {
  position: relative;
  width: 25px;
  display: flex;
  flex-direction: column;
}
.stopwatch__dots b {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px;
}
.stopwatch__dots b:nth-child(1) {
  top: 35%;
}
.stopwatch__dots b:nth-child(2) {
  top: 65%;
}
.stopwatch__reset {
  display: inline-block;
  margin-top: 30px;
  font-size: 45px;
  cursor: pointer;
  transition: 0.5s;
}
.stopwatch__reset:hover {
  color: #db656e;
  transform: rotate(360deg);
}

/* 모바일 반응형 (480px 이하) */
@media (max-width: 480px) {
  .stopwatch {
    padding: 20px;
  }
  .stopwatch__face {
    width: 250px;
    height: 250px;
    margin-top: 40px;
  }
  .stopwatch__time {
    font-size: 35px;
  }
  .stopwatch__dots {
    width: 20px;
  }
  .stopwatch__dots b {
    font-size: 20px;
  }
}
