/* Bootstrap Icons CDN */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
/* Google Web Font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* Reset CSS */
* {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  line-height: 1.2em;
}

body {
  display: flex;
  line-height: 1.6em;
  margin: 0;
  color: #777;
  background-color: #f8f8f8;
  min-height: 100vh;
  height: 100%;
}

/* Grid Responsive Layout(Blog Post Style) */
.container {
  display: flex;
}
.portfolio {
  position: relative;
  padding: 60px 24px 0;
}
.header_box {
  margin-bottom: 60px;
}

/* btn_responsive */
.btn_responsive {
  position: fixed;
  top: 20px;
  right: 20px;
}
.btn_responsive .mobile,
.btn_responsive .tablet {
  display: inline-block;
  padding: 10px 20px;
  font-size: 18px;
  border-radius: 5px;
  border: 1px solid #3dc1d3;
  transition: 0.35s;
}
.btn_responsive .mobile {
  color: #3dc1d3;
  margin-right: 5px;
}
.btn_responsive .mobile:hover {
  color: #fff;
  background-color: #3dc1d3;
}

.btn_responsive .tablet {
  color: #fff;
  background-color: #3dc1d3;
}

.btn_responsive .tablet:hover {
  color: #3dc1d3;
  background-color: #fff;
}

/* main_title */
.main_title {
  position: relative;
  text-align: center;
  font-weight: 500;
  text-decoration: underline;
  text-decoration-color: #3dc1d3;
  pointer-events: none;
  font-size: 55.5px;
}
.main_title span {
  color: #3dc1d3;
}

/* items */
.items {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 15px;
}
.items div {
  position: relative;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.items div a img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.items div span,
.items div::before,
.items div::after {
  position: absolute;
  transition: 0.5s;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.items div span {
  bottom: -30px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  text-align: center;
  color: #fff;
  font-size: 18px;
}

.items div::before {
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.items div::after {
  content: "\f64d";
  font-family: "bootstrap-icons";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.7);
  color: #fff;
  font-size: 30px;
  font-weight: 700;
}

.items div:hover::before,
.items div:hover::after,
.items div:hover span {
  opacity: 1;
  visibility: visible;
}

.items div:hover::after {
  transform: translate(-50%, -50%) scale(1);
}

.items div:hover span {
  bottom: 30px;
}

.items .focus {
  grid-area: span 2/span 2;
}

/* ========== Featherlight 관련 ========== */
.featherlight-iframe .featherlight-content {
  width: 100%;
  height: 100%;
  max-height: 100%;
  margin: 0;
}
.featherlight-iframe .featherlight-inner {
  width: 100%;
  height: 100%;
}
.featherlight-iframe .featherlight-close-icon {
  top: 24px;
  right: 24px;
  width: 60px;
  height: 60px;
  line-height: 55px;
  font-size: 35px;
  color: #555;
  background-color: rgba(255, 255, 255, 0.7);
  border: 2px dashed #555;
  border-radius: 50%;
  transition: 0.5s;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  z-index: 10000;
}
.featherlight-iframe .featherlight-close-icon:hover {
  transform: rotate(180deg);
}