/* Google Web Font */
@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500&display=swap");
/* Reset CSS */
* {
  box-sizing: border-box;
  outline: none;
  font-family: "Montserrat", sans-serif;
}
a {
  text-decoration: none;
  color: inherit;
}
button {
  cursor: pointer;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  line-height: 1.2em;
}
body {
  font-size: 15px;
  line-height: 1.5em;
  margin: 0;
  height: 100vh;
  color: #fff;
  background-color: #000;
}
/* ##### Fullscreen Hover Navigation ##### */
.hover-nav__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(./images/initial.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: 1s;
}
.hover-nav__menu {
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin: 0;
  padding: 0;
  list-style: none;
  transform: translate(-50%, -50%);
}
.hover-nav__link {
  position: relative;
  padding: 5px 0;
  font-size: 60px;
  font-weight: bold;
  line-height: 1.4em;
}
.hover-nav__link::after {
  content: attr(data-text);
  position: absolute;
  top: -5px;
  left: 0;
  width: 0;
  height: 100%;
  padding: 5px 0;
  color: yellowgreen;
  overflow: hidden;
  transition: 0.5s;
}
.hover-nav__link:hover::after {
  width: 105%;
}

/* 모바일 호환성 (768px 이하) */
@media (max-width: 768px) {
  .hover-nav__link {
    font-size: 40px;
  }
}
@media (max-width: 480px) {
  .hover-nav__link {
    font-size: 30px;
  }
}
