/* ---------- 공통 반응형 UI ---------- */


/* ########## 태블릿(1280px) 반응형 ########## */
@media (max-width: 1280px) {
  /* ---------- LAYOUT ---------- */
  body::-webkit-scrollbar {
    display: none;
  }

  /* 헤더 높이만큼 하단 이동 */
  main {
    padding-top: var(--spacing-68);
  }
  /* ---------- END - LAYOUT ---------- */


  /* ---------- COMMON ----------  */
  h1, h2 {
    font-size: var(--font-size-2xl);
  }
  h3 {
    font-size: var(--font-size-xl);
  }
  h4 {
    font-size: var(--font-size-large);
  }
  h5 {
    font-size: var(--font-size-medium);
  }
  /* ---------- END - COMMON ----------  */

  
  /* ---------- HEADER ----------  */
  header {
    padding: 0 var(--section-padding-h-tablet);
  }
  .header-inner {
    height: 68px;
  }

  /* header-logo */
  .header-logo {
    width: calc(350px / 2.2);
    height: calc(72px / 2.2);
  }

  /* header-gnb */
  .header-gnb {
    display: none;
  }

  /* header-right__tel */
  .header-right__tel {
    width: 38px;
    height: 38px;
    background-image: url(../../images/includes/header-icon-tel.png);
    transition: background-image 0.5s linear;
  }
  /* 다크모드 시 이미지 교체 */
  [data-theme="dark"] .header-right__tel {
    background-image: url(../../images/includes/header-icon-tel-dark.png);
  }

  /* header-right__hamburger-btn */
  .header-right__hamburger-btn {
    display: block;
    width: 38px;
    height: 38px;
    background-image: url(../../images/includes/header-icon-hamburger.png);
    background-size: 100% 100%;
    transition: background-image 0.5s linear;
  }
  /* 다크모드 시 이미지 교체 */
  [data-theme="dark"] .header-right__hamburger-btn {
    background-image: url(../../images/includes/header-icon-hamburger-dark.png);
  }
  /* ---------- END - HEADER ----------  */


  /* ---------- FOOTER ----------  */
  footer {
  padding: var(--section-padding-h-tablet) var(--section-padding-h-tablet) 0;
  }
  .footer-inner {
    gap: var(--spacing-32);
  }
  .footer-wrap {
    flex-direction: column;
    gap: var(--spacing-32);
  }

  /* footer-contents */
  .footer-contents {
    font-size: 14px;
    margin-top: 0;
  }

  /* footer-logo */
  .footer-logo {
    width: 174px;
    height: 32px;
  }

  /* footer-info */
  .footer-info {
    margin-top: var(--spacing-32);
  }
  .footer-info__item-text,
  .footer-info__item-list {
    margin-top: var(--spacing-12);
  }

  /* footer-copyright */
  .footer-copyright__text {
    font-size: 12px;
  }
  /* ---------- END - FOOTER ----------  */


  /* ---------- 유틸리티 버튼 ----------  */
  /* 다크모드 버튼 */
  .dark-mode-btn {
    bottom: 28px;
    left: 28px;
    width: 56px;
    height: 56px;
    background-size: 33px 32px;
  }

  /* 위로 이동하기 버튼 */
  .top-btn {
    right: 28px;
    width: 56px;
    height: 56px;
  }
  .top-btn--active {
    bottom: 28px;
  }
  .top-btn img {
    width: 25px;
  }
  /* ---------- END - 유틸리티 버튼 ----------  */
}
/* ########## END - 태블릿(1280px) 반응형 ########## */


/* ########## 모바일(768px) 반응형 ########## */
@media (max-width: 768px) {

  /* ---------- LAYOUT ---------- */
  body {
    font-size: var(--font-size-mobile-body);
  }

  /* 헤더 높이만큼 하단 이동 */
  main {
    padding-top: var(--spacing-56);
  }
  /* ---------- END - LAYOUT ---------- */


  /* ---------- COMMON ----------  */
  input[type="checkbox"] {
    width: 14px;
    height: 14px;
  }
  input[type="checkbox"]:checked::after {
    width: 8px;
    height: 8px;
  }

  /* HEADING */
  h1,
  h2 {
    font-size: var(--font-size-xl);
  }
  h3 {
    font-size: var(--font-size-large);
  }
  h4 {
    font-size: var(--font-size-medium);
  }
  h5 {
    font-size: var(--font-size-mobile-body);
  }

  /* 미니 타이틀 */
  .title-sm {
    font-size: 12px;
  }
  /* ---------- END - COMMON ----------  */


  /* ---------- HEADER ----------  */
  header {
    padding: 0 var(--section-padding-h-mobile);
  }
  .header-inner {
    height: 56px;
  }

  /* header-logo */
  .header-logo {
    width: 33px;
    height: 28px;
    background-image: url(../../images/includes/header-logo-mobile.png);
    transition: background-image 0.5s linear;
  }

  /* 다크모드 시 이미지 교체 */
  [data-theme="dark"] .header-logo {
    background-image: url(../../images/includes/header-logo-mobile-dark.png);
  }

  /* header-right__tel */
  .header-right__tel {
    width: 32px;
    height: 32px;
  }

  /* header-right__hamburger-btn */
  .header-right__hamburger-btn {
    display: block;
    width: 32px;
    height: 32px;
  }
  /* ---------- END - HEADER ----------  */


  /* ---------- FOOTER ----------  */
  footer {
    padding: var(--section-padding-h-mobile) var(--section-padding-h-mobile) 0;
  }
  .footer-inner {
    gap: var(--spacing-24);
  }
  .footer-wrap {
    gap: var(--spacing-24);
  }

  /* footer-link */
  .footer-link {
    gap: var(--spacing-24);
  }

  /* footer-logo */
  .footer-logo {
    width: 131px;
    height: 24px;
  }

  /* footer-info */
  .footer-info {
    margin-top: var(--spacing-24);
  }
  .footer-info__item {
    flex-shrink: 0;
    white-space: nowrap;
  }
  .footer-info__item-text,
  .footer-info__item-list {
    margin-top: var(--spacing-8);
  }

  /* footer-copyright */
  .footer-copyright {
    padding: var(--spacing-16);
  }
  .footer-copyright__text {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    -moz-column-gap: var(--spacing-4);
    column-gap: var(--spacing-4);
    row-gap: var(--spacing-8);
  }
  /* ---------- END - FOOTER ----------  */


  /* ---------- SIDEBAR ----------  */
  .sidebar-container {
    max-width: 260px;
  }
  .sidebar-inner {
    padding: var(--section-padding-h-mobile);
  }

  /* sidebar-header */
  .sidebar-header {
    padding-bottom: var(--spacing-16);
  }
  .sidebar-header__logo {
    width: 33px;
    height: 28px;
    background-image: url(../../images/includes/header-logo-mobile.png);
  }

  /* 다크모드 시 로고 교체 */
  [data-theme="dark"] .sidebar-header__logo {
    background-image: url(../../images/includes/header-logo-mobile-dark.png);
  }

  /* 사이드 바 닫기 버튼 */
  .sidebar-header__close-btn {
    width: 20px;
    height: 20px;
  }

  /* sidebar-gnb */
  .sidebar-gnb {
    max-height: 360px;
    gap: var(--spacing-24);
  }
  .sidebar-gnb__item a {
    font-size: var(--font-size-medium);
  }

  /* sidebar-etc */
  .sidebar-etc {
    gap: var(--spacing-8);
  }
  .sidebar-etc__item span {
    width: 60px;
  }
  /* ---------- END - SIDEBAR ----------  */


  /* ---------- 유틸리티 버튼 ----------  */
  /* 다크모드 버튼 */
  .dark-mode-btn {
    bottom: 20px;
    left: 20px;
    width: 48px;
    height: 48px;
    background-size: 28px 27px;
  }

  /* 위로 이동하기 버튼 */
  .top-btn {
    right: 20px;
    width: 48px;
    height: 48px;
  }
  .top-btn--active {
    bottom: 20px;
  }
  .top-btn img {
    width: 22px;
  }
  /* ---------- END - 유틸리티 버튼 ----------  */
}
/* ########## END - 모바일(768px) 반응형 ########## */
