/* Reset CSS */
* {
  box-sizing: border-box;
}
body {
  height: 100vh;
  margin: 0;
}

/* Fullscreen Photo Slider with SCSS */
.frame {
  position: relative;
  height: inherit;
  
  input[type="radio"] {
    display: none;
  }
  
  .items {
    position: relative;
    .photo {
      position: absolute;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      img {
        display: block;
        width: inherit;
        height: inherit;
        object-fit: cover;
        clip-path: circle(0% at 50% 100%);
        transition: 1s;
      }
    }
  }
  
  .btn_tab {
    position: absolute;
    bottom: 140px;
    left: 50%;
    transform: translateX(-50%);
    
    @media (max-width: 768px) {
      bottom: 80px;
    }
    @media (max-width: 480px) {
      bottom: 130px;
      label {
        width: 15px;
        height: 15px;
        border-width: 3px;
      }
    }
    
    label {
      display: inline-block;
      width: 20px;
      height: 20px;
      margin: 0 3px;
      border-radius: 50%;
      border: 4px solid #fff;
      transition: 0.5s;
      cursor: pointer;
    }
  }

  /* Tab Button Radio Function */
  input[id="slider1"]:checked ~ .btn_tab label[for="slider1"],
  input[id="slider2"]:checked ~ .btn_tab label[for="slider2"],
  input[id="slider3"]:checked ~ .btn_tab label[for="slider3"],
  input[id="slider4"]:checked ~ .btn_tab label[for="slider4"],
  input[id="slider5"]:checked ~ .btn_tab label[for="slider5"] {
    width: 50px;
    margin: 0 5px;
    border-radius: 13px;
    @media (max-width: 480px) {
      width: 35px;
    }
  }

  input[id="slider1"]:checked {
    ~ .btn_tab label {
      border-color: #d49921;
      &[for="slider1"],
      &:hover {
        background-color: #d49921;
      }
    }
    ~ .items .photo1 img {
      clip-path: circle(150% at 50% 100%);
    }
  }

  input[id="slider2"]:checked {
    ~ .btn_tab label {
      border-color: #c8c3b0;
      &[for="slider2"],
      &:hover {
        background-color: #c8c3b0;
      }
    }
    ~ .items {
      .photo1 img,
      .photo2 img {
        clip-path: circle(150% at 50% 100%);
      }
    }
  }

  input[id="slider3"]:checked {
    ~ .btn_tab label {
      border-color: #00ffd0;
      &[for="slider3"],
      &:hover {
        background-color: #00ffd0;
      }
    }
    ~ .items {
      .photo1 img,
      .photo2 img,
      .photo3 img {
        clip-path: circle(150% at 50% 100%);
      }
    }
  }

  input[id="slider4"]:checked {
    ~ .btn_tab label {
      border-color: #ffd9bb;
      &[for="slider4"],
      &:hover {
        background-color: #ffd9bb;
      }
    }
    ~ .items {
      .photo1 img,
      .photo2 img,
      .photo3 img,
      .photo4 img {
        clip-path: circle(150% at 50% 100%);
      }
    }
  }

  input[id="slider5"]:checked {
    ~ .btn_tab label {
      border-color: #64676c;
      &[for="slider5"],
      &:hover {
        background-color: #64676c;
      }
    }
    ~ .items {
      .photo1 img,
      .photo2 img,
      .photo3 img,
      .photo4 img,
      .photo5 img {
        clip-path: circle(150% at 50% 100%);
      }
    }
  }
}
