@charset "utf-8";

/* Bootstrap Icons CDN */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

/* Pretendard-Variable */
@font-face {
  font-family: "PretendardVariable";
  src: url("../../font/PretendardVariable.woff2") format("woff2");
  font-weight: 100 900;
  font-style: normal;
}

/* Outfit-Variable */
@font-face {
  font-family: "OutfitVariable";
  src: url("../../font/Outfit-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 700;
  font-style: normal;
}

/* Caveat-Regular */
@font-face {
  font-family: "Caveat-Regular";
  src: url("../../font/Caveat-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}


/* S-CoreDream (에스코어드림) */
@font-face {
  font-family: "SCDream";
  src: url("../../font/SCDream5.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

/* Gmarket Sans */
@font-face {
  font-family: "GmarketSans";
  src: url("../../font/GmarketSansMedium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

/* Montserrat */
@font-face {
  font-family: "Montserrat";
  src: url("../../font/Montserrat-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}
