:root {
  /* --------- LAYOUT --------- */
  /* container width */
  --container-width: 1280px;

  /* section padding */
  --section-padding: 120px 70px;

  /* util-btn width, height */
  --size-util-btn: 50px;

  /* --------- THEME COLOR --------- */
  --color-primary: #00ad53;
  --color-foreground: #333333;
  --color-background-white: #ffffff;
  --color-background-light-gray: #fafafa;
  --color-positive: #00ad53;
  --color-negative: #D32F2F;
  --color-line: #dfdfdf;
  --color-util-btn: #777777;
  --color-mockup-box-btn: var(--color-primary); 

  /* skill-section */
  --color-background-even-section: #f9f7f1;
  --color-skill-item-bg: #F5F5F5;

  /* --------- TEXT COLOR --------- */
  --text-color-title: #333333;
  --text-color-body: #333333;
  --text-color-dark-gray: #555555;
  --text-color-gray: #777777;
  --text-color-light: #999999;
  --text-color-white: #ffffff;

  /* --------- SECTION COLOR --------- */
  /* REACT Web App */
  --react-text-color: #1E2723;
  --react-color-primary: #72E3AD;
  --react-background-color: #f1fdf7;

  /* Redefine */
  --redefine-color-primary: #0077ed;
  --redefine-color-primary-light: #4099f2;

  /* Market Fresh */
  --market-color-primary: #6CC31C;
  --market-color-primary-light: #91d255;
  --market-color-background: #F5FFEF;

  
  /* --------- SHADOW --------- */
  --shadow-normal: 0 0 12px rgba(0, 0, 0, 0.1);
  --shadow-color-box: 0 0 8px rgba(0, 0, 0, 0.3);
  --shadow-color-box-light: 0 0 8px rgba(0, 0, 0, 0.2);
  --shadow-util-btn: 0 2px 8px rgba(0, 0, 0, 0.2);

  /* --------- SPACING --------- */
  --spacing-xs: 4px;
  --spacing-sm: 8px;
  --spacing-md: 12px;
  --spacing-lg: 16px;
  --spacing-xl: 20px;
  --spacing-2xl: 24px;
  --spacing-3xl: 32px;
  --spacing-4xl: 40px;
  --spacing-5xl: 50px;
  --spacing-6xl: 60px;
  --spacing-7xl: 80px;
  --spacing-8xl: 100px;

  /* --------- FONT FAMILY --------- */
  --font-KR: "PretendardVariable", sans-serif;
  --font-EN: "OutfitVariable", sans-serif;
  --font-slogan: "Caveat-Regular", cursive;
  --font-mobile-section: "NPSfontExtraBold", sans-serif;

  /* --------- FONT SIZE --------- */
  --font-size-xs: 12px;
  --font-size-sm: 14px;
  --font-size-md: 16px;
  --font-size-lg: 18px;
  --font-size-xl: 20px;
  --font-size-2xl: 24px;
  --font-size-3xl: 32px;
  --font-size-4xl: 40px;
  --font-size-5xl: 60px;
  --font-size-6xl: 80px;
  --font-size-body: 16px;

  /* font-size - title */
  --font-size-slogan-title: 56px;
  --font-size-section-title: 36px;
}

