:root {
  /* --------- LAYOUT --------- */
  /* 컨테이너 width 값 */
  --container-width: 1400px;

  /* 헤더 height 값 */
  --header-height: 74px; 

  /* 섹션 별 padding 값 */
  --section-padding: 160px 80px;

  /* 유틸리티 버튼 */
  --util-btn-size: 64px;
  --util-btn-offset: 32px;
  --util-btn-offset-minus: -32px;
  
  /* --------- BASIC COLOR --------- */
  --color-white: #ffffff;
  --color-white-rgb: 255, 255, 255;
  --color-black: #000000;
  --color-black-rgb: 0, 0, 0;

  /* --------- THEME COLOR --------- */
  --color-primary: #3730a3;
  --color-primary-rgb: 55, 48, 163;
  --color-foreground: #333333;
  --color-bg-white: #ffffff;
  --color-bg-light-gray: #f5f5f5;
  --color-positive: #00ad53;
  --color-negative: #D32F2F;
  --color-util-btn: #777777;
  --color-attention: #ff771f;

  /* --------- TEXT COLOR --------- */
  --text-color-title: #333333;
  --text-color-body: #333333;
  --text-color-dark-gray: #555555;
  --text-color-gray: #777777;
  --text-color-light-gray: #999999;
  --text-color-white: #ffffff;
  --text-highlight-bg: rgba(var(--color-primary-rgb), 0.1);

  /* --------- BORDER COLOR --------- */
  --color-line: #dfdfdf;
  --color-line-white: #ffffff;

  /* --------- SHADOW --------- */
  --shadow-normal: 0 4px 10px rgba(0, 0, 0, 0.08);
  --shadow-light: 0 0 12px rgba(0, 0, 0, 0.05);
  --shadow-color-box: 0 0 8px rgba(0, 0, 0, 0.3);
  --shadow-color-box-light: 0 0 12px rgba(0, 0, 0, 0.15);
  --shadow-util-btn: 0 4px 8px rgba(0, 0, 0, 0.2);
  --shadow-accent: 0 0 12px rgba(var(--color-primary-rgb), 0.3);
  --shadow-accent-light: 0 10px 25px rgba(0, 173, 83, 0.06), 0 4px 10px rgba(0, 0, 0, 0.02);
  --drop-shadow-mockup: 0 10px 10px rgba(0, 0, 0, 0.2);
  --drop-shadow-normal: 0 4px 4px rgba(0, 0, 0, 0.15);
  --drop-shadow-light: 0 4px 4px rgba(0, 0, 0, 0.1);

  /* --------- SPACING (4px Grid System) --------- */
  --spacing-4: 4px;
  --spacing-8: 8px;
  --spacing-12: 12px;
  --spacing-16: 16px;
  --spacing-20: 20px;
  --spacing-24: 24px;
  --spacing-28: 28px;
  --spacing-32: 32px;
  --spacing-36: 36px;
  --spacing-40: 40px;
  --spacing-44: 44px;
  --spacing-48: 48px;
  --spacing-52: 52px;
  --spacing-56: 56px;
  --spacing-60: 60px;
  --spacing-64: 64px;
  --spacing-68: 68px;
  --spacing-72: 72px;
  --spacing-76: 76px;
  --spacing-80: 80px;
  --spacing-84: 84px;
  --spacing-88: 88px;
  --spacing-92: 92px;
  --spacing-96: 96px;
  --spacing-100: 100px;

  /* --------- FONT FAMILY --------- */
  --font-KR: "PretendardVariable", sans-serif;
  --font-EN: "OutfitVariable", "PretendardVariable", sans-serif;
  --font-slogan: "Caveat-Regular", "OutfitVariable", cursive;
  --font-mobile-section: "NPSfontExtraBold", "PretendardVariable", sans-serif;
  
  /* 웰라이프 프로젝트 폰트 */
  --font-scdream: "SCDream", "PretendardVariable", sans-serif;
  --font-gmarket: "GmarketSans", "PretendardVariable", sans-serif;
  --font-mont: "Montserrat", "OutfitVariable", sans-serif;

  /* --------- FONT SIZE --------- */
  --font-size-xs: 12px;
  --font-size-sm: 14px;
  --font-size-md: 16px;
  --font-size-lg: 18px;
  --font-size-xl: 20px;
  --font-size-2xl: 24px;
  --font-size-3xl: 32px;
  --font-size-4xl: 40px;
  --font-size-5xl: 60px;
  --font-size-6xl: 80px;
  
  /* 주요 폰트 사이즈 */
  --font-size-body: 16px;
  --font-size-section-title: 36px;
  --font-size-slogan-title: 56px;
  
  /* --------- 섹션별 전용 속성 --------- */
  /* SKILL 섹션 전용 */
  --color-skill-item-bg: #f5f5f5;
  /* --color-skill-item-bg: #F8FAFC; */
  /* --color-skill-item-bg: #F1F5F9; */
  
  /* WEB 섹션 전용 */
  --color-well-life-bg: #e6e7f2;
  --color-well-life-primary: #19248C;
  --color-well-life-secondary: #4CB9E7;
  --color-well-life-hover: #f0f1f8;
  --color-well-life-text-primary: #000000;
  --color-well-life-text-secondary: #6B6B6B;
  --color-well-life-text-tertiary: #A6A6A6;

  /* React 섹션 전용 */
  --color-react-text: #1E2723;
  --color-react-primary: #72E3AD;
  --color-react-bg: #f1fdf7;
}
