/* Google Web Fonts CDN */
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
/* Reset CSS */
* {
  box-sizing: border-box;
  outline: none;
  font-family: "Outfit", sans-serif;
}
a {
  text-decoration: none;
  color: inherit;
}
button {
  cursor: pointer;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  line-height: 1.2em;
}
body {
  font-size: 15px;
  line-height: 1.5em;
  margin: 0;
  height: 100vh;
  color: #333;
  background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
}
/* Welcome Hover Effect */
.welcome {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  width: 400px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  transition: 0.5s;
}
.welcome:hover {
  letter-spacing: 6px;
}
.welcome::before,
.welcome::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid #fff;
  transition: 0.5s;
  border-radius: 3px;
  z-index: -1;
}
.welcome:hover::before,
.welcome:hover::after {
  background-color: transparent;
}
.welcome:hover::before {
  transform: rotate(45deg);
}
.welcome:hover::after {
  transform: rotate(-45deg);
}

/* 모바일 호환성 (480px 이하) */
@media (max-width: 480px) {
  .welcome {
    width: 80%;
    font-size: 14px;
  }
  .welcome:hover {
    letter-spacing: 3px;
  }
}
