@charset "utf-8"; 

body,
div,
ul,
li { margin: 0; padding: 0; font-family: "pretendardB"; } 
li { list-style: none; } 
p { display: block; margin-block-start: 0em; margin-block-end: 0em; margin-inline-start: 0px; margin-inline-end: 0px; } 

.bgContainer { display: none; } 
.bgContainer.on { display: block; } 
.bgContainer.intro { width: 100%; height: 100%; background: url(../images/game/balloon/Intro_bg.png) no-repeat center/ contain; } 
.intro .game_title { width: calc(1400px/2); height: calc(700px/2); background: url(../images/game/balloon/apng_intro.png) no-repeat center/ contain; position: absolute; top: 108px; left: 334px; } 
.intro_text { width: calc(1035px/2); position: absolute; top: 355px; left: 47px; } 
.intro_text img { width: 100%; } 

.intro .btn_help { width: calc(396px/2); height: calc(195px/2); background: url(../images/game/balloon/button_how.png) no-repeat center/ contain; position: absolute; top: 515px; left: 424px; } 
.intro .btn_start { width: calc(396px/2); height: calc(195px/2); background: url(../images/game/balloon/button_start.png) no-repeat center/ contain; position: absolute; top: 515px; left: 658px; }
.btn_bgm { width: 60px; height: 60px; position: absolute; top: 590px; left: 1160px; }
.btn_bgm.main { top: 550px; left: 1190px; }
.btn_bgm :is(.on, .off) { width: 100%; height: 100%; position: absolute; }
.btn_bgm .on { background: url(../images/game/balloon/button_bgm_on.png) no-repeat center/ contain; }
.btn_bgm .off { display: none; background: url(../images/game/balloon/button_bgm_off.png) no-repeat center/ contain; }
.btn_bgm.playing .on { display: none; }
.btn_bgm.playing .off { display: block; }

/* 게임 방법 */
.help_pop { background: url(../images/game/balloon/how_box.png) no-repeat center/ contain; width: calc(2025px/2); height: calc(1073px/2); position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); display: none; } 
.help_pop.on { display: block; } 
.help_pop_img { width: calc(1509px/2); height: calc(527px/2); position: absolute; top: 155px; left: 123px; } 
.help_pop_img img { width: 100%; } 
.help_pop_close { background: url(../images/game/balloon/how_button_x.png)no-repeat top/cover; width: calc(76px/2); height: calc(75px/2); position: absolute; top: 46px; right: 74px; cursor: pointer; } 
.help_pop .how_ct { background: url(../images/game/balloon/how_ct.png)no-repeat top/cover; width: calc(477px/2); height: calc(680px/2); position: absolute; top: 230px; left: 866px; } 

/* 메인 */
.bgContainer.main { width: 100%; height: 100%; background: url(../images/game/balloon/game_bg1.png) no-repeat center/ contain; } 
.quiz_box { background: url(../images/game/balloon/game_top.png) no-repeat center / contain; width: calc(2493px / 2); height: calc(506px / 2); position: absolute; top: 0px; left: 20px; overflow: hidden;} 
.quiz_num { width: calc(100px / 2); height: calc(80px / 2); position: absolute; top: 110px; left: 10px; } 
.quiz_text { width: 1040px; text-align: left; vertical-align: middle; position: absolute; top: 36px; left: 123px; font-size: 34px; letter-spacing: -0.4px; line-height: 44px; height: 170px; align-items: center; display: flex; margin-top: 15px;} 
.quiz_text[data-type='type1'] { width: 1040px; } 
.quiz_text[data-type='type2'] { width: 1040px; } 
.quiz_text[data-type='type3'] { width: 1040px; } 
.quiz_text[data-type='type4'] { width: 1040px; } 
.quiz_text[data-type='type5'] { width: 1040px; } 

.quizContainer { width: 100%; height: 300px; position: absolute; top: 310px; } 
.quizContainer .balloon:nth-child(1) { top: 0px; left: 1005px; animation: moveBalloon 10s linear infinite; } 
.quizContainer .balloon:nth-child(2) { top: 77px; left: 790px; animation: moveBalloon2 10s linear infinite; } 

.balloon { position: absolute; width: calc(214px/2); height: calc(378px/2); } 
.balloon img { pointer-events: none; width: 100%; } 

.main_bottom { background: url(../images/game/balloon/game_Bottom.png) no-repeat center / contain; width: calc(2453px / 2); height: calc(199px / 2); position: absolute; bottom: 0px; left: 29px; } 
.main_bottom .clock { background: url(../images/game/balloon/game_Bottom_clock.png) no-repeat center / contain; width: calc(52px / 2); height: calc(50px / 2); position: absolute; top: 15px; left: 54px; } 
.main_bottom .time_text { width: 50px; height: 30px; position: absolute; top: 12px; left: 87px; font-size: 26px; text-align: center; } 

.main_bottom .timer { background: url(../images/game/balloon/game_Bottom_clock_br1.png) no-repeat center/contain; width: calc(1641px/2); height: calc(61px/2); top: 23px; left: 155px; position: absolute; z-index: 1; background-position: center top; } 
.main_bottom .timer.loading p img { animation: loading 180s linear; } 

.main_bottom .timer img { position: absolute; width: calc(1540px/2); height: 18px; top: 6px; left: 25px; } 

.main_bottom .life { position: absolute; top: 0px; left: 995px; width: 200px; height: 65px; } 
.main_bottom .life p { background: url(../images/game/balloon/game_Bottom_life2.png) no-repeat center; background-size: 100%; position: absolute; z-index: 1; background-position: center top; width: calc(110px/2); height: calc(100px/2); top: 4px; } 
.main_bottom .life img { width: 100%; display: none; } 
.main_bottom .life p.on img { width: 100%; display: block; } 
.main_bottom .life_01 { left: 30px; } 
.main_bottom .life_02 { left: 75px; } 
.main_bottom .life_03 { left: 119px; } 

.end_pop { position: fixed; top: 0; left: 0; width: 100%; height: 100%; background: rgba(0, 0, 0, 0.7); z-index: 10; display: none; } 
.end_pop[data-status="success"], .end_pop[data-status="fail"] { display: block; } 
.end_pop[data-status="success"] .success { background: url(../images/game/balloon/apng_ending_good.png) no-repeat center/contain; width: calc(1600px/2); height: calc(700px/2); position: absolute; top: 90px; left: 220px; } 
.end_pop[data-status="fail"] .fail { background: url(../images/game/balloon/apng_ending_bad.png) no-repeat center/contain; width: calc(700px/2); height: calc(680px/2); position: absolute; top: 120px; left: 460px; } 

.gameclear_start { background: url(../images/game/balloon/button_home.png) no-repeat center/contain; width: calc(395px/2); height: calc(195px/2); position: absolute; top: 470px; left: 420px; } 
.gameover_replay { background: url(../images/game/balloon/button_again.png) no-repeat center/contain; width: calc(396px/2); height: calc(195px/2); position: absolute; top: 470px; left: 660px; } 


/* 마우스 커서 */
.mouseCursor { width: calc(395px/2); height: calc(264px/2); position: absolute; pointer-events: none; top: 450px; left: 150px; } 
.mouseCursor img { pointer-events: none; width: 100%; position:absolute; top:-70px; left:-180px; height:100%; } 

@keyframes loading { 
 0% { transform: translate3d(0, 0, 0); visibility: visible; clip: rect(0px, calc(1540px/2), 18px, 0px); } 
 to { clip: rect(0px, 0px, 18px, 0px); transform: translateZ(0) } 
 }

@keyframes moveBalloon { 
 0% { left: 100%; } 
 100% { left: -40%; } 
 }
 
@keyframes moveBalloon2 { 
 0% { left: 120%; } 
 100% { left: -20%; } 
 }