@charset "utf-8";

.topMenu .navigation .corner {
  display: none;
}

a:hover {color: #fff;}

.img_box{  width: 580px; margin: 0 auto;}

.popup[data-use="exAnswer"] .popContentContainer .exAnsBox::before {display: none;}