@charset "utf-8";

.textarea_box { height: 305px; }

/* 예시 보기 팝업 */
.popup[data-use="exAnswer"] .ex_ans_box { padding: 20px 75px; height: 660px; }
.table_box { font-size: 17px; text-align: justify; }
table th, table td { padding: 8px; }
table tr:nth-child(odd) { background-color: #d0d8e8; }
table tr:nth-child(even) { background-color: #e9edf4; }
table tr:not(:last-child),
table thead tr { border-bottom: 2px solid #fff; }
table td { border-left: 2px solid #fff; }
table th, table td.center { text-align: center; }

thead th { background-color: #4f81bd; padding: 10px 0; }
tbody th { width: 100px; }
tbody ul li { display: flex; gap: 5px; }
tbody ul li:not(:last-child) { margin-bottom: 3px; }
tbody ul li i { display: inline-block; width: 4px; height: 4px; margin-top: 8px; background-color: #000; border-radius: 50%; }

tbody tr:nth-child(3) td:first-of-type { width: 200px; }
tbody tr:last-child { background-color: #fac090; }