@charset "utf-8";

.quiz_box .img_box { width: calc(1826px / 3.8); height: calc(1455px / 3.8); margin: 40px auto 0; }

/* 예시 팝업 */
.popup[data-use="exAnswer"] .ex_ans_box { padding: 20px 75px; }
.popup[data-use="exAnswer"] .img_box { width: calc(969px / 2.1); height: calc(1276px / 2.1); margin: 0 auto; }
.popup[data-use="exAnswer"] .img_box .answer_box { position: absolute; top: 406px; left: 100px; width: 332px; }
.popup[data-use="exAnswer"] .img_box .answer { display: flex; gap: 5px; color: var(--color_answer); font-size: 14px; letter-spacing: -0.5px; text-align: justify; }
.popup[data-use="exAnswer"] .img_box .answer:not(:last-child) { margin-bottom: 4px; }