@charset "utf-8";

.flex_box {display: flex; align-items: center; justify-content: center; margin-top: 30px; gap: 20px;}
.imgWrap {display: flex; justify-content: center; align-items: center; gap: 20px;}
.imgWrap .img_box {
    position: relative;
    width: 210px;
    height: 140px;
}
.imgWrap .img_box::after {
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
}
.imgWrap .img_box:nth-child(1):after {
    content: "(가)";
}
.imgWrap .img_box:nth-child(2):after {
    content: "(나)";
}
.imgWrap .img_box:nth-child(3):after {
  content: "(다)";
}
.bogi_box {
  position: relative;
  padding: 20px;
  border: 2px solid #ccc;
  border-radius: 20px;
  margin: 25px 0 0 55px;
}

.bogi_box::after {
  content: "[ 보기 ]";
  position: absolute;
  top: -18px;
  left: 60px;
  background-color: #fff;
  font-size: 25px;
}

.bogi_box p {
  font-size: 25px;
}

/* ########## CHOICE ########## */

.quizcheckPage .quizWrap[quiz-type="choiceQuiz"] .quizChoice.col .numItem:last-of-type {
  margin-bottom: 0;
}

.quizcheckPage .quizWrap[quiz-type="choiceQuiz"] .quizChoice .numItem .choiceNum {
  background-color: transparent;
}

.topMenu .navigation .corner {
  display: none;
}

.quizcheckPage .quizWrap[quiz-type="choiceQuiz"] .quizChoice.col .numItem {margin-bottom: 10px; width: fit-content;}