@charset "utf-8";


.multiInputBox {margin-top: 30px;}
.input_box {display: flex; gap: 10px; align-items: center;}
.input_box span {font-size: 38px; display: inline-block;}
.input_box input {width: 86%;}