@charset "utf-8";

.actBox{
    height: 100%;
    display: flex;
    justify-content: center;
    transform: translateY(50px);
    gap: 50px;
}

.img_box{
    width: 220px;
    height: 196px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.caption{
    width: 100%;
    color: #365680;
}
.captionTxt{
    position: absolute;
    bottom: -85px;
    text-align: justify;
}

.popup[data-use="imgPop"] .popContentContainer.long .popImg {height: 500px;}