@charset "utf-8";
.actBox{
    width: 95%;
    height: 80%;
    border: 5px solid #DCDDDF;
    border-radius: 30px;
    position: relative;
    transform: translateY(20px);
    padding: 40px 30px 0 30px;
}
.actBox::before{
    content: "만드는 순서";
    font-size: 30px;
    position: absolute;
    top: -30px;
    left: -6px;
    background-color: #DCDDDF;
    padding: 10px 20px;
    border-radius: 10px;
}

.act_subTit{
    display: flex;
    align-items: flex-start;
    margin-bottom: 30px;
}
.act_subTit .num{
    font-size: 25px;
    color: #fff;
    background-color: #859C9C;
    width: 38px;
    height: 38px;
    line-height: 38px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 10px;
    text-align: center;
}
.act_subTit .actText{
    font-size: 30px;
}
.sliderImgBox{
    display: flex;
    justify-content: center;
    align-items: center;
} 
[data-sld-cont="1"] .img_box{
    width: 130px;
}
[data-sld-cont="2"] .img_box{
    width: 193px;
}
[data-sld-cont="3"] .img_box{
    width: 245px;
}

.img_box img {border-radius: 0;}