/* Bootstrap Icons CDN */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
/* Google Web Fonts CDN */
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+KR:300,400,500,700,900&display=swap");
/* Noonnu Korean Fonts */
@font-face {
  font-family: "GmarketSansLight";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

/* ========== COMMON CSS ========== */
* {
  box-sizing: border-box;
  outline: none;
}
html {
  scroll-behavior: smooth;
  width: 100%;
}
body {
  margin: 0;
  min-height: 100vh;  /* Fallback */
  min-height: 100dvh;
  height: 100%;
  font-family: "Noto Sans KR", sans-serif;
  line-height: 1.6;
  color: #333333;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  line-height: 1.2;
  font-family: "GmarketSansLight", sans-serif;
}
a {
  text-decoration: none;
  color: inherit;
}
button {
  cursor: pointer;
}
em {
  font-style: normal;
}
img {
  display: block;
  width: 100%;
  height: auto;
}
/* ========== END - COMMON CSS ========== */


/* ========== MAIN ========== */
main,
.container {
  width: 100%;
  height: 100%;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 36px;
  padding: 80px 64px;
  background-color: #ffffff;
}

/* ----- main__title ----- */
.main__title {
  font-size: 48px;
  letter-spacing: 5px;
}
.main__title {
  text-align: center;
  font-weight: 300;
}
.main__title b {
  font-weight: 900;
}
.main__title em {
  color: #dc143c;
  font-weight: 700;
}

/* ----- main__content ----- */
.main__content {
  width: 1200px;
  height: 100%;
  margin: 0 auto;
}
/* 서브 타이틀 */
.main__content-label {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 12px;
}
.main__item-box {
  counter-reset: count 0;
  display: flex;
  gap: 20px;
}
.main__item {
  flex: 1;
}
.main__item-thum {
  display: block;
  position: relative;
  overflow: hidden;
}
.main__item-thum::after {
  counter-increment: count;
  content: counter(count);
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  line-height: 27px;
  border-radius: 0 0 10px 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: #ffffff;
  text-align: center;
}
.main__item-thum img {
  transition: transform 0.2s;
}
.main__item-thum:hover img {
  transform: scale(1.05);
}
.main__item-desc {
  position: relative;
  margin-top: 5px;
}
.main__item-desc .price,
.main__item-desc .item-title {
  display: block;
}
.main__item-desc .price b {
  color: crimson;
  margin-right: 3px;
}
.main__item-desc .price s {
  color: #bbb;
  margin-right: 3px;
}
.main__item-desc .item-title {
  font-weight: 500;
}
.main__item-desc .count {
  font-style: normal;
  color: #bbb;
}
.main__item-desc .count::before {
  content: attr(data-count);
  margin-right: 5px;
}
.main__item-desc input {
  opacity: 0;
  visibility: hidden;
  width: 1px;
  height: 1px;
  margin: 0;
}
.main__item-desc label {
  position: absolute;
  top: 0;
  right: 0;
}
.main__item-desc label::before {
  content: "\F417";
  font-family: "bootstrap-icons";
  color: #bbbbbb;
  font-size: 18px;
  cursor: pointer;
  transition: color 0.2s;
}
.main__item-desc input[id="product_first"]:checked + label::before,
.main__item-desc input[id="product_second"]:checked + label::before,
.main__item-desc input[id="product_third"]:checked + label::before,
.main__item-desc input[id="product_fourth"]:checked + label::before,
.main__item-desc input[id="product_fifth"]:checked + label::before {
  content: "\F415";
  color: crimson;
}
