/* ===============================================
   Mockup Mobile Style
   =============================================== */

@import url('./mockup-common.css');

/* ---------- Container ---------- */
.container {
    position: relative;
    min-height: 100vh;
    padding: 80px 0;
    color: #1e2723;
}

/* ---------- Mobile Mockup ---------- */
.mockup {
    margin: 0 auto;
    width: 465px;
    height: 923px;
    background-image: url(/images/mockup/mobile-mockup.png);
}

.mockup-container {
    top: 23px;
    left: 35px;
    width: 393px;
    height: 852px;
    border-radius: 54px;
}

.mockup-header {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin: 0 auto;
    width: calc(780px / 2);
    height: calc(100px / 2);
    z-index: 1;
}

.mockup-header img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.mockup-iframe__wrap {
    border-radius: 0 0 54px 54px;
}

/* ---------- Scale Control Position ---------- */
.scale-control {
    position: absolute;
    top: 50%;
    left: 78%;
    transform: translate(-50%, -50%);
}