/* ===============================================
   Mockup Mobile Style
   =============================================== */

@import url('./mockup-common.css');

/* ---------- Container ---------- */
.container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh; /* 폴백 */
    min-height: 100dvh; /* iOS Safari 동적 뷰포트 */
    padding: 40px 0;
    color: var(--text-color-title);
}
/* ---------- END - Container ---------- */


/* ---------- Mobile Mockup ---------- */
.mockup {
    width: 439px;
    height: 894px;
    background-image: url(/images/mockup/mobile-mockup.webp);
}
.mockup-container {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 393px;
    height: 852px;
    border-radius: 52px;
}
.mockup-header {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin: 0 auto;
    width: 100%;
    z-index: 1;
}
.mockup-header img {
    display: block;
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
    object-fit: contain;
}
.mockup-iframe__wrap {
    border-radius: 0 0 52px 52px;
}
/* ---------- END - Mobile Mockup ---------- */


/* ---------- 스케일 컨트롤 ---------- */
.scale-control {
    position: absolute;
    top: 50%;
    left: 78%;
    transform: translateY(-50%);
}
/* ---------- END - 스케일 컨트롤 ---------- */
