/* Bootstrap Icons CDN */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  height: 100vh;
  background-color: #f1f1f1;
}
.tabs_outer {
  position: relative;
  width: 100vw;
  height: inherit;
  overflow: hidden;
}
input[name="tab"] {
  display: none;
}
.tabs {
  position: absolute;
  top: 0;
  right: 0;
  width: inherit;
  height: inherit;
}
.tab {
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  height: inherit;
  opacity: 0;
  visibility: hidden;
  transition: 1s;
}
.tab.ui {
}
.tab.wire {
}
.tab.ui img,
.tab.wire img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 95vh;
  object-fit: cover;
}
.btn_front,
.btn_back {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  background-color: #333;
  color: #fff;
  font-size: 30px;
  cursor: pointer;
  transition: 0.5s;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  z-index: 9999;
}
.btn_front {
  left: 0;
  border-radius: 0 5px 5px 0;
}
.btn_back {
  right: 0;
  border-radius: 5px 0 0 5px;
}
/* Radio Checked Function */
input[id="tab1"]:checked ~ .tabs .tab.ui,
input[id="tab2"]:checked ~ .tabs .tab.wire {
  opacity: 1;
  visibility: visible;
}
input[id="tab1"]:checked ~ .btn_front {
  left: -70px;
}
input[id="tab2"]:checked ~ .btn_back {
  right: -70px;
}
