#about {
  padding: var(--section-padding);
  margin-top: 74px;
  height: calc(100vh - 74px);
}
#about .inner {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: var(--spacing-5xl);
  padding-bottom: var(--spacing-4xl);
}
/* ----- about-content ----- */
.about-content {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: var(--spacing-3xl);
  row-gap: var(--spacing-5xl);
}

/* ----- about-intro ----- */
.about-intro {
  margin: 0 auto;
  margin-top: var(--spacing-3xl);
  padding-left: var(--spacing-6xl);
}
.about-intro__title {
  color: var(--color-primary);
  font-family: var(--font-slogan);
  font-size: var(--font-size-slogan-title);
}
.about-intro__text {
  margin-top: var(--spacing-md);
  text-align: justify;
  line-height: 1.8em;
  font-size: var(--font-size-xl);
  word-break: keep-all;
}
.about-intro__text span {
  display: block;
}
.about-intro__text span b {
  font-weight: 600;
}
.about-intro__name {
  display: flex;
  align-items: end;
  gap: var(--spacing-2xl);
  margin-top: var(--spacing-4xl);
}
.about-intro__name span {
  line-height: 1.2em;
  font-size: var(--font-size-xl);
}
.about-intro__name em {
  line-height: 1em;
  font-size: var(--font-size-3xl);
  font-weight: 700;
  letter-spacing: var(--spacing-lg);
}

/* ----- about-photo ----- */
.about-photo {
  flex-shrink: 0;
  width: 320px;
  height: 450px;
}

/* ----- about-info ----- */
.about-info {
  margin-top: auto;
}
.about-info__item {
  display: flex;
  align-items: end;
  gap: var(--spacing-2xl);
}
.about-info__item:not(:last-child) {
  margin-bottom: var(--spacing-2xl);
}
.about-info__item h5 {
  width: 90px;
  line-height: 1em;
  font-size: var(--font-size-2xl);
  font-family: var(--font-EN);
  text-align: right;
  font-weight: 400;
  color: var(--color-primary);
}
.about-info__item span {
  font-size: var(--font-size-xl);
  line-height: 1em;
}
