.edu-content {
  margin-top: var(--spacing-8xl);
  padding-left: var(--spacing-7xl);
}
/* ----- edu-timeline ----- */
.edu-timeline {
  position: relative;
  display: flex;
  gap: var(--spacing-5xl);
  height: 120px;
}
.edu-timeline .title {
  margin-bottom: var(--spacing-sm);
  font-weight: 600;
}

/* ----- edu-timeline__peroid ----- */
.edu-timeline__peroid {
  flex-shrink: 0;
  width: 220px;
  text-align: right;
}
.edu-timeline__peroid-title {
  font-size: 22px;
}

/* ----- edu-timeline__line-box ----- */
.edu-timeline__line-box {
  flex-shrink: 0;
  position: relative;
  top: 4px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  height: 100%;
  margin: 0;
}
.edu-timeline__line-box .circle {
  display: inline-block;
  width: calc(36px / 2);
  height: calc(36px / 2);
  background-image: url(../../image/edu/circle.png);
  background-size: 100% 100%;
}
.edu-timeline__line-box .line {
  display: inline-block;
  width: 2px;
  flex: 1;
  background-color: var(--color-line);
}

/* ----- edu-timeline__desc ----- */
.edu-timeline__desc-title {
  font-size: var(--font-size-xl);
}
.edu-timeline__desc span {
  font-weight: 500;
  color: var(--color-primary);
  word-break: keep-all;
}
.edu-timeline__desc .regular {
  font-weight: 400;
}