/* ----- epilogue-content ----- */
.epilogue-content {
  margin-top: var(--spacing-7xl);
  padding: 0 var(--spacing-4xl);
}
.epilogue-content-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-8xl);
}

/* ----- epilogue-heading ----- */
.epilogue-heading {
  flex-shrink: 0;
  width: 500px;
}
.epilogue-heading__title {
  font-size: var(--spacing-2xl);
  font-size: 28px;
  font-weight: 600;
  line-height: 1.5em;
}
.epilogue-heading__title span {
  color: var(--color-primary);
  font-weight: 700;
  text-decoration: underline;
}
.epilogue-heading__text-box {
  margin-top: var(--spacing-lg);
  font-size: var(--spacing-xl);
}
.epilogue-heading__text {
  line-height: 1.8em;
}
.epilogue-heading__text:nth-child(2) {
  margin-top: var(--spacing-sm);
}

/* ----- epilogue-job-strength ----- */
.epilogue-job-strength__item:not(:last-child) {
  margin-bottom: var(--spacing-3xl);
}
.epilogue-job-strength__item-title {
  color: var(--color-primary);
  font-size: var(--font-size-xl);
  font-weight: 600;
}
.epilogue-job-strength__item-text {
  margin-top: var(--spacing-sm);
  line-height: 1.7em;
  text-align: justify;
  color: var(--text-color-body);
}

/* ----- epilogue-ending ----- */
.epilogue-ending {
  margin: 120px 0 var(--spacing-4xl);
  text-align: center;
  font-size: var(--spacing-3xl);
  color: var(--text-color-light);
}