.fullscreen-nav {
  display: none;
  /* display: none; jQuery로 fade 조작 */
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.9);
  backdrop-filter: blur(2px);
  z-index: 1000;
}
.fullscreen-nav-inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* ----- fullscreen-nav__item ----- */
.fullscreen-nav__item {
  position: relative;
  display: block;
  width: fit-content;
  padding: var(--spacing-2xl) var(--spacing-2xl) var(--spacing-xl) 0;
  font-family: var(--font-EN);
  font-size: var(--font-size-4xl);
  font-weight: 600;
  white-space: nowrap;
  color: var(--text-color-light);
  transition:  color 0.3s;
}
.fullscreen-nav__item:hover {
  color: var(--text-color-white);
}
.fullscreen-nav__item::after {
  content: "";
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 0;
  height: 15%;
  background-color: var(--color-primary);
  z-index: -1;
  transition: width 0.3s;
}
.fullscreen-nav__item:hover::after {
  width: 100%;
}
.fullscreen-nav__item.font-kr {
  font-family: var(--font-KR);
}