/* ---------- Header ---------- */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: var(--spacing-md) var(--spacing-6xl);
  box-shadow: var(--shadow-normal);
  transition: transform 0.3s;
  background-color: var(--color-background-white);
  z-index: 2000;
}
header.hide {
  transform: translateY(-100%);
}
.header-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--spacing-5xl);
}
/* ----- header__functional-btn ----- */
.header__functional-btn {
  order: 0;
  padding: var(--spacing-sm) var(--spacing-md);
  border: 2px solid #00ad53;
  color: var(--color-primary);
  border-radius: var(--spacing-sm);
  transition: background-color 0.2s ease, color 0.2s ease;
  font-weight: 400;
}
.header__functional-btn:hover {
  background-color: var(--color-primary);
  color: var(--text-color-white);
}
/* ----- header__gnb ----- */
.header__gnb {
  order: 1;
  flex: 1;
  display: flex;
  justify-content: center;
  column-gap: 70px;
  row-gap: 0;
  flex-wrap: wrap;
}
.header__gnb a {
  position: relative;
  line-height: var(--spacing-5xl);
  font-family: var(--font-EN);
  font-size: var(--font-size-lg);
  font-weight: 500;
  transition: color 0.4s ease;
}
.header__gnb a:hover {
  color: var(--text-color-gray);
}
.header__gnb a::after {
  content: "";
  position: absolute;
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
  width: 5px;
  height: 6px;
  border-radius: 50%;
  background-color: var(--color-primary);
  opacity: 0;
  transition: top 0.4s ease, opacity 0.2s ease;
}
.header__gnb a:hover::after {
  opacity: 1;
  top: 4px;
}

