/* ----- Mobile Web 공통 스타일 ----- */
main > section.mobile {
  font-size: var(--font-size-lg);
  padding-top: 150px;
  padding-bottom: 150px;
}
.mobile-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: var(--spacing-6xl);
  row-gap: var(--spacing-7xl);
  
  margin-top: var(--spacing-5xl);
}
.mobile-content :is(h3, h4) {
  font-weight: 600;
}

/* ----- mobile-mockup ----- */
.mobile-mockup {
  flex-shrink: 0;
  position: relative;
  width: 600px;
  height: 800px;
  margin-top: var(--spacing-6xl);
}
.mobile-mockup__item {
  width: calc(678px / 2);
  height: calc(1340px / 2);
}
.mobile-mockup__item:nth-child(2) {
  position: absolute;
  top: 130px;
  left: 260px;
}

/* ----- mobile-detail ----- */
.mobile-detail {
  width: 620px;
}
.mobile-detail__title {
  font-size: var(--font-size-section-title);
}
.mobile-detail__inner {
  margin-top: var(--spacing-sm);
}

/* ----- mobile-detail-format ----- */
.mobile-detail__format {
  margin-top: var(--spacing-3xl);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.mobile-detail__format > div {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);
}
.mobile-detail__format .title {
  font-size: var(--font-size-xl);
}
.mobile-detail__format .color-box {
  display: flex;
  width: fit-content;
  border-radius: var(--spacing-xs);
  overflow: hidden;
  box-shadow: var(--shadow-color-box);
}
.mobile-detail__format .color-item {
  width: 90px;
  padding: var(--spacing-xs) 0;
  font-size: var(--font-size-xs);
  text-align: center;
  font-weight: 500;
  font-family: var(--font-EN);
  line-height: 1em;
}
/* ----- mobile-detail-theme ----- */
.mobile-detail__theme {
  width: 270px;
}

/* ----- mobile-detail__typo ----- */
.mobile-detail__typo-color-item {
  color: var(--text-color-white);
}

/* ----- mobile-detail__typo-desc ----- */
.mobile-detail__typo-desc {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);
}
.mobile-detail__typo-desc-title {
  font-family: var(--font-EN);
  font-size: var(--font-size-lg);
  font-weight: 500;
}
.mobile-detail__typo-desc-list {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xs);
  margin-top: var(--spacing-xs);
}
.mobile-detail__typo-desc-list-item {
  display: flex;
  align-items: center;
  gap: var(--spacing-sm);
}
.mobile-detail__typo-desc-list-item b {
  font-weight: 400;
}
.mobile-detail__typo-desc-list-item::before {
  content: "";
  display: inline-block;
  width: 4px;
  height: 4px;
  border-radius: 50%;
}

/* ----- mobile-detail-bottom-wrapper ----- */
.mobile-detail-bottom-wrapper .title {
  font-size: var(--font-size-2xl);
}

/* ----- mobile-detail__function ----- */
.mobile-detail__function-list {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xs);
  margin-top: var(--spacing-sm);
}
.mobile-detail__function-list-item {
  display: flex;
  align-items: center;
  gap: var(--spacing-md);
  font-weight: 400;
}
.mobile-detail__function-list-item .dot {
  display: inline-block;
  width: calc(18px / 2);
  height: calc(18px / 2);
  background-size: 100% 100%;
}

/* ----- mobile-detail__work-list ----- */
.mobile-detail__work-list {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-lg);
  margin-top: var(--spacing-3xl);
}
.mobile-detail__work-list-title {
  text-align: center;
}
.mobile-detail__work-list-table-wrapper {
  display: flex;
  overflow: hidden;
  border-radius: var(--spacing-md);
  background-color: #FCFCFC;
  box-shadow: var(--shadow-normal);
}
.mobile-detail__work-list-table {
  flex: 1;
  border-collapse: collapse;
}
.mobile-detail__work-list-table :is(th, td) {
  line-height: 1.5em;
  vertical-align: middle;
}
.mobile-detail__work-list-table th {
  padding: var(--spacing-sm) var(--spacing-lg);
  font-weight: 500;
  text-align: center;
}
.mobile-detail__work-list-table thead th {
  color: var(--text-color-white);
}
.mobile-detail__work-list-table td {
  padding: var(--spacing-md) var(--spacing-xl);
}
.mobile-detail__work-list-table tbody th {
    font-weight: 600;
}

/* ----- mobile-detail__btn-box ----- */
.mobile-detail__btn-box {
  display: flex;
  gap: var(--spacing-lg);
  margin-top: var(--spacing-2xl);
}
.mobile-detail__btn-box a {
  display: inline-block;
  width: 130px;
  padding: var(--spacing-sm) 0;
  border-radius: var(--spacing-sm);
  font-size: var(--font-size-lg);
  text-align: center;
  color: var(--text-color-white);
  box-shadow: var(--shadow-color-box-light);
  transition: transform 0.2s ease;
}
.mobile-detail__btn-box a:hover {
  transform: scale(1.05);
}
.mobile-detail__btn-box a:active {
  transform: scale(0.95);
}

/* ---------- Redefine 개별 스타일 ---------- */
#redefine {
  background-color: #f2f8fe;
}
/* ----- Redefine - mobile-detail-theme ----- */
#redefine .mobile-detail__theme-color-item:nth-child(1) {
  background-color: var(--redefine-color-primary);
  color: var(--text-color-white);
}
#redefine .mobile-detail__theme-color-item:nth-child(2) {
  background-color: #FFFFFF;
}
#redefine .mobile-detail__theme-color-item:nth-child(3) {
  background-color: #F4C500;
}

/* ----- Redefine - mobile-detail__typo ----- */
#redefine .mobile-detail__typo-color-item:nth-child(1) {
  background-color: #333333;
}
#redefine .mobile-detail__typo-color-item:nth-child(2) {
  background-color: #777777;
}
#redefine .mobile-detail__typo-color-item:nth-child(3) {
  background-color: #999999;
}

/* ----- Redefine - mobile-detail__typo-desc ----- */
#redefine .mobile-detail__typo-desc-list-item::before {
  background-color: var(--redefine-color-primary);
}

/* ----- Redefine - mobile-detail-bottom-wrapper ----- */
#redefine .mobile-detail-bottom-wrapper {
  margin-top: -16px;
}

/* ----- Redefine - mobile-detail__function ----- */
#redefine .mobile-detail__function-list-item .dot {
  background-image: url(../../image/mobile_web/redefine-dot.png);
}

/* ----- Redefine - mobile-detail__work-list ----- */
#redefine .mobile-detail__work-list-table-wrapper {
  border: 1px solid var(--redefine-color-primary-light);
}
#redefine .mobile-detail__work-list-table thead th {
  background-color: var(--redefine-color-primary-light);
}
#redefine .mobile-detail__work-list-table thead th:first-child {
  border-right: 1px solid var(--color-background-white);
}
#redefine .mobile-detail__work-list-table tbody th {
    border-right: 1px solid var(--redefine-color-primary-light);
    font-weight: 600;
}
#redefine .mobile-detail__work-list-table tbody tr:not(:last-child) {
  border-bottom: 1px solid var(--redefine-color-primary-light);
}

/* ----- Redefine - mobile-detail__btn-box ----- */
#redefine .mobile-detail__btn-box {
  justify-content: space-evenly;
}
#redefine .mobile-detail__btn-box a {
  background-color: var(--redefine-color-primary-light);
}


/* ---------- Market Fresh 개별 스타일 ---------- */
#market {
  background-color: var(--market-color-background);
}
/* ----- Market - mobile-detail-theme ----- */
#market .mobile-detail__theme-color-item:nth-child(1) {
  background-color: var(--market-color-primary);
  color: var(--text-color-white);
}
#market .mobile-detail__theme-color-item:nth-child(2) {
  background-color: #FFFFFF;
}
#market .mobile-detail__theme-color-item:nth-child(3) {
  background-color: #3498DB;
  color: var(--text-color-white);
}

/* ----- Market - mobile-detail__typo ----- */
#market .mobile-detail__typo-color-item:nth-child(1) {
  background-color: #111111;
}
#market .mobile-detail__typo-color-item:nth-child(2) {
  background-color: #777777;
}
#market .mobile-detail__typo-color-item:nth-child(3) {
  background-color: #9c9c9e;
}

/* ----- Market - mobile-detail__typo-desc ----- */
#market .mobile-detail__typo-desc-list-item::before {
  background-color: var(--market-color-primary);
}

/* ----- Market - mobile-detail__function ----- */
#market .mobile-detail__function-list-item .dot {
  background-image: url(../../image/mobile_web/market-dot.png);
}

/* ----- Market - mobile-detail__work-list ----- */
#market .mobile-detail__work-list-table-wrapper {
  border: 1px solid var(--market-color-primary-light);
}
#market .mobile-detail__work-list-table thead th {
  background-color: var(--market-color-primary-light);
}
#market .mobile-detail__work-list-table thead th:first-child {
  border-right: 1px solid var(--color-background-white);
}
#market .mobile-detail__work-list-table tbody th {
    border-right: 1px solid var(--market-color-primary-light);
    font-weight: 600;
}
#market .mobile-detail__work-list-table tbody tr:not(:last-child) {
  border-bottom: 1px solid var(--market-color-primary-light);
}

/* ----- Market - mobile-detail__btn-box ----- */
#market .mobile-detail__btn-box {
  padding: 0 var(--spacing-sm);
}
#market .mobile-detail__btn-box a {
  background-color: var(--market-color-primary-light);
}