/* ########## Section - React ########## */
main > section#react {
  background-color: var(--color-react-bg);
  color: var(--color-react-text);
  font-size: var(--font-size-lg);
}

/* ----- react-mockup__main ----- */
.react-mockup__main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-32);
  width: 100%;
}

/* react-content__links */
.react-content__links {
  display: flex;
  justify-content: center;
  gap: var(--spacing-24);
  margin-top: var(--spacing-60);
}
.react-content__link {
  display: inline-block;
  width: 130px;
  padding: var(--spacing-8) 0;
  border-radius: var(--spacing-8);
  background-color: var(--color-react-primary);
  box-shadow: var(--shadow-color-box-light);
  font-weight: 500;
  text-align: center;
  opacity: 1;
  transition: transform 0.2s ease, opacity 0.2s ease;
}
.react-content__link:hover {
  opacity: 0.7;
}
.react-content__link .expect-pc {
  display: none;
}


/* ----- Row 1: react-intro ----- */
/* react-info */
.react-info {
  align-items: end;
}

/* react-info__intro-subtitle */
.react-info__intro-subtitle::before {
  background-color: var(--color-react-primary);
}

/* react-info__right */
.react-info__right {
  align-self: end;
}


/* react-info__function(App 주요 기능) */
.react-info__function {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-top: var(--spacing-40);
  margin-bottom: var(--spacing-16);
}
.react-info__function-title {
  font-size: var(--font-size-2xl);
  font-weight: 600;
}
.react-info__function-list {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-8);
  margin-top: var(--spacing-12);
}
.react-info__function-list-item {
  display: flex;
  align-items: center;
  gap: var(--spacing-12);
  font-size: var(--font-size-xl);
}
.react-info__function-list-item .dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-image: url(../../images/react/dot.png);
  background-size: 100% 100%;
}

/* react-info__mockup-items */
.react-info__mockup-items {
  display: flex;
  justify-content: space-between;
  gap: var(--spacing-32);
}
.react-info__mockup-item--mobile {
  max-width: 160px;
}
.react-info__mockup-item--mobile:nth-child(2) {
  margin-top: var(--spacing-60);
}


/* ----- Row 2: 개요 테이블 ----- */
/* react-overview */
.react-overview {
  align-items: center;
}

/* react-table - 색상 */
.react-overview__table thead th {
  background-color: var(--color-react-primary);
}
.react-overview__table tbody tr:hover th,
.react-overview__table tbody tr:hover td {
  background-color: var(--color-react-bg);
}
.react-overview__table-list li::before {
  background-color: var(--color-react-primary);
}


/* ----- Row 3: 컬러/타이포 ----- */
.react-format__inner {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-40);
}

/* 컬러 / 타이포 공통 */
.react-format__color-box {
  display: flex;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: var(--spacing-24) 0 var(--spacing-20);
  border-radius: var(--spacing-4);
  overflow: hidden;
  box-shadow: var(--shadow-color-box);
}
.react-format__color-item {
  width: 100px;
  padding: var(--spacing-4) 0;
  font-family: var(--font-EN);
  font-size: var(--font-size-sm);
  font-weight: 500;
  line-height: 1.1;
  text-align: center;
}

.react-format__title {
  font-size: var(--font-size-2xl);
  font-weight: 600;
}

.react-format__theme-item:nth-child(1) {
  background-color: var(--color-react-primary);
}
.react-format__theme-item:nth-child(2) {
  background-color: #FCFCFC;
}
.react-format__theme-item:nth-child(3) {
  background-color: #DFDFDF;
}
.react-format__theme-desc {
  line-height: 1.6em;
  text-align: left;
  word-break: keep-all;
}

/* react-format__typo */
.react-format__typo-item {
  color: var(--text-color-white);
}
.react-format__typo-item:nth-child(1) {
  background-color: #1E2723;
}
.react-format__typo-item:nth-child(2) {
  background-color: #707070;
}
.react-format__typo-item:nth-child(3) {
  background-color: #8F8FA4;
}

/* react-format__typo-desc */
.react-format__typo-desc {
  display: flex;
  justify-content: space-between;
  max-width: 340px;
}
.react-format__typo-list-title {
  font-family: var(--font-EN);
  font-size: var(--font-size-xl);
  font-weight: 600;
}
.react-format__typo-list {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-12);
  margin-top: var(--spacing-12);
}
.react-format__typo-list li {
  position: relative;
  padding-left: var(--spacing-12);
}
.react-format__typo-list li::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: var(--color-react-primary);
}
