main > section#react {
  background-color: var(--react-background-color);
  color: var(--react-text-color);
  font-size: var(--font-size-lg);
  padding-top: 160px;
  padding-bottom: 100px;
}

/* ----- react-content ----- */
.react-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  -moz-column-gap: var(--spacing-7xl);
  column-gap: var(--spacing-7xl);
  margin-top: var(--spacing-8xl);
}
.react-content :is(h3, h4) {
  font-weight: 700;
}

/* ----- react-mockup ----- */
.react-mockup {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-7xl);
  max-width: 1200px;
}

/* react-mockup__item */
.react-mockup__item-box {
  display: flex;
  justify-content: space-between;
  gap: var(--spacing-6xl);
  width: 100%;
}
.react-mockup__item-box img {
  width: 100%;
  height: auto;
  filter: drop-shadow(var(--shadow-mockup));
}


.react-mockup__item-box-mobile {
  justify-content: space-around;
}
.react-mockup__item-mobile {
  max-width: 240px;
}
.react-mockup__item-mobile:nth-child(1) {

}
.react-mockup__item-mobile:nth-child(2) {
  margin-top: var(--spacing-6xl);
}


/* .react-mockup__item-tablet {
  flex: 1;
  max-width: 500px;
}
.react-mockup__item-mobile {
  flex: 1;
  max-width: 280px;
}
.react-mockup__item-pc {
  width: 100%;
} */

/* ----- react-detail ----- */
.react-detail {
  flex: 1;
}
.react-detail__title {
  font-size: var(--font-size-section-title);
}
.react-detail__inner {
  margin-top: var(--spacing-sm);
}

/* ----- react-detail__app-intro ----- */
.react-detail__app-intro p {
  font-size: var(--font-size-xl);
  line-height: 1.6em;
  text-align: left;
  word-break: keep-all;
}

/* react-detail__btn-box */
.react-detail__btn-box {
  display: flex;
  justify-content: center;
  gap: var(--spacing-3xl);
  margin-top: var(--spacing-2xl);
}
.react-detail__btn {
  display: inline-block;
  width: 130px;
  padding: var(--spacing-sm) 0;
  border-radius: var(--spacing-sm);
  background-color: var(--react-color-primary);
  box-shadow: var(--shadow-color-box-light);
  text-align: center;
  opacity: 1;
  transition: transform 0.2s ease, opacity 0.2s ease;
}
.react-detail__btn:hover {
  opacity: 0.7;
  transform: scale(1.05);
}
.react-detail__btn::before {
  content: attr(data-label-pc);
  font-size: var(--font-size-lg);
  font-weight: 500;
}

/* ----- react-detail__format ----- */
.react-detail__format {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: var(--spacing-3xl);
}
.react-detail__format > div {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);
}
.react-detail__format .title {
  font-size: var(--font-size-2xl);
}
.react-detail__format .color-box {
  display: flex;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: var(--spacing-xs);
  overflow: hidden;
  box-shadow: var(--shadow-color-box);
}
.react-detail__format .color-item {
  width: 90px;
  padding: var(--spacing-xs) 0;
  font-family: var(--font-EN);
  font-size: var(--font-size-xs);
  font-weight: 500;
  line-height: 1em;
  text-align: center;
}

/* ----- react-detail__theme ----- */
.react-detail__theme {
  width: 270px;
}
.react-detail__theme-color-item:nth-child(1) {
  background-color: var(--react-color-primary);
}
.react-detail__theme-color-item:nth-child(2) {
  background-color: #FCFCFC;
}
.react-detail__theme-color-item:nth-child(3) {
  background-color: #DFDFDF;
}

/* ----- react-detail__typo ----- */
.react-detail__typo-color-item {
  color: var(--text-color-white);
}
.react-detail__typo-color-item:nth-child(1) {
  background-color: #1E2723;
}
.react-detail__typo-color-item:nth-child(2) {
  background-color: #707070;
}
.react-detail__typo-color-item:nth-child(3) {
  background-color: #8F8FA4;
}

/* react-detail__typo-desc */
.react-detail__typo-desc {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);
}
.react-detail__typo-desc-title {
  font-family: var(--font-EN);
  font-size: var(--font-size-xl);
  font-weight: 600;
}
.react-detail__typo-desc-title .text-small {
  margin-left: var(--spacing-xs);
  font-size: var(--font-size-sm);
  color: var(--text-color-gray);
}
.react-detail__typo-desc-list {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xs);
  margin-top: var(--spacing-xs);
}
.react-detail__typo-desc-list-item {
  display: flex;
  align-items: center;
  gap: var(--spacing-sm);
}
.react-detail__typo-desc-list-item b {
  font-weight: 500;
}
.react-detail__typo-desc-list-item b.font-kr {
  font-weight: 600;
}
.react-detail__typo-desc-list-item::before {
  content: "";
  display: inline-block;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: var(--react-color-primary);
}

/* ----- react-detail-bottom-wrapper ----- */
.react-detail-bottom-wrapper {
  position: relative;
  top: -72px;
}
.react-detail-bottom-wrapper .title {
  font-size: var(--font-size-2xl);
}

/* ----- react-detail__function ----- */
.react-detail__function-list {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xs);
  margin-top: var(--spacing-sm);
}
.react-detail__function-list-item {
  display: flex;
  align-items: center;
  gap: var(--spacing-sm);
}
.react-detail__function-list-item .dot {
  display: inline-block;
  width: calc(18px / 2);
  height: calc(18px / 2);
  background-image: url(../../images/react/dot.png);
  background-size: 100% 100%;
}

/* ----- react-detail__work-list ----- */
.react-detail__work-list {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-lg);
  margin-top: var(--spacing-3xl);
}

/* react-detail__work-list-table */
.react-detail__work-list-table-wrapper {
  width: 100%;
  margin: 0 auto;
}
.react-detail__work-list-table thead th {
  background-color: var(--react-color-primary);
}
.react-detail__work-list-table tbody tr:hover th,
.react-detail__work-list-table tbody tr:hover td {
  background-color: var(--react-background-color);
}

/* react-detail__achievement-list */
.react-detail__achievement-list li::before {
  background-color: var(--react-color-primary);
}