/* ########## Section - React ########## */
main > section#react {
  background-color: var(--color-react-bg);
  color: var(--color-react-text);
  font-size: var(--font-size-lg);
  padding-top: 160px;
  padding-bottom: 100px;
}

/* ---------- react-content ---------- */
/* ----- react-mockup ----- */
.react-mockup {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-3xl);
  width: 100%;
}
.react-mockup__total {
  width: 100%;
}
.react-mockup__total img {
  width: 100%;
  height: auto;
  filter: drop-shadow(var(--shadow-mockup));
}

/* react-mockup__btn-box */
.react-mockup__btn-box {
  display: flex;
  justify-content: center;
  gap: var(--spacing-2xl);
  margin-top: var(--spacing-4xl);
}
.react-mockup__btn {
  display: inline-block;
  width: 130px;
  padding: var(--spacing-sm) 0;
  border-radius: var(--spacing-sm);
  background-color: var(--color-react-primary);
  box-shadow: var(--shadow-color-box-light);
  text-align: center;
  opacity: 1;
  transition: transform 0.2s ease, opacity 0.2s ease;
}
.react-mockup__btn:hover {
  opacity: 0.7;
}
.react-mockup__btn::before {
  content: attr(data-label-pc);
  font-weight: 500;
}


/* ----- Row 1: react-intro ----- */
/* react-info */
.react-info {
  min-height: 500px;
}

/* react-info__intro-subtitle */
.react-info__intro-subtitle::before {
  background-color: var(--color-react-primary);
}

/* react-info__right */
.react-info__right {
  align-self: end;
}


/* react-info__function(App 주요 기능) */
.react-info__function {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-top: var(--spacing-4xl);
  margin-bottom: var(--spacing-lg);
}
.react-info__function-title {
  font-size: var(--font-size-2xl);
  font-weight: 600;
}
.react-info__function-list {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-sm);
  margin-top: var(--spacing-md);
}
.react-info__function-list-item {
  display: flex;
  align-items: center;
  gap: var(--spacing-md);
  font-size: var(--font-size-xl);
}
.react-info__function-list-item .dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-image: url(../../images/react/dot.png);
  background-size: 100% 100%;
}

/* react-mockups */
.react-mockups {
  display: flex;
  justify-content: space-between;
  gap: var(--spacing-3xl);
}
.react-mockup--mobile {
  max-width: 160px;
}
.react-mockup--mobile:nth-child(2) {
  margin-top: var(--spacing-6xl);
}


/* ----- Row 2: 개요 테이블 ----- */
/* react-overview */
.react-overview {
  align-items: center;
}

/* react-table - 색상 */
.react-table__content thead th {
  background-color: var(--color-react-primary);
}
.react-table__content tbody tr:hover th,
.react-table__content tbody tr:hover td {
  background-color: var(--color-react-bg);
}
.react-table__achievement-list li::before {
  background-color: var(--color-react-primary);
}


/* ----- Row 3: 컬러/타이포 ----- */
.react-format__wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-4xl);
}

/* 컬러 / 타이포 공통 */
.react-format__color-box {
  display: flex;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: var(--spacing-2xl) 0 var(--spacing-xl);
  border-radius: var(--spacing-xs);
  overflow: hidden;
  box-shadow: var(--shadow-color-box);
}
.color-item {
  width: 100px;
  padding: var(--spacing-xs) 0;
  font-family: var(--font-EN);
  font-size: var(--font-size-sm);
  font-weight: 500;
  line-height: 1.1;
  text-align: center;
}

.react-format__title {
  font-size: var(--font-size-2xl);
  font-weight: 600;
}

.react-format__color-item:nth-child(1) {
  background-color: var(--color-react-primary);
}
.react-format__color-item:nth-child(2) {
  background-color: #FCFCFC;
}
.react-format__color-item:nth-child(3) {
  background-color: #DFDFDF;
}
.react-format__desc {
  line-height: 1.6em;
  text-align: left;
  word-break: keep-all;
}

/* react-format__typo */
.react-format__typo-item {
  color: var(--text-color-white);
}
.react-format__typo-item:nth-child(1) {
  background-color: #1E2723;
}
.react-format__typo-item:nth-child(2) {
  background-color: #707070;
}
.react-format__typo-item:nth-child(3) {
  background-color: #8F8FA4;
}

/* react-format__typo-desc */
.react-format__typo-desc {
  display: flex;
  justify-content: space-between;
  max-width: 340px;
}
.react-format__typo-list-title {
  font-family: var(--font-EN);
  font-size: var(--font-size-xl);
  font-weight: 600;
}
.react-format__typo-list {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);
  margin-top: var(--spacing-md);
}
.react-format__typo-list li {
  position: relative;
  padding-left: var(--spacing-md);
}
.react-format__typo-list li::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: var(--color-react-primary);
}