main > section#react {
  background-color: var(--react-background-color);
  color: var(--react-text-color);
  font-size: var(--font-size-lg);
  padding-top: 150px;
  padding-bottom: 100px;
}
.react-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: var(--spacing-5xl);
  row-gap: var(--spacing-7xl);
  margin-top: var(--spacing-6xl);
}
.react-content :is(h3, h4) {
  font-weight: 600;
}

/* ----- react-mockup ----- */
.react-mockup {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: var(--spacing-lg);
  margin-top: var(--spacing-6xl);
}
.react-mockup__item-box:first-child {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.react-mockup__item-tablet {
  width: calc(912px / 2);
  height: calc(670px / 2);
}
.react-mockup__item-mobile {
  width: calc(344px / 2);
  height: calc(670px / 2);
}
.react-mockup__item-pc {
  width: calc(1280px / 2);
  height: calc(1066px / 2);
}

/* ----- react-detail ----- */
.react-detail {
  width: 590px;
}
.react-detail__title {
  font-size: var(--font-size-section-title);
}
.react-detail__inner {
  margin-top: var(--spacing-sm);
}

/* ----- react-detail-format ----- */
.react-detail__format {
  margin-top: var(--spacing-3xl);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.react-detail__format > div {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);
}
.react-detail__format .title {
  font-size: var(--font-size-xl);
}
.react-detail__format .color-box {
  display: flex;
  width: fit-content;
  border-radius: var(--spacing-xs);
  overflow: hidden;
  box-shadow: var(--shadow-color-box);
}
.react-detail__format .color-item {
  width: 90px;
  padding: var(--spacing-xs) 0;
  font-size: var(--font-size-xs);
  text-align: center;
  font-weight: 500;
  font-family: var(--font-EN);
  line-height: 1em;
}
/* ----- react-detail-theme ----- */
.react-detail__theme {
  width: 270px;
}
.react-detail__theme-color-item:nth-child(1) {
  background-color: var(--react-color-primary);
}
.react-detail__theme-color-item:nth-child(2) {
  background-color: #FCFCFC;
}
.react-detail__theme-color-item:nth-child(3) {
  background-color: #DFDFDF;
}

/* ----- react-detail__typo ----- */
.react-detail__typo-color-item {
  color: var(--text-color-white);
}
.react-detail__typo-color-item:nth-child(1) {
  background-color: #1E2723;
}
.react-detail__typo-color-item:nth-child(2) {
  background-color: #707070;
}
.react-detail__typo-color-item:nth-child(3) {
  background-color: #8F8FA4;
}
.react-detail__typo-desc {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);
}
.react-detail__typo-desc-title {
  font-family: var(--font-EN);
  font-size: var(--font-size-lg);
  font-weight: 500;
}
.react-detail__typo-desc-list {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xs);
  margin-top: var(--spacing-xs);
}
.react-detail__typo-desc-list-item {
  display: flex;
  align-items: center;
  gap: var(--spacing-sm);
}
.react-detail__typo-desc-list-item b {
  font-weight: 400;
}
.react-detail__typo-desc-list-item::before {
  content: "";
  display: inline-block;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: var(--react-color-primary);
}

/* ----- react-detail-bottom-wrapper ----- */
.react-detail-bottom-wrapper {
  position: relative;
  top: -72px;
}
.react-detail-bottom-wrapper .title {
  font-size: var(--font-size-2xl);
}

/* ----- react-detail__function ----- */
.react-detail__function-list {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xs);
  margin-top: var(--spacing-sm);
}
.react-detail__function-list-item {
  display: flex;
  align-items: center;
  gap: var(--spacing-md);
  font-weight: 400;
}
.react-detail__function-list-item .dot {
  display: inline-block;
  width: calc(18px / 2);
  height: calc(18px / 2);
  background-image: url(../../image/react/dot.png);
  background-size: 100% 100%;
}

/* ----- react-detail__work-list ----- */
.react-detail__work-list {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-lg);
  margin-top: var(--spacing-3xl);
}
.react-detail__work-list-title {
  text-align: center;
}
.react-detail__work-list-table-wrapper {
  display: flex;
  overflow: hidden;
  border: 1px solid var(--react-color-primary);
  border-radius: var(--spacing-md);
  background-color: #FCFCFC;
  box-shadow: var(--shadow-normal);
}
.react-detail__work-list-table {
  flex: 1;
  border-collapse: collapse;
}
.react-detail__work-list-table :is(th, td) {
  line-height: 1.5em;
  vertical-align: middle;
}
.react-detail__work-list-table th {
  padding: var(--spacing-sm) var(--spacing-2xl);
  font-weight: 500;
}
.react-detail__work-list-table td {
  padding: var(--spacing-sm) var(--spacing-3xl);
}
.react-detail__work-list-table thead th {
  background-color: var(--react-color-primary);
}
.react-detail__work-list-table thead th:first-child {
  border-right: 1px solid var(--react-background-color);
}
.react-detail__work-list-table tbody th {
    border-right: 1px solid var(--react-color-primary);
    font-weight: 600;
}
.react-detail__work-list-table tbody tr:not(:last-child) {
  border-bottom: 1px solid var(--react-color-primary);
}

/* ----- react-detail__btn-box ----- */
.react-detail__btn-box {
  display: flex;
  justify-content: space-evenly;
  gap: var(--spacing-lg);
  margin-top: var(--spacing-2xl);
}
.react-detail__btn-box a {
  display: inline-block;
  width: 130px;
  padding: var(--spacing-sm) 0;
  border-radius: var(--spacing-sm);
  background-color: var(--react-color-primary);
  font-size: var(--font-size-lg);
  text-align: center;
  font-weight: 400;
  box-shadow: var(--shadow-color-box-light);
  transition: transform 0.2s ease;
}
.react-detail__btn-box a:hover {
  transform: scale(1.05);
}
.react-detail__btn-box a:active {
  transform: scale(0.95);
}