@charset "utf-8";

/* ========== SECTIONS-TOP.CSS ==========
 * 상단 섹션 스타일 (About, Skill, Edu)
 * ====================================== */


/* ########## About Section ########## */
#about {
  padding: var(--section-padding);
  margin-top: 74px;
  height: calc(100vh - 74px);
}
#about .inner {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: var(--spacing-5xl);
  padding-bottom: var(--spacing-4xl);
}

/* ----- about-content ----- */
.about-content {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: var(--spacing-3xl);
  row-gap: var(--spacing-5xl);
}

/* ----- about-intro ----- */
.about-intro {
  margin: 0 auto;
  margin-top: var(--spacing-3xl);
  padding-left: var(--spacing-6xl);
}
.about-intro__title {
  color: var(--color-primary);
  font-family: var(--font-slogan);
  font-size: var(--font-size-slogan-title);
}
.about-intro__text {
  margin-top: var(--spacing-md);
  text-align: justify;
  line-height: 1.8em;
  font-size: var(--font-size-xl);
  word-break: keep-all;
}
.about-intro__text span {
  display: block;
}
.about-intro__text span b {
  font-weight: 600;
}
.about-intro__name {
  display: flex;
  align-items: end;
  gap: var(--spacing-2xl);
  margin-top: var(--spacing-4xl);
}
.about-intro__name span {
  line-height: 1.2em;
  font-size: var(--font-size-xl);
}
.about-intro__name em {
  line-height: 1em;
  font-size: var(--font-size-3xl);
  font-weight: 700;
  letter-spacing: var(--spacing-lg);
}

/* ----- about-photo ----- */
.about-photo {
  flex-shrink: 0;
  width: 320px;
  height: 450px;
}

/* ----- about-info ----- */
.about-info {
  margin-top: auto;
}
.about-info__item {
  display: flex;
  align-items: end;
  gap: var(--spacing-2xl);
}
.about-info__item:not(:last-child) {
  margin-bottom: var(--spacing-2xl);
}
.about-info__item h5 {
  width: 90px;
  line-height: 1em;
  font-size: var(--font-size-2xl);
  font-family: var(--font-EN);
  text-align: right;
  font-weight: 400;
  color: var(--color-primary);
}
.about-info__item span {
  font-size: var(--font-size-xl);
  line-height: 1em;
}


/* ########## Skill Section ########## */

/* ----- skill-content ----- */
.skill-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: var(--spacing-5xl);
  margin-top: var(--spacing-7xl);
}

/* ----- skill-item ----- */
.skill-item {
  position: relative;
  width: 390px;
  padding: var(--spacing-2xl);
  box-shadow: var(--shadow-color-box-light);
  border-radius: var(--spacing-lg);
  background-color: var(--color-skill-item-bg);
  cursor: pointer;
  transition: transform 0.2s;
}
.skill-item:hover {
  transform: scale(1.05);
}
.skill-item--on {
  z-index: 10;
}
.skill-item--on:hover {
  transform: none;
}

/* ----- skill-item__icon-box ----- */
.skill-item__icon-box {
  width: 100%;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 36px;
  padding: var(--spacing-lg);
  border-radius: var(--spacing-md);
  background-color: var(--color-background-white);
  box-shadow: inset 0px 0px 4px 0px rgba(0, 0, 0, 0.2);
}
.skill-item__icon {
  width: calc(84px / 2);
  height: calc(84px / 2);
}
.skill-item__icon.mini {
  width: calc(74px / 2);
}
.skill-item__icon.react {
  width: calc(94px / 2);
}
.skill-item__icon.git {
  width: calc(158px / 2);
}
.skill-item__icon.svn {
  width: calc(114px / 2);
}

/* ----- skill-item__text-box ----- */
.skill-item__text-box {
  margin-top: var(--spacing-2xl);
}
.skill-item__text-box-title {
  display: flex;
  justify-content: center;
  gap: var(--spacing-sm);
  font-size: var(--font-size-2xl);
  font-weight: 600;
  text-align: center;
  font-family: var(--font-EN);
}
.skill-item__text-box-desc {
  position: absolute;
  top: calc(100% - 12px);
  left: 0;
  width: 100%;
  max-height: 0;
  overflow: hidden;
  padding: 0 var(--spacing-2xl) 0;
  border-radius: 0 0 var(--spacing-lg) var(--spacing-lg);
  background-color: var(--color-skill-item-bg);
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.2);
  transition: max-height 0.4s, padding 0.2s;
  z-index: 1;
  pointer-events: none;
}
.skill-item--on .skill-item__text-box-desc {
  padding: 0 var(--spacing-2xl) var(--spacing-2xl);
  max-height: 500px;
}
.skill-item__text-box-desc p {
  font-size: var(--font-size-lg);
  line-height: 1.6em;
  background-color: var(--color-background-white);
  border-radius: var(--spacing-lg);
  padding: var(--spacing-md) var(--spacing-lg);
  box-shadow: inset 0px 0px 4px 0px rgba(0, 0, 0, 0.2);
}


/* ########## Edu (Experience) Section ########## */

/* ----- edu-content ----- */
.edu-content {
  margin-top: var(--spacing-8xl);
  padding-left: var(--spacing-7xl);
}

/* ----- edu-timeline ----- */
.edu-timeline {
  position: relative;
  display: flex;
  gap: var(--spacing-5xl);
  height: 120px;
}
.edu-timeline .title {
  margin-bottom: var(--spacing-sm);
  font-weight: 600;
}

/* ----- edu-timeline__peroid ----- */
.edu-timeline__peroid {
  flex-shrink: 0;
  width: 220px;
  text-align: right;
}
.edu-timeline__peroid-title {
  font-size: 22px;
}
.edu-timeline__peroid-content {
  font-weight: 400;
  text-align: right;
}

/* ----- edu-timeline__line-box ----- */
.edu-timeline__line-box {
  flex-shrink: 0;
  position: relative;
  top: 4px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  height: 100%;
  margin: 0;
}
.edu-timeline__line-box .circle {
  display: inline-block;
  width: calc(36px / 2);
  height: calc(36px / 2);
  background-image: url(../../images/edu/circle.png);
  background-size: 100% 100%;
}
.edu-timeline__line-box .line {
  display: inline-block;
  width: 2px;
  flex: 1;
  background-color: var(--color-line);
}

/* ----- edu-timeline__desc ----- */
.edu-timeline__desc-title {
  font-size: var(--font-size-xl);
}
.edu-timeline__desc-content {
  font-weight: 500;
  color: var(--color-primary);
  word-break: keep-all;
}
.edu-timeline__desc .regular {
  font-weight: 400;
}
