/* ========== SECTIONS-BOTTOM.CSS ==========
 * 하단 섹션 스타일 (Practical, Epilogue)
 * ========================================= */


/* ########## PRACTICAL SECTION ########## */
/* ----- practical-content ----- */
.practical-content {
  margin-top: var(--spacing-100);
}

/* ----- practical-slider ----- */
.practical-slider:not(:last-child) {
  margin-bottom: var(--spacing-100);
}

.practical-slider__title {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: var(--spacing-8);
  padding-left: var(--spacing-16);
  font-family: var(--font-EN);
  font-size: var(--font-size-2xl);
  font-weight: 600;
  line-height: 1;
  letter-spacing: 0.2px;
  color: var(--text-color-title);
}

.practical-slider__title::before {
  content: "";
  display: inline-block;
  width: 8px;
  height: 8px;
  background-color: var(--color-primary);
  flex-shrink: 0;
}

/* ----- practical-slider__item ----- */
.practical-slider__item {
  position: relative;
  display: block;
  width: 100%;
  height: 0;
  padding-bottom: 62.5%;
  border: 1px solid rgba(var(--color-black-rgb), 0.1);
  border-radius: 8px;
  overflow: hidden;
  box-shadow: var(--shadow-color-box-light);
  transition: filter 0.3s, transform 0.3s;
}
/* aspect-ratio 지원하는 브라우저에만 적용 */
@supports (aspect-ratio: 16 / 9) {
  .practical-slider__item {
    height: auto;
    padding-bottom: 0;
    aspect-ratio: 16 / 9;
  }
}
.practical-slider__item:hover {
  filter: brightness(0.8);
  transform: scale(1.02)
}
.practical-slider__item:active {
  transform: scale(0.95);
}

/* ---------- Custom Slider Padding ---------- */
/* Box-shadow 잘림 방지를 위한 패딩 */
.practical-slider__box {
  position: relative;
  overflow: hidden;
  padding: 0 var(--spacing-16);
}
.practical-slider__box .ui-slider__wrapper {
  padding: var(--spacing-16) 0;
}
/* ########## END - PRACTICAL SECTION ########## */


/* ========== EPILOGUE SECTION ========== */
/* ----- epilogue-content ----- */
.epilogue-content {
  max-width: 1200px;
  margin: var(--spacing-100) auto 0;
}
.epilogue-content__inner {
  padding: 0 160px;
}

/* ----- epilogue-introduce ----- */
.epilogue-introduce__title {
  font-size: var(--font-size-3xl);
  font-weight: 700;
  text-align: center;
  letter-spacing: -0.5px;
  line-height: 1.4;
  word-break: keep-all;
  margin-bottom: var(--spacing-64);
  color: var(--text-color-title);
}

/* epilogue-introduce__item */
.epilogue-introduce__item:not(:last-child) {
  margin-bottom: var(--spacing-48);
}

.epilogue-introduce__item-title {
  color: var(--color-primary);
  font-size: var(--font-size-2xl);
  font-weight: 600;
  letter-spacing: -0.5px;
}

.epilogue-introduce__item-text {
  margin-top: var(--spacing-16);
  font-size: var(--font-size-lg);
  line-height: 1.8;
  word-break: keep-all;
  color: var(--text-color-gray);
}
.epilogue-introduce__item-text p {
  text-align: left;
}
.epilogue-introduce__item-text p:not(:last-child) {
  margin-bottom: var(--spacing-12);
}
.epilogue-introduce__item-text b {
  color: var(--text-color-body);
}

/* ----- epilogue-ending ----- */
.epilogue-ending {
  margin-top: var(--spacing-100);
  padding: 0 var(--spacing-64);
}

.epilogue-ending__title {
  font-size: var(--font-size-3xl);
  line-height: 1.4;
  font-weight: 400;
  word-break: keep-all;
  letter-spacing: -0.5px;
  color: var(--text-color-title);
}
.epilogue-ending__greeting {
  display: block;
}
.epilogue-ending__title-name {
  color: var(--color-primary);
  font-weight: 800;
  letter-spacing: 8px;
  margin-left: var(--spacing-4);
  margin-right: -4px;
}
.epilogue-ending__text {
  margin-top: var(--spacing-16);
  font-size: var(--font-size-xl);
  color: var(--text-color-gray);
  line-height: 1.8;
  word-break: keep-all;
}
.epilogue-ending__text p {
  text-align: left;
}
.epilogue-ending__text b {
  color: var(--text-color-title);
}
.epilogue-ending__text p:not(:last-child) {
  margin-bottom: var(--spacing-12);
}
/* ========== END - EPILOGUE SECTION ========== */
