@charset "utf-8";

/* ========== SECTIONS-BOTTOM.CSS ==========
 * 하단 섹션 스타일 (Practical, Epilogue)
 * ========================================= */


/* ########## Practical Section ########## */
#practical {
  background-color: var(--color-background-even-champagne);
}

/* ----- practical-content ----- */
.practical-content {
  margin-top: 120px;
}

/* ----- practical-slider ----- */
.practical-slider:not(:last-child) {
  margin-bottom: 120px;
}
.practical-slider__title {
  position: relative;
  font-family: var(--font-EN);
  font-size: var(--font-size-2xl);
  font-weight: 500;
  margin-bottom: var(--spacing-sm);
  margin-left: var(--spacing-xl);
  z-index: 0;
}
.practical-slider__title::before {
  content: "";
  position: absolute;
  top: 2px;
  left: -5px;
  width: 14px;
  height: 14px;
  background-color: var(--color-primary);
  border-radius: 50%;
  opacity: 0.5;
  z-index: -1;
}

/* ----- practical-slider__item ----- */
.practical-slider__item {
  display: block;
  width: inherit;
  height: 200px;
  border-radius: var(--spacing-sm);
  overflow: hidden;
  box-shadow: var(--shadow-color-box-light);
  transition: transform 0.3s;
}
.practical-slider__item:not(:last-child) {
  margin-right: var(--spacing-xl);
}
.practical-slider__item:hover {
  transform: scale(1.05)
}
.practical-slider__item:active {
  transform: scale(0.95);
}

/* ---------- Slick.js 수정 ---------- */
/* practical-slider__box */
.practical-slider__box .slick-track {
  padding: var(--spacing-md);
}

/* 슬라이더 좌, 우 arrow button */
.practical-slider__box .slick-prev:before,
.practical-slider__box .slick-next:before {
  font-family: "bootstrap-icons";
  font-size: 30px;
  font-weight: 700;
  line-height: 1;
  opacity: 1;
  color: #ddd;
  -webkit-font-smoothing: antialiased;
}
.practical-slider__box .slick-prev {
  left: -50px;
}
.practical-slider__box .slick-prev:before {
  content: "\F284";
}
.practical-slider__box .slick-next:before {
  content: "\F285";
}

/* 슬라이더 하단 dot-slider */
.practical-slider__box .slick-dots {
  left: 50%;
  transform: translateX(-50%);
  bottom: -40px;
}
.practical-slider__box .slick-dots li {
  margin: 0 var(--spacing-sm);
}
.practical-slider__box .slick-dots li button::before {
  font-size: var(--font-size-xs);
}
.practical-slider__box .slick-dots li button:hover::before {
  opacity: 0.5;
}
.practical-slider__box .slick-dots li.slick-active {
  pointer-events: none;
}
.practical-slider__box .slick-dots li.slick-active button::before {
  opacity: 1;
  color: #00ad53;
}


/* ########## Epilogue Section ########## */

/* ----- epilogue-content ----- */
.epilogue-content {
  margin-top: var(--spacing-7xl);
  padding: 0 var(--spacing-4xl);
}
.epilogue-content-inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  -moz-column-gap: var(--spacing-8xl);
  column-gap: var(--spacing-8xl);
  row-gap: var(--spacing-7xl);
}

/* ----- epilogue-heading ----- */
.epilogue-heading {
  flex-shrink: 0;
  width: 500px;
}
.epilogue-heading__title {
  font-size: var(--font-size-3xl);
  font-weight: 600;
  line-height: 1.5em;
}
.epilogue-heading__title span {
  color: var(--color-primary);
  font-weight: 700;
  text-decoration: underline;
}
.epilogue-heading__text-box {
  margin-top: var(--spacing-lg);
}
.epilogue-heading__text {
  line-height: 1.8em;
  font-size: var(--font-size-xl);
}
.epilogue-heading__text:nth-child(2) {
  margin-top: var(--spacing-sm);
}

/* ----- epilogue-job-strength ----- */
.epilogue-job-strength {
  width: 600px;
}
.epilogue-job-strength__item:not(:last-child) {
  margin-bottom: var(--spacing-3xl);
}
.epilogue-job-strength__item-title {
  color: var(--color-primary);
  font-size: var(--font-size-xl);
  font-weight: 600;
}
.epilogue-job-strength__item-text {
  margin-top: var(--spacing-sm);
  line-height: 1.7em;
  text-align: justify;
  color: var(--text-color-body);
}
