/* 사이드바가 열렸을 때 body 스크롤 방지 */
body.sidebar--on {
  overflow: hidden;
}
/* 사이드 바 배경 딤처리 */
.sidebar-nav {
  display: none;
  /* display: none; jQuery로 fade 조작 */
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(2px);
  z-index: 3000;
}
/* 사이드 바(최초 숨김처리) */
.sidebar-nav-inner {
  position: absolute;
  top: 0;
  right: -100%;
  width: 50%;
  height: 100vh;
  max-width: 260px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-background-white);
  transition: right 0.3s;
}
/* --active -> 사이드바 오픈 */
.sidebar-nav-inner--active {
  right: 0;
}
.sidebar-nav__item {
  width: 100%;
  text-align: center;
  padding: var(--spacing-lg) 0;
}
.sidebar-nav__item:hover {
  opacity: 0.7;
  color: var(--color-primary);
}
.sidebar-nav__item span {
  position: relative;
  font-size: var(--spacing-2xl);
  font-family: var(--font-EN);
  font-weight: 400;
  text-align: center;
  transition: opacity 0.2s, color 0.2s;
}
.sidebar-nav__item.new span::after {
  content: attr(data-count);
  position: absolute;
  top: -2px;
  left: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  font-size: var(--font-size-xs);
  font-weight: 500;
  color: var(--text-color-white);
  background-color: var(--color-negative);
}