/* ----- util-btn 공통 ----- */
.util-btn {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  position: fixed;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--color-util-btn);
  transition: 0.3s;
  cursor: pointer;
  z-index: 1000;
  box-shadow: var(--shadow-util-btn);
}
.util-btn:hover {
  transform: translateY(-4px);
}
.util-btn:active {
  transform: translateY(-4px) scale(0.9);
}
.util-btn.on {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}

/* ----- 풀스크린 네비게이션 버튼 ----- */
.trigger {
  top: 0;
  left: var(--spacing-3xl);
}
.trigger.active {
  background-color: var(--color-primary);
  transform: translateY(-4px) rotate(135deg);
}
.trigger.active:active {
  transform: scale(0.9);
}
.trigger.on {
  top: var(--spacing-3xl);
}
.trigger img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: calc(56px / 2.4);
  height: calc(56px / 2.4);
}

/* ----- 맨 위로 가기 버튼 ----- */
.top-btn {
  bottom: 0;
  right: var(--spacing-3xl);
}
.top-btn.on {
  bottom: var(--spacing-3xl);
}
.top-btn img {
  position: absolute;
  top: calc(50% - 2px);
  left: 50%;
  transform: translate(-50%, -50%);
  width: calc(56px / 2.5);
  height: calc(32px / 2.5);
}

/* ----- 사이드 바 버튼 ----- */
.sidebar-btn {
  display: none;
  position: fixed;
  top: 8px;
  right: 10px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: transparent;
  z-index: 9999;
  transition: top 0.3s, right 0.3s, background-color 0.3s;
}
.sidebar-btn--on {
  top: var(--spacing-xl);
  right: var(--spacing-xl);
  background-color: var(--color-util-btn);
}
.sidebar-btn--active {
}
.sidebar-btn__inner {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 24px;
  transition: transform 0.3s;
}
.sidebar-btn--on .sidebar-btn__inner {
  transform: scale(0.9);
}
.sidebar-btn__inner span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: var(--text-color-light);
  border-radius: var(--spacing-xs);
  transition: top 0.5s, transform 0.5s, opacity 0.5s;
}
.sidebar-btn__inner span:nth-child(1) {
  top: 0;
}
.sidebar-btn__inner span:nth-child(2) {
  top: 50%;
  transform: translateY(-50%);
}
.sidebar-btn__inner span:nth-child(3) {
  top: 100%;
  transform: translateY(-100%);
}
.sidebar-btn--on .sidebar-btn__inner span {
  background-color: var(--color-background-white);
}
.sidebar-btn--active .sidebar-btn__inner span:nth-child(1) {
  top: 50%;
  transform: rotate(45deg);
}
.sidebar-btn--active .sidebar-btn__inner span:nth-child(2) {
  opacity: 0;
}
.sidebar-btn--active .sidebar-btn__inner span:nth-child(3) {
  top: 50%;
  transform: rotate(-45deg);
}