/* ----- util-btn 공통 ----- */
.util-btn {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  position: fixed;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--color-util-btn);
  transition: 0.3s;
  cursor: pointer;
  z-index: 1000;
  box-shadow: var(--shadow-util-btn);
}
.util-btn:hover {
  transform: translateY(-4px);
}
.util-btn:active {
  transform: translateY(-4px) scale(0.9);
}
.util-btn.on {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}

/* ----- 풀스크린 네비게이션 버튼 ----- */
.trigger {
  top: 0;
  left: 30px;
}
.trigger.active {
  background-color: var(--color-primary);
  transform: translateY(-4px) rotate(135deg);
}
.trigger.active:active {
  transform: scale(0.9);
}
.trigger.on {
  top: 30px;
}
.trigger img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: calc(56px / 2.4);
  height: calc(56px / 2.4);
}

/* ----- Top Button ----- */
.top-btn {
  bottom: 0;
  right: 30px;
}
.top-btn.on {
  bottom: 30px;
}
.top-btn img {
  position: absolute;
  top: calc(50% - 2px);
  left: 50%;
  transform: translate(-50%, -50%);
  width: calc(56px / 2.5);
  height: calc(32px / 2.5);
}