#web {
  background-color: var(--color-background-web-section);
}

/* ========== 공통 클래스 ========== */
/* 섹션 컨테이너 레이아웃 */
.web-project__section-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: var(--spacing-7xl);
  row-gap: var(--spacing-4xl);
  width: 100%;
  max-width: 1120px;
  margin: var(--spacing-7xl) auto 0;
}

/* Flex 아이템 공통 크기 */
.web-project__flex-item {
  flex: 1;
  max-width: 560px;
  min-width: 460px;
}

/* 컬러, 타이포 서브타이틀 공통 스타일 */
.web-project__section-subtitle {
  position: relative;
  font-size: var(--font-size-xl);
  font-weight: 600;
  margin-bottom: var(--spacing-md);
  padding-left: var(--spacing-lg);
}
.web-project__section-subtitle::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: 7px;
  height: 7px;
  background-color: var(--color-well-life-primary);
}

/* 섹션 타이틀 공통 스타일 */
.web-project__section-title {
  margin-bottom: var(--spacing-3xl);
  font-size: var(--font-size-3xl);
  font-weight: 600;
  text-align: center;
}

/* 설명 텍스트 공통 스타일 */
.web-project__section-desc {
  font-size: var(--font-size-lg);
  line-height: 1.8em;
  text-align: left;
  word-break: keep-all;
  padding-left: var(--spacing-lg);
}

/* 원형 아이콘 공통 스타일 */
.web-project__circles-container {
  display: flex;
  justify-content: center;
  gap: var(--spacing-5xl);
  margin-bottom: var(--spacing-3xl);
}
.web-project__circle-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-sm);
  width: 66px;
  font-size: var(--font-size-sm);
}
.web-project__circle-base {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  box-shadow: var(--shadow-normal);
}
.web-project__circle-label {
  font-weight: 400;
  color: var(--text-color-dark-gray);
  text-align: center;
  line-height: 1.3em;
}
.web-project__circle-code {
  color: var(--text-color-light-gray);
}
/* ========== END - 공통 클래스 ========== */

/* ----- web-content ----- */
.web-content {
  margin-top: var(--spacing-8xl);
}

/* ----- web-project ----- */
.web-project {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

/* ----- web-project__mockup ----- */
.web-project__mockup {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  margin: 0 auto;
}

/* web-project__mockup-total */
.web-project__mockup-total {
  max-width: 1200px;
}
.web-project__mockup-total img {
  display: block;
  width: 100%;
  height: auto;
}

/* web-project__mockup-items */
.web-project__mockup-items {
  display: none;
}

/* ----- web-project__links ----- */
.web-project__links {
  display: flex;
  justify-content: center;
  gap: var(--spacing-sm);
  width: 100%;
  margin-top: var(--spacing-2xl);
}
.web-project__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 32px;
  padding-bottom: 1px;
  line-height: 1;
  border: 1px solid transparent;
  border-radius: 6px;
  text-align: center;
  font-weight: 500;
  font-family: var(--font-EN);
  transition: background-color 0.3s, border 0.3s, color 0.3s;
}
.web-project__link--pc {
  background-color: var(--color-well-life-primary);
  color: var(--text-color-white);
}
.web-project__link--pc::before {
  content: attr(data-label-pc);
}
.web-project__link--pc:hover {
  background-color: var(--color-background-white);
  border-color: var(--color-well-life-primary);
  color: var(--color-well-life-primary);
}
.web-project__link--mobile,
.web-project__link--tablet {
  background-color: var(--color-background-white);
  color: var(--color-well-life-primary);
  border-color: var(--color-well-life-primary);
}
.web-project__link--mobile:hover,
.web-project__link--tablet:hover {
  background-color: var(--color-well-life-primary);
  color: var(--text-color-white);
  border-color: transparent;
}
.web-project__link--design {
  border-color: transparent;
  color: var(--text-color-white);
  text-transform: uppercase;
  letter-spacing: 1px;
  background-color: var(--text-color-body);
}
.web-project__link--design:hover {
  background-color: var(--color-background-white);
  color: var(--text-color-body);
  border-color: var(--text-color-body);
}

/* ----- web-project__info ----- */
.web-project__info {
  min-height: 360px;
  background-color: var(--color-background-light);
  border-radius: var(--spacing-md);
}

/* web-project__desc */
.web-project__title {
  font-size: var(--font-size-section-title);
  font-weight: 800;
  line-height: 1.2em;
  margin-bottom: var(--spacing-2xl);
}
.web-project__subtitle {
  position: relative;
  font-size: var(--font-size-2xl);
  font-weight: 600;
  margin-bottom: var(--spacing-md);
  padding-top: var(--spacing-sm);
  padding-left: 18px;
  word-break: keep-all;
}
.web-project__subtitle::before {
  content: "";
  position: absolute;
  top: calc(50% + 3px);
  transform: translateY(-50%);
  left: 0;
  width: 8px;
  height: 8px;
  background-color: var(--color-well-life-primary);
}
.web-project__text {
  font-size: var(--font-size-xl);
  line-height: 1.8em;
  padding-left: 18px;
  text-align: left;
  word-break: keep-all;
}

/* web-project__overview */
.web-project__overview {
  align-self: end;
}
.web-project__overview-title {
  font-size: var(--font-size-2xl);
  font-weight: 700;
  margin-bottom: var(--spacing-lg);
  text-align: center;
}
.web-project__overview-table-wrapper {
  display: flex;
  overflow: hidden;
  border-radius: var(--spacing-md);
  box-shadow: var(--shadow-normal);
}
.web-project__overview-table {
  width: 100%;
  border-collapse: collapse;
  font-size: var(--font-size-md);
}
.web-project__overview-table th,
.web-project__overview-table td {
  padding: var(--spacing-md) var(--spacing-lg);
  border-bottom: 1px solid var(--color-line);
}
.web-project__overview-table thead th {
  background-color: var(--color-well-life-primary);
  color: var(--text-color-white);
  font-weight: 600;
  text-align: center;
}
.web-project__overview-table thead th:first-child {
  border-right: 1px solid var(--color-line-white);
  width: 28%;
}
.web-project__overview-table tbody th {
  background-color: var(--color-well-life-table-th-bg);
  font-weight: 500;
  text-align: center;
  width: 100px;
  border-right: 1px solid var(--color-line);
}
.web-project__overview-table tbody td {
  background-color: var(--color-background-white);
}
.web-project__overview-table tbody tr:hover th,
.web-project__overview-table tbody tr:hover td {
  background-color: var(--color-well-life-hover);
}

/* ----- web-project__color-theme ----- */
/* web-project__color-mockup */
.web-project__color-mockup {
  height: auto;
}
.web-project__color-mockup img {
  width: 100%;
  height: auto;
  box-shadow: var(--shadow-well-life);
  border-radius: 28px;
}

/* web-project__color-circles */

.web-project__color-circle--primary {
  background-color: var(--color-well-life-primary);
}
.web-project__color-circle--secondary {
  background-color: var(--color-well-life-secondary);
}
.web-project__color-circle--bg {
  background-color: var(--color-background-white);
  border: 1px solid var(--color-line);
}

/* ----- web-project__typography ----- */
.web-project__typography {
  flex-wrap: wrap-reverse;
}

/* web-project__typo-circles */

.web-project__typo-circle--primary {
  background-color: var(--color-well-life-text-primary);
}
.web-project__typo-circle--secondary {
  background-color: var(--color-well-life-text-secondary);
}
.web-project__typo-circle--tertiary {
  background-color: var(--color-well-life-text-tertiary);
}

/* web-project__typo-mockups */
.web-project__typo-mockups {
  flex: 1;
  display: flex;
  justify-content: space-between;
  max-width: 520px;
  min-width: 460px;
}
.web-project__typo-mockups img {
  width: 211px;
  height: 430px;
  border-radius: 36px;
  box-shadow: var(--shadow-well-life);
}