#web {
  background-color: var(--color-background-web-section);
}

/* ----- web-content ----- */
.web-content {
  margin-top: var(--spacing-7xl);
}

/* ----- web-project ----- */
.web-project {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: var(--spacing-5xl);
  width: 100%;
}

/* ----- web-project__thumbnail ----- */
.web-project__thumbnail {
  width: 624px;
  height: 460px;
  margin-top: var(--spacing-sm);
  border-radius: var(--spacing-md);
  background-image: url(../../images/website_pub/web-well-life-thum.png);
  background-size: cover;
  background-position: top;
  transition: background-position 8s ease-in-out;
  box-shadow: var(--shadow-color-box);
}
.web-project__thumbnail.on {
  animation: blink2 1.2s linear 2 forwards;
}
.web-project__thumbnail:hover {
  background-position: bottom;
}

/* ----- web-project__content ----- */
.web-project__content {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 590px;
  max-height: 460px;
  margin-top: var(--spacing-sm);
}

/* ----- web-project__header ----- */
.web-project__title {
  position: relative;
  font-family: var(--font-EN);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 36px;
  font-size: var(--font-size-3xl);
  font-weight: 600;
  line-height: 1em;
}
.web-project__title.font-kr {
  font-weight: 700;
}
.web-project__title.new::after {
  content: "";
  position: absolute;
  top: -2px;
  left: calc(100% + 2px);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--color-negative);
}
.web-project__description {
  margin-top: var(--spacing-lg);
  line-height: 1.6em;
  font-size: var(--font-size-lg);
}

/* ----- web-project__details ----- */
.web-project__details {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: var(--spacing-md);
  padding: var(--spacing-2xl) 0;
}
.web-project__details li {
  display: flex;
  align-items: center;
  gap: var(--spacing-2xl);
  font-size: var(--font-size-lg);
}
.web-project__details li h5 {
  font-weight: 500;
  line-height: inherit;
}
.web-project__details li p {
  text-align: left;
}

/* ----- web-project__links ----- */
.web-project__links {
  display: flex;
  gap: var(--spacing-sm);
}
.web-project__link {
  display: inline-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 32px;
  padding-bottom: 1px;
  line-height: 1;
  border: 1px solid transparent;
  border-radius: 6px;
  text-align: center;
  font-weight: 500;
  font-family: var(--font-EN);
  transition: background-color 0.3s, border 0.3s, color 0.3s;
}
.web-project__link--pc {
  background-color: var(--color-well-life-primary);
  color: var(--text-color-white);
}
.web-project__link--pc::before {
  content: attr(data-label-pc);
}
.web-project__link--pc:hover {
  background-color: var(--color-background-white);
  border-color: var(--color-well-life-primary);
  color: var(--color-well-life-primary);
}
.web-project__link--mobile,
.web-project__link--tablet {
  background-color: var(--color-background-white);
  color: var(--color-well-life-primary);
  border-color: var(--color-well-life-primary);
}
.web-project__link--mobile:hover,
.web-project__link--tablet:hover {
  background-color: var(--color-well-life-primary);
  color: var(--text-color-white);
  border-color: transparent;
}
.web-project__link--design {
  border-color: transparent;
  color: var(--text-color-white);
  text-transform: uppercase;
  letter-spacing: 1px;
  background-color: var(--text-color-body);
}
.web-project__link--design:hover {
  background-color: var(--color-background-white);
  color: var(--text-color-body);
  border-color: var(--text-color-body);
}

/* 1420px 반응형 적용 */
@media (max-width: 1420px) {
  /* ########## SECTION - WEB ########## */
  .web-project {
    flex-direction: column;
    align-items: center;
  }
  .web-project__thumbnail {
    width: 100%;
    max-width: 624px;
  }
  .web-project__content {
    width: 100%;
    max-width: 624px;
    max-height: none;
  }
  /* ########## END - WEB ########## */
}