#web {
  background-color: var(--color-well-life-bg);
}

/* ========== 공통 클래스 ========== */
/* 컬러, 타이포 서브타이틀 공통 스타일 */
.web-row__info-subtitle {
  position: relative;
  font-size: var(--font-size-xl);
  font-weight: 600;
  margin-bottom: var(--spacing-md);
  padding-left: var(--spacing-lg);
}
.web-row__info-subtitle::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: 7px;
  height: 7px;
  background-color: var(--color-well-life-primary);
}

/* 섹션 타이틀 공통 스타일 */
.web-row__info-title {
  margin-bottom: var(--spacing-4xl);
  font-size: var(--font-size-3xl);
  font-weight: 600;
  text-align: center;
}

/* 색상 아이템 공통 스타일 */
.web-row__circle-items {
  display: flex;
  justify-content: center;
  gap: var(--spacing-5xl);
  margin-bottom: var(--spacing-3xl);
}
.web-row__circle-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-sm);
  width: 66px;
  font-size: var(--font-size-sm);
}
.web-theme__circle,
.web-typo__circle {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  box-shadow: var(--shadow-normal);
}
.web-row__circle-label {
  font-weight: 400;
  color: var(--text-color-dark-gray);
  text-align: center;
  line-height: 1.3em;
}
.web-row__circle-code {
  color: var(--text-color-light-gray);
}

/* 설명 텍스트 공통 스타일 */
.web-row__info-desc {
  font-size: var(--font-size-lg);
  line-height: 1.8em;
  text-align: left;
  word-break: keep-all;
}
/* ========== END - 공통 클래스 ========== */

/* ---------- 임시 작업 ---------- */
/* ----- web-mockup-total(메인 모달 컨테이너) ----- */
.web-mockup__total {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
}

/* .web-mockup__total-item(개별 목업) */
.web-mockup__total-item {
  position: relative;
}
/* 목업 hover시 filter 처리 */
.web-mockup__total-item > img {
  filter: drop-shadow(var(--shadow-mockup)) brightness(1);
  transition: filter 0.5s;
}
.web-mockup__total-item:hover > img {
  filter: drop-shadow(var(--shadow-mockup)) brightness(0.5);
}
.web-mockup-total--pc {
  max-width: 70%;
}
.web-mockup-total--tablet {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 44%;
}
.web-mockup-total--mobile {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 32%;
}

/* web-mockup__total-item-label(목업 hover 라벨) */
.web-mockup__total-item-label {
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  gap: var(--spacing-sm);
  font-size: var(--font-size-2xl);
  font-weight: 400;
  text-align: center;
  color: var(--text-color-white);
  transition: opacity 0.5s;
  white-space: nowrap;
}
.web-mockup__total-item-label .view-icon {
  width: 26px;
  height: auto;
}
.web-mockup__total-item-label--pc {
  top: 21%;
}
.web-mockup__total-item:hover .web-mockup__total-item-label {
  opacity: 1;
}


/* ----- web-content__links(링크 버튼 박스) ----- */
.web-content__links {
  display: flex;
  justify-content: center;
  gap: var(--spacing-lg);
  width: 100%;
  margin-top: var(--spacing-6xl);
}

/* 링크 버튼 공통 디자인 */
.web-content__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  padding: var(--spacing-sm) 0;
  line-height: 1;
  border: 1px solid transparent;
  border-radius: 6px;
  text-align: center;
  font-size: var(--font-size-lg);
  font-weight: 500;
  font-family: var(--font-EN);
  transition: background-color 0.3s, border 0.3s, color 0.3s;
  box-shadow: var(--shadow-color-box-light);
}
.web-content__link--pc {
  background-color: var(--color-well-life-primary);
  color: var(--text-color-white);
}
.web-content__link--pc::before {
  content: attr(data-label-pc);
}
.web-content__link--pc:hover {
  background-color: var(--color-background-white);
  border-color: var(--color-well-life-primary);
  color: var(--color-well-life-primary);
}
.web-content__link--mobile,
.web-content__link--tablet {
  background-color: var(--color-background-white);
  color: var(--color-well-life-primary);
  border-color: var(--color-well-life-primary);
}
.web-content__link--mobile:hover,
.web-content__link--tablet:hover {
  background-color: var(--color-well-life-primary);
  color: var(--text-color-white);
  border-color: transparent;
}
.web-content__link--design {
  border-color: transparent;
  color: var(--text-color-white);
  text-transform: uppercase;
  letter-spacing: 1px;
  background-color: var(--text-color-body);
}
.web-content__link--design:hover {
  background-color: var(--color-background-white);
  color: var(--text-color-body);
  border-color: var(--text-color-body);
}

/* ---------- Row 1 - web-info ---------- */
.web-info {
  align-items: end;
}
.web-info__intro-subtitle::before {
  background-color: var(--color-well-life-primary);
}
.web-info__intro-inner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 320px;
}

/* web-info__accessibility(웹 접근성 점수) */
.web-info__accessibility {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: var(--spacing-2xl);
}
.web-info__accessibility-icon {
  width: 100px;
  height: auto;
}
.web-info__accessibility-list {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-lg);
}
.web-info__accessibility-list-item {
  display: flex;
  align-items: center;
  gap: var(--spacing-sm);
  font-size: var(--font-size-xl);
}
.web-info__accessibility-list-item::before {
  content: "";
  flex-shrink: 0;
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: var(--color-primary);
}

/* web-info__overview */
.web-info__overview {
  /* align-self: end; */
}
.web-info__overview-table thead th {
  background-color: var(--color-well-life-primary);
}
.web-info__overview-table tbody tr:hover th,
.web-info__overview-table tbody tr:hover td {
  background-color: var(--color-well-life-hover);
}

/* web-content__achievement-list */
.web-content__achievement-list li::before {
  background-color: var(--color-well-life-primary);
}

/* ---------- Row 2 - web-theme ---------- */
.web-theme {
  align-items: center;
}

/* web-theme__circle-items */
.web-theme__circle--primary {
  background-color: var(--color-well-life-primary);
}
.web-theme__circle--secondary {
  background-color: var(--color-well-life-secondary);
}
.web-theme__circle--bg {
  background-color: var(--color-background-white);
  border: 1px solid var(--color-line);
}

/* ---------- Row 3 - web-typo ---------- */
.web-typo {
  align-items: center;
}

/* web-typo__info-desc */
.web-typo__info-desc {
  padding-right: 10px;
}

/* web-typo__circle-items */
.web-content__typo-circle--primary {
  background-color: var(--color-well-life-text-primary);
}
.web-content__typo-circle--secondary {
  background-color: var(--color-well-life-text-secondary);
}
.web-content__typo-circle--tertiary {
  background-color: var(--color-well-life-text-tertiary);
}

/* web-typo__mockup-items */
.web-typo__mockup-items {
  display: flex;
  justify-content: space-around;
}
.web-typo__mockup-item {
  width: 200px;
  height: auto;
}

/* ---------- Row 4 - web-responsive ---------- */
.web-responsive__mockup--pc {
  flex: 4.6;
  max-width: 460px;
}
.web-responsive__mockup--mobile {
  flex: 1.6;
  max-width: 160px;
}
.web-responsive__mockup--tablet {
  flex: 4.2;
  max-width: 420px;
}