#web {
  background-color: var(--color-well-life-bg);
}

/* ========== 공통 클래스 ========== */
/* 컬러, 타이포 서브타이틀 공통 스타일 */
.web-content__section-subtitle {
  position: relative;
  font-size: var(--font-size-xl);
  font-weight: 600;
  margin-bottom: var(--spacing-md);
  padding-left: var(--spacing-lg);
}
.web-content__section-subtitle::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: 7px;
  height: 7px;
  background-color: var(--color-well-life-primary);
}

/* 섹션 타이틀 공통 스타일 */
.web-content__section-title {
  margin-bottom: var(--spacing-4xl);
  font-size: var(--font-size-3xl);
  font-weight: 600;
  text-align: center;
}

/* 설명 텍스트 공통 스타일 */
.web-content__section-desc {
  font-size: var(--font-size-lg);
  line-height: 1.8em;
  text-align: left;
  word-break: keep-all;
}

/* 원형 아이콘 공통 스타일 */
.web-content__circles-container {
  display: flex;
  justify-content: center;
  gap: var(--spacing-5xl);
  margin-bottom: var(--spacing-3xl);
}
.web-content__circle-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-sm);
  width: 66px;
  font-size: var(--font-size-sm);
}
.web-content__circle-base {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  box-shadow: var(--shadow-normal);
}
.web-content__circle-label {
  font-weight: 400;
  color: var(--text-color-dark-gray);
  text-align: center;
  line-height: 1.3em;
}
.web-content__circle-code {
  color: var(--text-color-light-gray);
}
/* ========== END - 공통 클래스 ========== */


/* ----- web-mockup__main ----- */
.web-mockup__main {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  margin: 0 auto;
}

/* ----- web-content__links ----- */
.web-content__links {
  display: flex;
  justify-content: center;
  gap: var(--spacing-lg);
  width: 100%;
  margin-top: var(--spacing-4xl);
}
.web-content__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  padding: var(--spacing-sm) 0;
  line-height: 1;
  border: 1px solid transparent;
  border-radius: 6px;
  text-align: center;
  font-size: var(--font-size-lg);
  font-weight: 500;
  font-family: var(--font-EN);
  transition: background-color 0.3s, border 0.3s, color 0.3s;
  box-shadow: var(--shadow-color-box-light);
}
.web-content__link--pc {
  background-color: var(--color-well-life-primary);
  color: var(--text-color-white);
}
.web-content__link--pc::before {
  content: attr(data-label-pc);
}
.web-content__link--pc:hover {
  background-color: var(--color-background-white);
  border-color: var(--color-well-life-primary);
  color: var(--color-well-life-primary);
}
.web-content__link--mobile,
.web-content__link--tablet {
  background-color: var(--color-background-white);
  color: var(--color-well-life-primary);
  border-color: var(--color-well-life-primary);
}
.web-content__link--mobile:hover,
.web-content__link--tablet:hover {
  background-color: var(--color-well-life-primary);
  color: var(--text-color-white);
  border-color: transparent;
}
.web-content__link--design {
  border-color: transparent;
  color: var(--text-color-white);
  text-transform: uppercase;
  letter-spacing: 1px;
  background-color: var(--text-color-body);
}
.web-content__link--design:hover {
  background-color: var(--color-background-white);
  color: var(--text-color-body);
  border-color: var(--text-color-body);
}

/* ----- web-info ----- */
.web-info {
  min-height: 400px;
  background-color: var(--color-background-light);
}

/* web-info__intro-subtitle - 색상 */
.web-info__intro-subtitle::before {
  background-color: var(--color-well-life-primary);
}

/* web-info__accessibility(웹 접근성 점수) */
.web-info__accessibility {
  display: flex;
  align-items: center;
  gap: var(--spacing-2xl);
}
.web-info__accessibility-icon {
  width: 100px;
  height: 100px;
}
.web-info__accessibility-list {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-lg);
}
.web-info__accessibility-list-item {
  display: flex;
  align-items: center;
  gap: var(--spacing-sm);
  font-size: var(--font-size-xl);
}
.web-info__accessibility-list-item::before {
  content: "";
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: var(--color-primary);
}

/* web-info__overview */
.web-info__overview {
  align-self: end;
}
.web-info__overview-table thead th {
  background-color: var(--color-well-life-primary);
}
.web-info__overview-table tbody tr:hover th,
.web-info__overview-table tbody tr:hover td {
  background-color: var(--color-well-life-hover);
}

/* web-content__achievement-list */
.web-content__achievement-list li::before {
  background-color: var(--color-well-life-primary);
}

/* ----- web-content__color-theme ----- */
.web-content__color-theme {
  align-items: center;
}

/* web-content__color-circles */
.web-content__color-circle--primary {
  background-color: var(--color-well-life-primary);
}
.web-content__color-circle--secondary {
  background-color: var(--color-well-life-secondary);
}
.web-content__color-circle--bg {
  background-color: var(--color-background-white);
  border: 1px solid var(--color-line);
}

/* ----- web-content__typography ----- */
.web-content__typography {
  align-items: center;
}

/* web-content__typo-circles */
.web-content__typo-circle--primary {
  background-color: var(--color-well-life-text-primary);
}
.web-content__typo-circle--secondary {
  background-color: var(--color-well-life-text-secondary);
}
.web-content__typo-circle--tertiary {
  background-color: var(--color-well-life-text-tertiary);
}

/* web-content__typo-mockups */
.web-content__typo-mockups {
  display: flex;
  justify-content: space-around;
}
.web-content__typo-mockup-item {
  width: 200px;
  height: auto;
}