/* Reset CSS */
* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  margin: 0;
}

/* Fullscreen Photo Slider with SCSS */
.frame {
  position: relative;
  height: inherit;
  /* Tab Button Radio Function */
}
.frame input[type=radio] {
  display: none;
}
.frame .items {
  position: relative;
}
.frame .items .photo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}
.frame .items .photo img {
  display: block;
  width: inherit;
  height: inherit;
  object-fit: cover;
  clip-path: circle(0% at 0% 100%);
  transition: 1s;
}
.frame .btn_tab {
  position: absolute;
  bottom: 140px;
  left: 50%;
  transform: translateX(-50%);
}
.frame .btn_tab label {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 3px;
  border-radius: 50%;
  border: 4px solid #fff;
  transition: 0.5s;
  cursor: pointer;
}
.frame input[id=slider1]:checked ~ .btn_tab label[for=slider1], .frame input[id=slider2]:checked ~ .btn_tab label[for=slider2], .frame input[id=slider3]:checked ~ .btn_tab label[for=slider3], .frame input[id=slider4]:checked ~ .btn_tab label[for=slider4], .frame input[id=slider5]:checked ~ .btn_tab label[for=slider5] {
  width: 50px;
  margin: 0 5px;
  border-radius: 13px;
}
.frame input[id=slider1]:checked ~ .btn_tab label {
  border-color: #ff8516;
}
.frame input[id=slider1]:checked ~ .btn_tab label[for=slider1], .frame input[id=slider1]:checked ~ .btn_tab label:hover {
  background-color: #ff8516;
}
.frame input[id=slider1]:checked ~ .items .photo1 img {
  clip-path: circle(150% at 0% 100%);
}
.frame input[id=slider2]:checked ~ .btn_tab label {
  border-color: #c8c3b0;
}
.frame input[id=slider2]:checked ~ .btn_tab label[for=slider2], .frame input[id=slider2]:checked ~ .btn_tab label:hover {
  background-color: #c8c3b0;
}
.frame input[id=slider2]:checked ~ .items .photo1 img,
.frame input[id=slider2]:checked ~ .items .photo2 img {
  clip-path: circle(150% at 0% 100%);
}
.frame input[id=slider3]:checked ~ .btn_tab label {
  border-color: #00ffd0;
}
.frame input[id=slider3]:checked ~ .btn_tab label[for=slider3], .frame input[id=slider3]:checked ~ .btn_tab label:hover {
  background-color: #00ffd0;
}
.frame input[id=slider3]:checked ~ .items .photo1 img,
.frame input[id=slider3]:checked ~ .items .photo2 img,
.frame input[id=slider3]:checked ~ .items .photo3 img {
  clip-path: circle(150% at 0% 100%);
}
.frame input[id=slider4]:checked ~ .btn_tab label {
  border-color: #ffd9bb;
}
.frame input[id=slider4]:checked ~ .btn_tab label[for=slider4], .frame input[id=slider4]:checked ~ .btn_tab label:hover {
  background-color: #ffd9bb;
}
.frame input[id=slider4]:checked ~ .items .photo1 img,
.frame input[id=slider4]:checked ~ .items .photo2 img,
.frame input[id=slider4]:checked ~ .items .photo3 img,
.frame input[id=slider4]:checked ~ .items .photo4 img {
  clip-path: circle(150% at 0% 100%);
}
.frame input[id=slider5]:checked ~ .btn_tab label {
  border-color: #64676c;
}
.frame input[id=slider5]:checked ~ .btn_tab label[for=slider5], .frame input[id=slider5]:checked ~ .btn_tab label:hover {
  background-color: #64676c;
}
.frame input[id=slider5]:checked ~ .items .photo1 img,
.frame input[id=slider5]:checked ~ .items .photo2 img,
.frame input[id=slider5]:checked ~ .items .photo3 img,
.frame input[id=slider5]:checked ~ .items .photo4 img,
.frame input[id=slider5]:checked ~ .items .photo5 img {
  clip-path: circle(150% at 0% 100%);
}