/* ########## 메인 페이지 반응형 UI ########## */


/* #################### TABLET #################### */
@media (max-width: 1280px) {
  /* ---------- SECTION - HERO ----------  */
  .hero {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    min-height: calc(100vh - 64px);
  }

  /* hero-inner */
  .hero-inner {
    position: relative;
    top: auto;
    left: auto;
    transform: none;
    padding: var(--section-padding-v-tablet) var(--section-padding-h-tablet);
    gap: var(--spacing-48);
  }

  /* hero-badge-icon */
  .hero-badge-icon {
    width: 220px;
    height: 68px;
    font-size: var(--font-size-Large);
  }
  .hero-badge-icon:not(:last-child) {
    margin-right: -32px;
  }

  /* hero-logo */
  .hero-logo {
    width: calc(658px / 2);
    height: calc(168px / 2);
    background-image: url(../../../images/main-page/hero/hero-logo-tablet.png);
  }
  /* ---------- END - HERO ----------  */


  /* ---------- SECTION - INTRO ----------  */
  .intro-inner {
    gap: var(--spacing-48);
    padding: var(--section-padding-v-tablet) var(--section-padding-h-tablet);
  }

  /* intro-heading */
  .intro-heading {
    gap: var(--spacing-24);
  }
  .intro-heading__bg {
    font-size: 100px;
    padding: 0 var(--section-padding-h-tablet);
  }

  /* intro-image */
  .intro-image {
    gap: var(--spacing-16);
  }
  .intro-image__desc {
    min-width: auto;
    padding-top: var(--spacing-24);
    padding-left: var(--spacing-24);
  }
  .intro-image__desc b {
    font-size: var(--font-size-Large);
  }
  /* ---------- END - INTRO ----------  */


  /* ---------- SECTION - WHY ----------  */
  .why {
    height: auto;
    min-height: var(100vh - 64px);
  }
  .why-inner {
    position: relative;
    top: auto;
    left: auto;
    transform: none;
    padding: var(--section-padding-v-tablet) var(--section-padding-h-tablet);
    gap: var(--spacing-48);
  }

  /* why-heading */
  .why-heading__title-box {
    margin-top: var(--spacing-32);
    gap: var(--spacing-16);
  }
  .why-heading__title-hash-tag {
    gap: var(--spacing-16);
  }
  .why-heading__title-hash-tag span {
    font-size: var(--font-size-Medium);
  }

  /* why-badge */
  .why-badge {
    gap: var(--spacing-8);
  }
  .why-badge__item {
    height: 112px;
    border-width: 4px;
    padding: var(--spacing-16);
    font-size: var(--font-KR-medium);
  }
  .why-badge__line {
    width: 32px;
    height: 4px;
  }
  /* ---------- END - WHY ----------  */


  /* ---------- SECTION - DOCTOR ----------  */
  .doctor-bg-icon {
    top: var(--spacing-64);
    left: var(--spacing-48);
    width: 204px;
    height: 180px;
  }
  .doctor-inner {
    padding: 0;
    padding-top: var(--section-padding-v-tablet);
  }

  /* doctor-heading */
  .doctor-heading {
    width: 100%;
    padding: 0 var(--section-padding-h-tablet);
  }
  .doctor-heading__title {
    margin-top: var(--spacing-12);
  }

  /* doctor-heading-name-box */
  .doctor-heading-name-box {
    display: flex;
    align-items: center;
    gap: var(--spacing-32);
    margin-top: var(--spacing-32);
  }
  .doctor-heading__name {
    flex-shrink: 0;
  }
  .doctor-heading__name span {
    display: block;
    margin-left: 0;
  }
  .doctor-heading__name span i {
    display: none;
  }
  .doctor-heading__face {
    display: block;
    width: 400px;
    border-radius: 60px 0 60px 0;
    overflow: hidden;
  }
  .doctor-heading__name span em {
    margin-left: 0;
  }

  /* doctor-info */
  .doctor-info {
    width: 100%;
    border-radius: 0;
    padding: var(--section-padding-v-tablet) var(--section-padding-h-tablet);
  }
  .doctor-info__career-text-container {
    max-width: 840px;
  }
  .doctor-info__career-text-wrap {
    gap: var(--spacing-32);
  }

  /* doctor-info__face */
  .doctor-info__face {
    display: none;
  }
  /* ---------- END - DOCTOR ----------  */


  /* ---------- SECTION - INFO ----------  */
  .info-inner {
    padding: var(--section-padding-v-tablet) var(--section-padding-h-tablet);
  }

  /* info-heading-wrap */
  .info-heading-wrap {
    flex-direction: column;
  }
  .info-heading {
    gap: var(--spacing-32);
  }
  .info-heading__title-box {
    gap: var(--spacing-24);
  }
  .info-heading__title-icon {
    width: 52px;
    height: 52px;
  }

  /* info-heading--tel */
  .info-heading__title-icon--tel img {
    width: 31px;
    height: 31px;
  }

  /* info-heading--time */
  .info-heading__title-icon--time img {
    width: 38px;
    height: 38px;
  }
  .info-heading__content--time {
    max-width: 600px;
  }
  .info-heading__content--time li .badge {
    width: 120px;
    font-size: var(--font-size-Medium);
  }
  .info-heading__content--time li p span {
    display: inline-block;
    margin-left: var(--spacing-4);
  }

  /* info-heading-line */
  .info-heading-line {
    border: 1px dashed var(--border-transparent);
    margin: var(--spacing-48) 0;
  }
  /* ---------- END - INFO ----------  */


  /* ---------- SECTION - DIRECTION ----------  */
  .direction::after {
    top: 170px;
  }
  .direction-inner {
    padding-top: var(--section-padding-v-tablet);
  }

  /* direction-heading__way */
  .direction-heading__way-wrap {
    margin: var(--spacing-32) var(--spacing-32) 64px;
  }
  .direction-heading__way-top .way-icon {
    width: 44px;
    height: 44px;
  }
  .direction-heading__way-top-title {
    margin-top: var(--spacing-12);
  }
  .direction-heading__way-bottom {
    gap: var(--spacing-8);
    margin-top: var(--spacing-24);
  }

  /* SUBWAY */
  .direction-heading__way-top-icon--subway img {
    width: 28px;
    height: 28px;
  }

  /* BUS */
  .direction-heading__way-top-icon--bus img {
    width: 28px;
    height: 28px;
  }

  /* PARKING */
  .direction-heading__way-top-icon--parking img {
    width: 30px;
    height: 30px;
  }
  /* direction-map */
  .direction-map-caption {
    transform: none;
    max-width: 100%;
    padding: var(--spacing-12);
    font-size: var(--font-size-Large);
    border-radius: 0;
  }
  .direction-map__img {
    width: 100%;
    height: 450px;
  }
  .direction-map__img-balloon {
    top: calc(50% - 16px);
    width: 248px;  
    height: 110px;
    padding-bottom: var(--spacing-28);
  }
  .direction-map__img-balloon-logo {
    width: 192px;
    height: 35px;
  }
  /* ---------- END - DIRECTION ----------  */
}


/* #################### MOBILE #################### */
@media (max-width: 768px) {
  /* ---------- SECTION - HERO ----------  */
  .hero {
    min-height: auto;
    background-image: url(../../../images/main-page/hero/hero-bg--mobile.png);
  }

  /* hero-inner */
  .hero-inner {
    padding: var(--section-padding-v-pc) var(--section-padding-h-mobile);
    gap: var(--spacing-36);
  }
  
  /* hero-badge-box */
  .hero-badge-box {
    display: flex;
    width: 100%;
    max-width: 480px;
  }
  .hero-badge-icon {
    flex: 1;
    height: 40px;
    font-size: var(--font-size-mobile-body);
  }
  .hero-badge-icon:not(:last-child) {
    margin-right: -3%;
  }

  /* hero-logo */
  .hero-logo {
    width: calc(438px / 2);
    height: calc(128px / 2);
    background-image: url(../../../images/main-page/hero/hero-logo-mobile.png);
  }
  /* hero-title */
  .hero-title {
    font-size: var(--font-size-Large);
  }
  /* ---------- END - HERO ----------  */


  /* ---------- SECTION - INTRO ----------  */
  .intro-inner {
    gap: var(--spacing-32);
    padding: var(--section-padding-v-mobile) var(--section-padding-h-mobile);
  }

  /* intro-heading */
  .intro-heading {
    gap: var(--spacing-16);
  }
  .intro-heading__title .mobile-flex-box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .intro-heading__title .mobile-flex-box b {
    margin-right: 4px;
  }
  .intro-heading__desc {
    text-align: justify;
    width: 80%;
  }
  .intro-heading__desc span {
    display: inline;
    word-break: keep-all;
  }
  .intro-heading__desc span:first-child {
    display: flex;
    justify-content: center;
    column-gap: var(--spacing-4);
    flex-wrap: wrap;
  }
  .intro-heading__bg {
    top: calc(50% - -12px);
    font-size: 64px;
    padding: 0 var(--section-padding-h-mobile);
    line-height: 1.2em;
  }
  
  /* intro-image */
  .intro-image {
    flex-direction: column;
    gap: var(--spacing-24);
  }
  .intro-image__desc {
    width: 80%;
    min-width: 280px;
  }
  .intro-image__desc b {
    font-size: var(--font-size-Large);
  }
  .intro-image__desc p {
    margin-top: var(--spacing-4);
  }
  /* ---------- END - INTRO ----------  */


  /* ---------- SECTION - WHY ----------  */
  .why {
    height: auto;
  }
  .why-inner {
    position: relative;
    top: auto;
    left: auto;
    transform: none;
    padding: var(--section-padding-v-mobile) var(--section-padding-h-mobile);
    gap: var(--spacing-32);
  }

  /* why-heading */
  .why-heading__title-box {
    margin-top: var(--spacing-24);
    gap: var(--spacing-8);
  }
  .why-heading__title-hash-tag {
    gap: var(--spacing-12);
  }
  .why-heading__title-hash-tag span {
    font-size: var(--font-size-mobile-body);
  }
  .why-heading__title-main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: var(--spacing-8);
  }

  /* why-badge */
  .why-badge {
    flex-direction: column;
  }
  .why-badge__item {
    padding: var(--spacing-16) var(--spacing-48);
    width: 100%;
    max-width: 280px;
    height: auto;
  }
  .why-badge__line {
    width: 4px;
    height: 32px;
  }

  /* why-slogan */
  .why-slogan {
    font-size: var(--font-size-Medium);
  }
  .why-slogan span {
    display: block;
  }
  /* ---------- END - WHY ----------  */


  /* ---------- SECTION - DOCTOR ----------  */
  .doctor-bg-icon {
    top: var(--spacing-20);
    left: var(--spacing-20);
    width: 136px;
    height: 120px;
  }
  .doctor-inner {
    padding-top: var(--section-padding-v-mobile);
  }

  /* doctor-heading */
  .doctor-heading {
    padding: 0 var(--section-padding-h-mobile);
  }
  .doctor-heading__title {
    margin-top: var(--spacing-8);
  }

  /* doctor-heading-name-box */
  .doctor-heading-name-box {
    flex-direction: column;
  }
  .doctor-heading__face {
    width: 100%;
    border-radius: 40px 0 40px 0;
  }
  .doctor-heading__name {
    width: 100%;
  }
  .doctor-heading__name span {
    margin-top: -4px;
  }
  .doctor-heading__name span em {
    font-size: var(--font-size-Medium);
  }

  /* doctor-info */
  .doctor-info {
    margin-top: var(--spacing-32);
    padding: var(--section-padding-v-mobile) var(--section-padding-h-mobile);
  }
  .doctor-info__career-text-wrap {
    gap: var(--spacing-24);
  }
  .doctor-info__career-text-box {
    gap: var(--spacing-24);
  }

  /* doctor-info__career-published */
  .doctor-info__career-published .badge {
    padding: var(--spacing-4) var(--spacing-28);
  }
  /* ---------- END - DOCTOR ----------  */


  /* ---------- SECTION - INFO ----------  */
  .info-inner {
    padding: var(--section-padding-v-mobile) var(--section-padding-h-mobile);
  }

  /* info-heading-wrap */
  .info-heading {
    gap: var(--spacing-24);
  }
  .info-heading__title-box {
    gap: var(--spacing-12);
  }
  .info-heading__title-icon {
    width: 44px;
    height: 44px;
  }

  /* info-heading--tel */
  .info-heading__title-icon--tel img {
    width: 26px;
    height: 26px;
  }

  /* info-heading--time */
  .info-heading__title-icon--time img {
    width: 32px;
    height: 32px;
  }
  .info-heading__content--time li {
    flex-direction: column;
    gap: var(--spacing-12);
    border-radius: 12px;
  }
  .info-heading__content--time li .badge {
    width: 100%;
    border-radius: 8px;
    padding: 10px;
  }
  .info-heading__content--time li p * {
    line-height: var(--line-height-medium);
  }
  .info-heading__content--time li p b {
    font-size: var(--font-size-Medium);
  }
  .info-heading__content--time li p span {
    margin-left: 0;
  }

  /* info-heading-line */
  .info-heading-line {
    margin: var(--spacing-32) 0;
  }
  /* ---------- END - INFO ----------  */


  /* ---------- SECTION - DIRECTION ----------  */
  .direction::after {
    display: none;
  }
  .direction-inner {
    padding-top: var(--section-padding-v-mobile);
  }

  /* direction-heading */
  .direction-heading__title {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: var(--spacing-8);
    padding: 0 var(--section-padding-h-mobile);
  }

  /* direction-heading__way */
  .direction-heading__way-wrap {
    flex-direction: column;
    gap: var(--spacing-48);
    margin: var(--spacing-32) var(--spacing-24) 48px;
  }
  .direction-heading__way {
    position: relative;
    z-index: 0;
  }
  .direction-heading__way::after {
    content: "";
    position: absolute;
    top: 22px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: var(--border-transparent);
    z-index: 0;
  }
  .direction-heading__way-top {
    position: relative;
    z-index: 1;
  }
  .direction-heading__way-top-title {
    font-size: var(--font-size-Large);
  }
  
  /* direction-map */
  .direction-map-caption {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: var(--spacing-4);
    padding: var(--spacing-12);
    font-size: var(--font-size-Medium);
  }
  .direction-map__img {
    height: 50vh;
  }
  .direction-map__img-balloon {
    top: calc(50% - 18px);
    width: 225px;
    height: 100px;
  }
  .direction-map__img-balloon-logo {
    width: 176px;
    height: 32px;
  }
  /* ---------- END - DIRECTION ----------  */
}