/* Google Web Font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* Reset CSS */
* {
  box-sizing: border-box;
  outline: none;
  font-family: "Poppins", sans-serif;
}
a {
  text-decoration: none;
  color: inherit;
}
button {
  cursor: pointer;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  line-height: 1.2em;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
body {
  font-size: 15px;
  line-height: 1.5em;
  min-height: 100vh;
  margin: 0;
  color: #333;
}
/* ##### Overlay Navigation ##### */
.container {
  position: relative;
  min-height: inherit;
  background-color: #fff;
}
input[id="active"] {
  display: none;
}
.nav-overlay__trigger {
  position: absolute;
  top: 30px;
  right: 30px;
  z-index: 9999;
  width: 50px;
  height: 50px;
  padding: 17px 13px;
  border-radius: 50%;
  background: linear-gradient(-135deg, #c850c0, #4158d8);
  box-shadow: 0 4px 12px rgba(200,80,192, 0.3);
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transition: 0.5s;
}
.nav-overlay__trigger-inner {
  position: relative;
  display: block;
  height: 100%;
}
.nav-overlay__trigger-inner em {
  position: absolute;
  left: 0;
  width: 100%;
  height: 4px;
  border-radius: 3px;
  background-color: #fff;
  transform: translateY(-50%);
  transition: 0.5s;
}
.nav-overlay__trigger-inner em:nth-child(1) {
  top: 0;
}
.nav-overlay__trigger-inner em:nth-child(2) {
  top: 50%;
}
.nav-overlay__trigger-inner em:nth-child(3) {
  top: 100%;
}
.nav-overlay__using {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px;
  line-height: 1.7em;
  text-align: center;
}
.nav-overlay__using span {
  display: block;
  font-size: 25px;
  font-weight: 400;
}
.nav-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(-135deg, #c850c0, #4158d8);
  color: #fff;
  clip-path: circle(25px at calc(100% - 55px) 55px);
  transition: 0.5s ease-in-out;
}
.nav-overlay__menu {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.nav-overlay__menu li {
  height: 50px;
  margin: 5px 0;
  line-height: 50px;
}
.nav-overlay__menu li a {
  position: relative;
  display: inline-block;
  height: 100%;
  padding: 0 50px;
  font-size: 30px;
  font-weight: 500;
  transition: 0.35s ease;
}
.nav-overlay__menu li a:hover {
  color: #c850c0;
}
.nav-overlay__menu li a::after {
  content: "";
  position: absolute;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  border-radius: 25px;
  background-color: #fff;
  transform: scaleY(0);
  transition: 0.35s ease;
}
.nav-overlay__menu li a:hover::after {
  transform: scaleY(1);
}

/* Trigger Checked Function */
input[id="active"]:checked + .nav-overlay__trigger {
  background: #fff;
}
input[id="active"]:checked + .nav-overlay__trigger .nav-overlay__trigger-inner em {
  background-color: #4158d8;
}
input[id="active"]:checked + .nav-overlay__trigger .nav-overlay__trigger-inner em:nth-child(1) {
  top: 50%;
  transform: translateY(-50%) rotate(405deg);
}
input[id="active"]:checked + .nav-overlay__trigger .nav-overlay__trigger-inner em:nth-child(2) {
  opacity: 0;
}
input[id="active"]:checked + .nav-overlay__trigger .nav-overlay__trigger-inner em:nth-child(3) {
  top: 50%;
  transform: translateY(-50%) rotate(-405deg);
}
input[id="active"]:checked ~ .nav-overlay {
  clip-path: circle(150%);
}

/* 모바일 호환성 (768px 이하) */
@media (max-width: 768px) {
  .nav-overlay__trigger {
    top: 20px;
    right: 20px;
  }
  .nav-overlay {
    clip-path: circle(25px at calc(100% - 45px) 45px); /* Adjusted center point */
  }
  .nav-overlay__using {
    width: 90%;
    font-size: 24px;
    line-height: 1.4em;
  }
  .nav-overlay__using span {
    font-size: 18px;
    margin-top: 10px;
  }
  .nav-overlay__menu li a {
    font-size: 24px;
    padding: 0 30px;
  }
}
