@media (max-width: 768px) {
  /* ########## 변수 재정의 ########## */
  :root {
    /* ----- MOBILE - FONT SIZE 재정의 ----- */
    /* 기존 --font-size-lg: 18px */
    --font-size-lg: 15px;
    /* 기존 --font-size-xl: 20px; */
    --font-size-xl: 16px;
    /* 기존 --font-size-2xl: 24px; */
    --font-size-2xl: 20px;
    /* 기존 --font-size-3xl: 32px; */
    --font-size-3xl: 26px;
    /* 기존 --font-size-4xl: 40px; */
    --font-size-4xl: 32px;
    /* 기존 --font-size-5xl: 60px; */
    --font-size-5xl: 48px;
    /* 기존 --font-size-6xl: 80px; */
    --font-size-6xl: 60px;
    
    /* ----- MOBILE 전용 FONT SIZE ----- */
    --font-size-body-mobile: 14px;
    --font-size-slogan-title-mobile: 36px;
    --font-size-section-title-mobile: 28px;

    /* ----- TABLET - LAYOUT ----- */
    --container-width-mobile: 768px;
    --section-padding-mobile: 100px 20px;
  }
  /* ########## END - 변수 재정의 ########## */


  /* ########## LAYOUT ########## */
  body {
    font-size: var(--font-size-body-mobile);
  }
  main > section {
    padding: var(--section-padding-mobile);
  }
  /* ---------- COMMON ---------- */
  .inner > h2 {
    font-size: var(--font-size-section-title-mobile);
    text-align: center;
  }
  /* ########## END - LAYOUT ########## */


  /* ########## SECTION - HEADER ########## */
  header {
    padding: var(--spacing-md) var(--spacing-xl);
  }
  /* header__gnb */
  .header__gnb {
    display: none;
  }
  /* ########## sidebar 추가 예정 ########## */

  /* ########## END - HEADER ########## */
  

  /* ########## SECTION - ABOUT ########## */
  #about {
    padding-top: 120px;
  }
  /* about-content */
  .about-content {
    row-gap: var(--spacing-xl);
  }
  /* about-intro */
  .about-intro {
    margin-bottom: var(--spacing-3xl);
    padding-left: 0;
  }
  .about-intro__title {
    font-size: var(--font-size-slogan-title-mobile);
    width: fit-content;
    margin: 0 auto;
  }
  .about-intro__text {
    margin-top: var(--spacing-xl);
    padding: 0 var(--spacing-3xl);
  }
  .about-intro__text span {
    display: inline;
  }
  .about-intro__name {
    width: fit-content;
    margin: 0 auto;
    margin-top: var(--spacing-3xl);
  }
  /* about-photo */
  .about-photo {
    width: calc(320px / 1.2);
    height: calc(450px / 1.2);
  }
  /* about-info */
  .about-info__item {
    gap: var(--spacing-xl);
  }
  .about-info__item:not(:last-child) {
    margin-bottom: var(--spacing-xl);
    margin-bottom: var(--spacing-lg);
  }
  .about-info__item h5 {
    width: 80px;
    font-size: var(--font-size-xl);
  }
  .about-info__item span {
    font-size: inherit;
  }
  /* ########## END - ABOUT ########## */
  
  
  /* ########## SECTION - SKILL ########## */
  /* skill-item */
  .skill-content {
    margin-top: var(--spacing-6xl);
  }
  /* ########## END - SKILL ########## */
  
  
  /* ########## SECTION - EDU ########## */
  /* edu-content */
  .edu-content {
    margin-top: var(--spacing-6xl);
    padding: 0 var(--spacing-sm);
  }
  /* edu-timeline */
  .edu-timeline {
    position: relative;
    flex-direction: column;
    align-items: center;
    gap: 0;
    height: auto;
    padding: var(--spacing-2xl);
    border-radius: var(--spacing-md);
    box-shadow: var(--shadow-color-box-light);
  }
  .edu-timeline:not(:last-child) {
    margin-bottom: var(--spacing-8xl);
  }
  /* edu-timeline__peroid */
  .edu-timeline__peroid {
    width: fit-content;
    text-align: center;
  }
  .edu-timeline__peroid-title {
    font-size: 18px;
  }
  /* edu-timeline__line-box */
  .edu-timeline__line-box {
    position: absolute;
    top: calc(100% - 8px);
    left: 50%;
    transform: translateX(-50%);
    height: 108px;
  }
  /* 마지막 time-line의 circle 숨김 */
  .edu-timeline:last-child .circle {
    display: none;
  }
  /* edu-timeline__desc */
  .edu-timeline__desc {
    width: 100%;
    margin-top: var(--spacing-lg);
    padding-top: var(--spacing-lg);
    border-top: 1px solid var(--color-line);
    text-align: center;
  }
  .edu-timeline__desc span em {
    display: block;
  }
  /* ########## END - EDU ########## */
  
  
  /* ########## SECTION - REACT ########## */
  /* #REACT */
  main > section#react {
    padding-top: var(--spacing-8xl);
  }
  /* react-content */
  .react-content {
    flex-direction: column;
    row-gap: var(--spacing-6xl);
  }
  /* react-mockup */
  .react-mockup {
    width: 100%;
    margin-top: var(--spacing-md);
    gap: var(--spacing-3xl);
  }
  /* react-mockup__item */
  .react-mockup__item-box:first-child {
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-3xl);
    width: fit-content;
  }
  .react-mockup__item-tablet {
    order: 1;
    width: calc(912px / 2.8);
    height: calc(670px / 2.8);
  }
  .react-mockup__item-mobile {
    order: 0;
    width: calc(344px / 1.8);
    height: calc(670px / 1.8);
  }
  .react-mockup__item-pc {
    width: calc(1280px / 4);
    height: calc(1066px / 4);
  }
  /* react-detail */
  .react-detail {
    width: 100%;
  }
  .react-detail__title {
    font-size: var(--font-size-section-title-mobile);
  }
  .react-detail__format {
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-3xl);
  }
  /* react-detail-bottom-wrapper */
  .react-detail-bottom-wrapper {
    top: auto;
    margin-top: var(--spacing-3xl);
  }
  /* react-detail__function */
  .react-detail__function {
    width: fit-content;
    margin: 0 auto;
  }
  /* react-detail__work-list */
  .react-detail__work-list {
    margin-top: var(--spacing-6xl);
  }
  .react-detail__work-list-table :is(th, td) {
    /* table 안의 모든 요소 font-size 14px */
    font-size: var(--font-size-body-mobile);
    line-height: 1.4em;
    padding: var(--spacing-sm);
    text-align: center;
  }
  .react-detail__work-list-table th {
    width: 60px;
  }
  .react-detail__work-list-table thead th {
    padding: var(--spacing-xs) var(--spacing-sm);
    line-height: 1.5em;
  }
  .react-detail__work-list-table tr:last-child td span:last-child {
    display: block;
    text-align: center;
  }
  /* react-detail__btn-box */
  .react-detail__btn-box {
    gap: var(--spacing-xl);
    margin-top: var(--spacing-xl);
  }
  .react-detail__btn {
    width: 110px;
    padding: 6px 0;
  }
  .react-detail__btn::before {
    font-size: var(--font-size-sm);
  }
  /* ########## END - REACT ########## */
  
  
  /* ########## SECTION - MOBILE(mobile 1, 2 공통) ########## */
  /* Market - mobile-detail__btn-box */
  /* #market .mobile-detail__btn-box {
    justify-content: center;
    gap: var(--spacing-2xl);
  } */


  main > section.mobile {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  /* mobile-content */
  .mobile-content {
    flex-direction: column;
    row-gap: var(--spacing-6xl);
  }
  /* mobile-mockup */
  .mobile-mockup {
    width: 320px;
    height: 410px;
    margin: 0 auto;
    margin-top: var(--spacing-md);
  }
  /* mobile-mockup__item */
  .mobile-mockup__item {
    width: calc(678px / 3.8);
    height: calc(1340px / 3.8);
  }
  .mobile-mockup__item:nth-child(2) {
    top: 60px;
    left: 142px;
  }
  /* mobile-detail */
  .mobile-detail {
    width: 100%;
  }
  .mobile-detail__title {
    font-size: var(--font-size-section-title-mobile);
  }
  /* mobile-detail__format */
  .mobile-detail__format {
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-3xl);
  }
  /* mobile-detail-bottom-wrapper */
  #redefine .mobile-detail-bottom-wrapper {
    /* margin-top: ; */
    margin-top: var(--spacing-3xl);
  }
  /* mobile-detail__function */
  .mobile-detail__function {
    width: fit-content;
    margin: 0 auto;
  }
  /* mobile-detail__work-list */
  .mobile-detail__work-list {
    margin-top: var(--spacing-6xl);
  }







  /* ########## END - MOBILE(mobile 1, 2 공통) ########## */
  
  
  /* ########## SECTION - WEB ########## */
  .web-tab__btn-box {
    width: auto;
  }
  /* ########## END - WEB ########## */
  
  
  /* ########## SECTION - PRACTICAL ########## */
  /* practical-slider__item */
  .practical-slider__item {
    height: 160px;
  }
  /* ########## END - PRACTICAL ########## */
  
  
  /* ########## SECTION - EPILOGUE ########## */
  /* epilogue-heading */
  .epilogue-heading__title {
    font-size: 26px;
  }
  .epilogue-job-strength__item-text {
    font-size: var(--font-size-lg);
  }
  /* ########## END - EPILOGUE ########## */
  
  
  /* ########## 유틸리티 버튼 ########## */
  /* ########## END - 유틸리티 버튼 ########## */
  
  
  /* ########## 풀스크린 네비게이션 ########## */
  /* ########## END - 풀스크린 네비게이션 ########## */
}