@media (max-width: 1024px) {
  /* ########## 변수 재정의 ########## */
  :root {
    /* ----- TABLET - FONT SIZE 재정의 ----- */
    /* 기존 --font-size-lg: 18px */
    --font-size-lg: 16px;
    /* 기존 --font-size-xl: 20px; */
    --font-size-xl: 18px;
    /* 기존 --font-size-2xl: 24px; */
    --font-size-2xl: 22px;
    /* 기존 --font-size-3xl: 32px; */
    --font-size-3xl: 28px;
    /* 기존 --font-size-4xl: 40px; */
    --font-size-4xl: 36px;
    /* 기존 --font-size-5xl: 52px; */
    --font-size-5xl: 60px;
    /* 기존 --font-size-6xl: 80px; */
    --font-size-6xl: 72px;
    
    /* ----- TABLET 전용 FONT SIZE ----- */
    --font-size-body-tablet: 15px;
    --font-size-slogan-title-tablet: 48px;
    --font-size-section-title-tablet: 32px;
  }
  /* ########## END - 변수 재정의 ########## */


  /* ########## LAYOUT ########## */
  body {
    font-size: var(--font-size-body-tablet);
  }
  .inner > h2 {
    font-size: var(--font-size-section-title-tablet);
  }
  /* ########## END - LAYOUT ########## */


  /* ########## SECTION - HEADER ########## */
  header {
    padding: var(--spacing-md) var(--spacing-4xl);
  }
  /* ########## sidebar 추가 예정 ########## */

  /* ########## END - HEADER ########## */
  

  /* ########## SECTION - ABOUT ########## */
  #about {
    padding-top: 250px;
  }
  /* about-content */
  .about-content {
    justify-content: center;
    column-gap: 300px;
    margin-top: 0;
  }
  /* about-intro */
  .about-intro__title {
    font-size: var(--font-size-slogan-title-tablet);
  }
  /* ########## END - ABOUT ########## */
  
  
  /* ########## SECTION - SKILL ########## */
  /* skill-item */
  .skill-item {
    width: 380px;
  }
  .skill-item__icon-box {
    padding: var(--spacing-md);
    gap: var(--spacing-3xl);
  }
  /* skill-item__icon */
  .skill-item__icon {
    width: calc(84px / 2.2);
    height: calc(84px / 2.2);
  }
  .skill-item__icon.mini {
    width: calc(74px / 2.2);
  }
  .skill-item__icon.react {
    width: calc(94px / 2.2);
  }
  .skill-item__icon.git {
    width: calc(158px / 2.2);
  }
  .skill-item__icon.svn {
    width: calc(114px / 2.2);
  }
  /* ########## END - SKILL ########## */
  
  
  /* ########## SECTION - EDU ########## */
  /* edu-content */
  .edu-content {
    padding-left: 0;
  }
  /* ########## END - EDU ########## */
  
  
  /* ########## SECTION - REACT ########## */
  /* react-detail__btn */
  .react-detail__btn-box {
    justify-content: center;
    gap: var(--spacing-2xl);
  }
  .react-detail__btn::before {
    content: attr(data-label-tablet);
  }
  .react-detail__btn.only-pc {
    display: none;
  }
  /* ########## END - REACT ########## */
  
  
  /* ########## SECTION - MOBILE(mobile 1, 2 공통) ########## */
  /* ########## END - MOBILE(mobile 1, 2 공통) ########## */
  
  
  /* ########## SECTION - WEB ########## */
  /* ########## END - WEB ########## */
  
  
  /* ########## SECTION - PRACTICAL ########## */
  /* ########## END - PRACTICAL ########## */
  
  
  /* ########## SECTION - EPILOGUE ########## */
  /* ########## END - EPILOGUE ########## */
  
  
  /* ########## 유틸리티 버튼 ########## */
  /* ########## END - 유틸리티 버튼 ########## */
  
  
  /* ########## 풀스크린 네비게이션 ########## */
  /* ########## END - 풀스크린 네비게이션 ########## */
}