@media (max-width: 1024px) {
  /* ########## 변수 재정의 ########## */
  :root {
    /* ----- TABLET - FONT SIZE 재정의 ----- */
    /* 기존 --font-size-lg: 18px */
    --font-size-lg: 16px;
    /* 기존 --font-size-xl: 20px; */
    --font-size-xl: 18px;
    /* 기존 --font-size-2xl: 24px; */
    --font-size-2xl: 22px;
    /* 기존 --font-size-3xl: 32px; */
    --font-size-3xl: 28px;
    /* 기존 --font-size-4xl: 40px; */
    --font-size-4xl: 36px;
    /* 기존 --font-size-5xl: 60px; */
    --font-size-5xl: 56px;
    /* 기존 --font-size-6xl: 80px; */
    --font-size-6xl: 72px;
    
    /* ----- TABLET 전용 FONT SIZE ----- */
    --font-size-body-tablet: 15px;
    --font-size-slogan-title-tablet: 48px;
    --font-size-section-title-tablet: 32px;

    /* ----- TABLET - LAYOUT ----- */
    --container-width-tablet: 1024px;
    --section-padding-tablet: 120px 60px;
  }
  /* ########## END - 변수 재정의 ########## */


  /* ########## LAYOUT ########## */
  body {
    font-size: var(--font-size-body-tablet);
  }
  main > section {
    padding: var(--section-padding-tablet);
  }
  .inner {
    max-width: (var(--container-width-tablet));
  }
  /* ---------- COMMON ---------- */
  .inner > h2 {
    font-size: var(--font-size-section-title-tablet);
    padding-left: 0;
  }
  /* ########## END - LAYOUT ########## */


  /* ########## SECTION - HEADER ########## */
  header {
    padding: var(--spacing-md) var(--spacing-4xl);
  }
  /* header__gnb */
  .header__gnb {
    display: none;
  }
  /* ########## sidebar 추가 예정 ########## */

  /* ########## END - HEADER ########## */
  

  /* ########## SECTION - ABOUT ########## */
  .about-content {
    column-gap: var(--spacing-4xl);
    margin-top: 0;
  }
  /* about-intro */
  .about-intro {
    margin: 0;
    margin-top: var(--spacing-5xl);
    max-width: 470px;
  }
  .about-intro__title {
    font-size: var(--font-size-slogan-title-tablet);
  }
  /* about-photo */
  .about-photo {
    width: calc(320px / 1.2);
    height: calc(450px / 1.2);
  }
  /* ########## END - ABOUT ########## */
  
  
  /* ########## SECTION - SKILL ########## */
  /* skill-item */
  .skill-item {
    width: 380px;
  }
  .skill-item__icon-box {
    padding: var(--spacing-md);
    gap: var(--spacing-3xl);
  }
  /* skill-item__icon */
  .skill-item__icon {
    width: calc(84px / 2.2);
    height: calc(84px / 2.2);
  }
  .skill-item__icon.mini {
    width: calc(74px / 2.2);
  }
  .skill-item__icon.react {
    width: calc(94px / 2.2);
  }
  .skill-item__icon.git {
    width: calc(158px / 2.2);
  }
  .skill-item__icon.svn {
    width: calc(114px / 2.2);
  }
  /* ########## END - SKILL ########## */
  
  
  /* ########## SECTION - EDU ########## */
  .edu-content {
    padding-left: 0;
  }
  /* edu-timeline__peroid */
  .edu-timeline__peroid-title {
    font-size: 20px;
  } 
  /* ########## END - EDU ########## */
  
  
  /* ########## SECTION - REACT ########## */
  /* react-detail__title */
  .react-detail__title {
    font-size: var(--font-size-section-title-tablet);
  }
  /* react-detail__btn */
  .react-detail__btn-box {
    justify-content: center;
    gap: var(--spacing-2xl);
  }
  .react-detail__btn::before {
    content: attr(data-label-tablet);
  }
  .react-detail__btn.only-pc {
    display: none;
  }
  /* ########## END - REACT ########## */
  
  
  /* ########## SECTION - MOBILE(mobile 1, 2 공통) ########## */
  /* mobile-detail__title */
  .mobile-detail__title {
    font-size: var(--font-size-section-title-mobile);
  }
  /* Market - mobile-detail__btn-box */
  #market .mobile-detail__btn-box {
    justify-content: center;
    gap: var(--spacing-2xl);
  }
  /* ########## END - MOBILE(mobile 1, 2 공통) ########## */
  
  
  /* ########## SECTION - WEB ########## */
  /* web-year__arrow */
  .web-year__arrow-box {
    gap: var(--spacing-xs);
  }
  .web-year__arrow-btn {
    width: calc(96px / 2.5);
    height: calc(96px / 2.5);
  }
  .web-year__arrow-num-wrap {
    width: 78px;
    height: 32px;
  }
  .web-year__arrow-num-item {
    font-size: 32px;
  }
  .web-year__arrow-text {
    font-size: 28px;
  }
  /* ----- web-year__container ----- */
  .web-year__wrap-inner {
    height: 962px;
  }

  /* ---------- web.css 373번줄 1420px와 동일적용 ---------- */
  /* .web-year__wrap-inner:has(.web-year__item--active:nth-child(2)) {
    height: auto;
  }
  .web-tab__btn-box {
    width: calc(100% - 30px);
    max-width: 624px;
  } */
  /* ---------- web.css 373번줄 1420px와 동일적용 ---------- */

  /* ########## END - WEB ########## */
  
  
  /* ########## SECTION - PRACTICAL ########## */
  /* practical-slider */
  .practical-slider__title {
    margin-bottom: var(--spacing-xs);
  }
  .practical-slider__title::before {
    top: 0;
  }
  .practical-slider__item {
    height: 160px;
  }
  /* ########## END - PRACTICAL ########## */
  
  
  /* ########## SECTION - EPILOGUE ########## */
  /* epilogue-heading */
  .epilogue-job-strength__item-text {
    font-size: var(--font-size-lg);
  }
  /* ########## END - EPILOGUE ########## */
  
  
  /* ########## 유틸리티 버튼 ########## */
  /* 풀스크린 네비게이션 버튼 */
  .trigger {
    display: none;
  }
  /* sidebar-nav */
  .sidebar-btn {
    display: block;
  }
  /* mockup-box 버튼 */
  .mockup-box {
    display: none;
  }
  /* ########## END - 유틸리티 버튼 ########## */
}