@media (max-width: 768px) {
  /* ########## 변수 재정의 ########## */
  :root {
    /* ----- MOBILE - FONT SIZE 재정의 ----- */
    /* 기존 --font-size-lg: 18px */
    --font-size-lg: 15px;
    /* 기존 --font-size-xl: 20px; */
    --font-size-xl: 16px;
    /* 기존 --font-size-2xl: 24px; */
    --font-size-2xl: 20px;
    /* 기존 --font-size-3xl: 32px; */
    --font-size-3xl: 26px;
    /* 기존 --font-size-4xl: 40px; */
    --font-size-4xl: 32px;
    /* 기존 --font-size-5xl: 60px; */
    --font-size-5xl: 48px;
    /* 기존 --font-size-6xl: 80px; */
    --font-size-6xl: 60px;
    
    /* ----- MOBILE 전용 FONT SIZE ----- */
    --font-size-body-mobile: 14px;
    --font-size-slogan-title-mobile: 36px;
    --font-size-section-title-mobile: 28px;

    /* ----- TABLET - LAYOUT ----- */
    --container-width-mobile: 768px;
    --section-padding-mobile: 100px 20px;
  }x
  /* ########## END - 변수 재정의 ########## */


  /* ########## LAYOUT ########## */
  body {
    font-size: var(--font-size-body-mobile);
  }
  main > section {
    padding: var(--section-padding-mobile);
  }
  /* ---------- COMMON ---------- */
  .inner > h2 {
    font-size: var(--font-size-section-title-mobile);
    margin: 0 auto;
  }
  /* ########## END - LAYOUT ########## */


  /* ########## SECTION - HEADER ########## */
  header {
    padding: var(--spacing-md) var(--spacing-xl);
  }
  /* header__gnb */
  .header__gnb {
    display: none;
  }
  .header__gnb-help-btn {
    display: none;
  }
  /* ########## sidebar 추가 예정 ########## */

  /* ########## END - HEADER ########## */
  

  /* ########## SECTION - ABOUT ########## */
  #about {
    padding-top: 120px;
  }
  .about-content {
    row-gap: var(--spacing-xl);
  }
  /* about-intro */
  .about-intro {
    margin-bottom: var(--spacing-3xl);
    padding-left: 0;
  }
  .about-intro__title {
    font-size: var(--font-size-slogan-title-mobile);
    width: fit-content;
    margin: 0 auto;
  }
  .about-intro__text {
    margin-top: var(--spacing-xl);
    padding: 0 var(--spacing-3xl);
  }
  .about-intro__text span {
    display: inline;
  }
  .about-intro__name {
    width: fit-content;
    margin: 0 auto;
    margin-top: var(--spacing-3xl);
  }
  /* about-info */
  .about-info__item {
    gap: var(--spacing-xl);
  }
  .about-info__item:not(:last-child) {
    margin-bottom: var(--spacing-xl);
    margin-bottom: var(--spacing-lg);
  }
  .about-info__item h5 {
    width: 80px;
    font-size: var(--font-size-xl);
  }
  .about-info__item span {
    font-size: inherit;
  }
  /* ########## END - ABOUT ########## */
  
  
  /* ########## SECTION - SKILL ########## */
  .skill-content {
    margin-top: var(--spacing-6xl);
  }
  /* ########## END - SKILL ########## */
  
  
  /* ########## SECTION - EDU ########## */
  .edu-content {
    margin-top: var(--spacing-6xl);
    padding: 0 var(--spacing-sm);
  }
  /* edu-timeline */
  .edu-timeline {
    position: relative;
    flex-direction: column;
    align-items: center;
    gap: 0;
    height: auto;
    padding: var(--spacing-2xl);
    border-radius: var(--spacing-md);
    box-shadow: var(--shadow-color-box-light);
  }
  .edu-timeline:not(:last-child) {
    margin-bottom: var(--spacing-8xl);
  }
  /* edu-timeline__peroid */
  .edu-timeline__peroid {
    width: fit-content;
    text-align: center;
  }
  .edu-timeline__peroid-title {
    font-size: 18px;
  }
  .edu-timeline__peroid-content {
    text-align: center;
  }
  /* edu-timeline__line-box */
  .edu-timeline__line-box {
    position: absolute;
    top: calc(100% - 8px);
    left: 50%;
    transform: translateX(-50%);
    height: 108px;
  }
  /* 마지막 time-line의 circle 숨김 */
  .edu-timeline:last-child .circle {
    display: none;
  }
  /* edu-timeline__desc */
  .edu-timeline__desc-title {
    line-height: 1.4em;
  }
  .edu-timeline__desc-title em {
    display: block;
  }
  .edu-timeline__desc {
    width: 100%;
    margin-top: var(--spacing-lg);
    padding-top: var(--spacing-lg);
    border-top: 1px solid var(--color-line);
    text-align: center;
  }
  .edu-timeline__desc-content {
    text-align: center;
  }
  .edu-timeline__desc-content em {
    display: block;
  }
  /* ########## END - EDU ########## */
  
  
  /* ########## SECTION - REACT ########## */
  /* #REACT */
  main > section#react {
    padding-top: var(--spacing-8xl);
  }
  .react-content {
    flex-direction: column;
    row-gap: var(--spacing-6xl);
  }
  /* react-mockup */
  .react-mockup {
    width: 100%;
    margin-top: var(--spacing-md);
    gap: var(--spacing-3xl);
  }
  /* react-mockup__item */
  .react-mockup__item-box:first-child {
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-3xl);
    width: fit-content;
  }
  .react-mockup__item-tablet {
    order: 1;
    width: calc(912px / 2.8);
    height: calc(670px / 2.8);
  }
  .react-mockup__item-mobile {
    order: 0;
    width: calc(344px / 1.8);
    height: calc(670px / 1.8);
  }
  .react-mockup__item-pc {
    width: calc(1280px / 4);
    height: calc(1066px / 4);
  }
  /* react-detail */
  .react-detail {
    width: 100%;
  }
  .react-detail__title {
    font-size: var(--font-size-section-title-mobile);
  }
  .react-detail__format {
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-3xl);
  }
  /* react-detail-bottom-wrapper */
  .react-detail-bottom-wrapper {
    top: auto;
    margin-top: var(--spacing-3xl);
  }
  /* react-detail__function */
  .react-detail__function {
    width: fit-content;
    margin: 0 auto;
  }
  /* react-detail__work-list */
  .react-detail__work-list {
    margin-top: var(--spacing-6xl);
  }
  .react-detail__work-list-table :is(th, td) {
    /* table 안의 모든 요소 font-size 14px */
    font-size: var(--font-size-body-mobile);
    line-height: 1.4em;
    padding: var(--spacing-sm);
    text-align: center;
  }
  .react-detail__work-list-table th {
    width: max-content;
  }
  .react-detail__work-list-table thead th {
    padding: var(--spacing-xs) var(--spacing-sm);
    line-height: 1.5em;
  }
  .react-detail__work-list-table td {
    width: 70%;
  }
  .react-detail__work-list-table tr:last-child td span:last-child {
    display: block;
    text-align: center;
  }
  /* react-detail__btn-box */
  .react-detail__btn-box {
    gap: var(--spacing-xl);
    margin-top: var(--spacing-xl);
  }
  .react-detail__btn {
    width: 120px;
    padding: 6px 0;
  }
  .react-detail__btn::before {
    font-size: var(--font-size-sm);
  }
  /* ########## END - REACT ########## */
  
  
  /* ########## SECTION - MOBILE(mobile 1, 2 공통) ########## */
  main > section.mobile {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .mobile-content {
    flex-direction: column;
    row-gap: var(--spacing-6xl);
  }
  /* mobile-mockup */
  .mobile-mockup {
    width: 320px;
    height: 410px;
    margin: 0 auto;
    margin-top: var(--spacing-md);
  }
  /* mobile-mockup__item */
  .mobile-mockup__item {
    width: calc(678px / 3.8);
    height: calc(1340px / 3.8);
  }
  .mobile-mockup__item:nth-child(2) {
    top: 60px;
    left: 142px;
  }
  /* mobile-detail */
  .mobile-detail {
    width: 100%;
  }
  .mobile-detail__title {
    font-size: var(--font-size-section-title-mobile);
  }
  /* mobile-detail__format */
  .mobile-detail__format {
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-3xl);
  }
  /* mobile-detail-bottom-wrapper */
  #redefine .mobile-detail-bottom-wrapper {
    /* margin-top: ; */
    margin-top: var(--spacing-3xl);
  }
  /* mobile-detail__function */
  .mobile-detail__function {
    width: fit-content;
    margin: 0 auto;
  }
  /* mobile-detail__work-list */
  .mobile-detail__work-list {
    margin-top: var(--spacing-6xl);
  }
  .mobile-detail__work-list-table :is(th, td) {
    /* table 안의 모든 요소 font-size 14px */
    font-size: var(--font-size-body-mobile);
    line-height: 1.4em;
    padding: var(--spacing-sm);
    text-align: center;
  }
  .mobile-detail__work-list-table th {
    width: max-content;
  }
  .mobile-detail__work-list-table td {
    width: 70%
  }
  .mobile-detail__work-list-table thead th {
    padding: var(--spacing-xs) var(--spacing-sm);
    line-height: 1.5em;
  }
  .mobile-detail__btn {
    width: 120px;
    font-size: var(--font-size-sm);
    padding: 6px 0;
  }
  /* Redefine 개별 스타일 */
  #redefine .mobile-detail__btn-box {
    justify-content: center;
    flex-wrap: wrap;
    column-gap: var(--spacing-2xl);
    row-gap: var(--spacing-lg);
    margin-top: var(--spacing-xl);
  }
  /* Market Fresh 개별 스타일 */
  #market .mobile-detail-bottom-wrapper {
    margin-top: var(--spacing-3xl);
  }
  /* ########## END - MOBILE(mobile 1, 2 공통) ########## */
  
  
  /* ########## SECTION - WEB ########## */
  .web-content {
    margin-top: var(--spacing-6xl);
  }
  /* web-year__arrow */
  .web-year__arrow {
    gap: var(--spacing-xs);
  }
  .web-year__arrow-btn {
    width: calc(96px / 2.8);
    height: calc(96px / 2.8);
  }
  .web-year__arrow-num-wrap {
    width: 66px;
    height: 28px;
  }
  .web-year__arrow-num-item {
    font-size: 28px;
  }
  .web-year__arrow-text {
    font-size: 24px;
  }
  /* ----- web-year__container ----- */
  .web-year__wrap {
    margin-top: var(--spacing-4xl);
  }
  .web-year__wrap-inner {
    height: auto;
  }
  /* web-tab__btn-box */
  .web-tab__btn-box {
    width: calc(100% - 16px);
    height: 174px;
  }
  /* web-tab__btn-indicator */
  .web-tab__btn-indicator {
    width: calc(100% / 2);
    height: calc(100% / 3);
  }
  /* 체크 별 indicator 위치 수정 */
  input[id="web2-1"]:checked ~ .web-tab__btn-box .web-tab__btn-indicator {
    top: 0;
    left: 0;
  }
  input[id="web2-2"]:checked ~ .web-tab__btn-box .web-tab__btn-indicator {
    top: 0;
    left: 50%;
  }
  input[id="web2-3"]:checked ~ .web-tab__btn-box .web-tab__btn-indicator {
    top: calc(100% / 3);
    left: 0;
  }
  input[id="web2-4"]:checked ~ .web-tab__btn-box .web-tab__btn-indicator {
    top: calc(100% / 3);
    left: 50%;
  }
  input[id="web2-5"]:checked ~ .web-tab__btn-box .web-tab__btn-indicator {
    top: calc(100% / 1.5);
    left: 0;
  }
  input[id="web2-6"]:checked ~ .web-tab__btn-box .web-tab__btn-indicator {
    top: calc(100% / 1.5);
    left: 50%;
  }
  /* web-tab__btn */
  .web-tab__btn {
    width: 50%;
    margin: var(--spacing-xs) 0;
    font-size: 24px;
  }
  /* web-tab__item-box */
  .web-tab__item-box {
    margin-top: var(--spacing-3xl);
  }
  .web-tab__item {
    gap: var(--spacing-2xl);
    padding: 0 var(--spacing-sm);
  }
  .web-tab__item-thum {
    width: 100%;
    height: auto;
    padding-bottom: 65%;
  }
  /* web-tab__item-content */
  .web-tab__item-content {
    width: 100%;
    height: auto;
    max-height: none;
  }
  .web-tab__item-title {
    font-size: var(--spacing-3xl);
  }
  .web-tab__item-title.new::after {
    left: 100%;
    width: 8px;
    height: 8px;
  }
  .web-tab__item-detail li {
    align-items: start;
  }
  .web-tab__item-detail li h5 {
    flex-shrink: 0;
    line-height: 1.6em;
  }
  /* web-tab__item-link-box */
  .web-tab__item-link-box {
    flex-wrap: wrap;
    justify-content: center;
  }

  /* ----- 화면 400px보다 작을경우 한줄에 2버튼 ----- */
  @media (max-width: 400px) {
    .web-year__item:first-child .web-tab__item-link-box {
      display: grid;
      width: fit-content;
      margin: 0 auto;
      grid-template-columns: repeat(2, 1fr);
      justify-items: center;
    }
  }
  /* ----- 화면 400px보다 작을경우 한줄에 2버튼 ----- */

  .web-tab__item-link-btn {
    width: 100px;
  }
  /* ########## END - WEB ########## */
  
  
  /* ########## SECTION - PRACTICAL ########## */
  .practical-content {
    margin-top: var(--spacing-7xl);
  }
  /* practical-slider */
  .practical-slider:not(:last-child) {
    margin-bottom: var(--spacing-8xl);
  }
  .practical-slider__title {
    margin-bottom: 0;
  }
  .practical-slider__title::before {
    top: -2px;
  }
  .practical-slider__item:not(:last-child) {
    margin-right: var(--spacing-lg);
  }
  .practical-slider__item {
    height: 100px;
  }
  .practical-slider__box .slick-dots {
    bottom: -28px;
  }
  .practical-slider__box .slick-dots li {
    margin: 0 6px;
  }
  /* ########## END - PRACTICAL ########## */
  
  
  /* ########## SECTION - EPILOGUE ########## */
  .epilogue-content {
    padding: 0;
  }
  .epilogue-content-inner {
    flex-direction: column;
    row-gap: var(--spacing-6xl);
  }
  .epilogue-heading {
    width: 100%;
  }
  /* epilogue-heading */
  .epilogue-heading__title {
    font-size: 24px;
  }
  /* epilogue-job-strength */
  .epilogue-job-strength {
    width: 100%;
  }
  .epilogue-job-strength__item-title {
    font-size: 18px;
  }
  .epilogue-job-strength__item-text {
    font-size: var(--font-size-xl);
  }
  /* ########## END - EPILOGUE ########## */


  /* ########## FOOTER ########## */
  .footer__ending {
    margin-bottom: var(--spacing-6xl);
  }
  /* ########## END - FOOTER ########## */

  
  /* ########## 유틸리티 버튼 ########## */
  /* 풀스크린 네비게이션 버튼 */
  .trigger {
    left: var(--spacing-xl);
  }
  .trigger.on {
    top: var(--spacing-xl);
  }
  /* 맨 위로 가기 버튼 */
  .top-btn {
    right: var(--spacing-xl);
  }
  .top-btn.on {
    bottom: var(--spacing-xl);
  }
  /* sidebar-nav */
  .sidebar-nav-inner {
    padding-bottom: 20%;
  }
  .sidebar-nav__item span {
    font-size: var(--spacing-xl);
  }
  .sidebar-nav__item.new span::after {
    top: -4px;
    left: 100%;    
  }
  /* ########## END - 유틸리티 버튼 ########## */
  
  
  /* ########## 접근성 알림 토스트 ########## */
  .accessibility-modal {
    display: none;
  }
  /* ########## END - 접근성 알림 토스트 ########## */


  /* ########## 풀스크린 네비게이션 ########## */
  .fullscreen-nav-inner {
    padding-left: var(--spacing-2xl);
  }
  /* fullscreen-nav__item */
  .fullscreen-nav__item {
    font-size: 28px;
  }
  /* ########## END - 풀스크린 네비게이션 ########## */
}



