/* ---------- 진료 예약 페이지 ---------- */
#appointment-page {
  background-color: var(--bg-primary);
  transition: background-color 0.5s;
}
.appointment-inner {
  padding: var(--section-padding-v-pc);
}
.appointment-main-title {
  margin-bottom: 80px;
  font-size: var(--font-size-XXL);
  text-align: center;
  color: var(--theme-primary);
}

/* ---------- APPOINTMENT-FORM ---------- */
.appointment-form {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-64);
  max-width: var(--max-width-pc);
  margin: 0 auto;
}

/* ----- appointment-form__field ----- */
.appointment-form__field {
  display: flex;
  gap: var(--spacing-32);
  color: var(--color-black);
}
.appointment-form__box {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-32);
  width: calc(50% - 16px);
  padding: var(--spacing-32);
  border-radius: 20px;
  background-color: var(--bg-tertiary);
}
.appointment-form__item:not(:last-child)::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  margin-top: var(--spacing-32);
  background-color: var(--border-transparent);
}
.appointment-form__item-title {
  display: block;
  font-family: var(--font-KR-medium);
  font-size: var(--font-size-Large);
  line-height: var(--line-height-medium);
  margin-bottom: var(--spacing-16);
  color: var(--theme-primary);
}

/* appointment-form__item - 날짜 선택 */
.appointment-form__item-calendar {
  background-color: var(--color-white);
  padding: var(--spacing-32);
  border-radius: 8px;
}

/* 캘린더 */
.appointment-form__item-calendar-title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: var(--spacing-24);
}
.appointment-form__item-calendar-title .prev-btn,
.appointment-form__item-calendar-title .next-btn {
  width: calc(48px / 2);
  height: calc(48px / 2);
  background-image: url(../../../images/appointment/appointment-next-btn.png);
  background-size: 100% 100%;
}
.appointment-form__item-calendar-title .prev-btn {
  background-image: url(../../../images/appointment/appointment-prev-btn.png);
}
.appointment-form__item-calendar-title .next-btn {
  background-image: url(../../../images/appointment/appointment-next-btn.png);
}
.appointment-form__item-calendar-title .cur-date {
  display: flex;
  gap: var(--spacing-4);
  margin-left: var(--spacing-8);
  scroll-margin-right: var(--spacing-4);
  font-family: var(--font-KR-medium);
  font-size: var(--font-size-Large);
}

/* 캘린더 박스 */
.appointment-form__item-calendar-box {
  max-width: 480px;
  margin: 0 auto;
}
.appointment-form__item-calendar-day-names,
.appointment-form__item-calendar-dates {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  justify-items: center;
}
.appointment-form__item-calendar-day-names {
  margin-bottom: var(--spacing-8);
}
.appointment-form__item-calendar-dates {
  row-gap: var(--spacing-8);
}
.appointment-form__item-calendar-day-name,
.appointment-form__item-calendar-date {
  display: flex;
  justify-content: center;
  align-items: center;  
  width: 32px;
  height: 32px;
  border-radius: 50%;
  color: var(--color-black);
}
.appointment-form__item-calendar-day-name {
  font-family: var(--font-KR-medium);
}
.appointment-form__item-calendar-day-name:first-child {
  color: var(--color-negative);
}
.appointment-form__item-calendar-day-name:last-child {
  color: var(--theme-secondary);
}
.appointment-form__item-calendar-date {
  font-family: var(--font-KR-light);
  transition: background-color 0.2s, color 0.2s;
}
/* 일요일은 선택 불가(병원 휴일) */
.appointment-form__item-calendar-date:nth-child(7n + 1) {
  color: var(--contents-tertiary);
  pointer-events: none;
}
/* 토요일은 선택 가능 */
.appointment-form__item-calendar-date:nth-child(7n) {
  color: var(--theme-secondary);
}
.appointment-form__item-calendar-date:hover,
.appointment-form__item-calendar-date--selected {
  color: var(--color-white) !important;
  font-family: var(--font-KR-medium);
}
.appointment-form__item-calendar-date:hover {
  opacity: 1;
  background-color: var(--theme-secondary);
}
.appointment-form__item-calendar-date--selected {
  background-color: var(--theme-primary) !important;
}
.appointment-form__item-calendar-date--disabled {
  color: var(--contents-tertiary) !important;
  pointer-events: none;
}

/* appointment-form__item-time-box - 시간 선택 */
.appointment-form__item-time-box {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
  justify-items: center;
  gap: var(--spacing-12);
  width: 100%;
  margin: 0 auto;
  padding: var(--spacing-24);
  border-radius: 8px;
  background-color: var(--color-white);
}
.appointment-form__item-time-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 36px;
  border-radius: 4px;
  line-height: 1em;
  border: 1px solid var(--theme-primary);
  color: var(--theme-primary);
  transition: background-color 0.2s, color 0.2s;
}
.appointment-form__item-time-item:hover {
  opacity: 1;
  background-color: var(--theme-secondary);
  border: 1px solid transparent;
  color: var(--color-white);
  font-family: var(--font-KR-medium);
}
.appointment-form__item-time-item--selected {
  background-color: var(--theme-primary) !important;
  border: 1px solid transparent;
  color: var(--color-white);
  font-family: var(--font-KR-medium);
}
.appointment-form__item-time-item--disabled {
  border: 1px solid var(--border-transparent);
  color: var(--contents-tertiary);
  background-color: var(--color-light-gray);
  pointer-events: none;
}

/* appointment-form__item - 진료과목 선택 */
.appointment-form__item-subject-select {
  padding: var(--spacing-4) var(--spacing-8);
}
.appointment-form__item-subject-select option[disabled] {
  color: var(--contents-tertiary);
}

/* appointment-form__item - 담당 의료진 */
.appointment-form__item-doctor {
  display: flex;
  gap: var(--spacing-24);
}
.appointment-form__item-doctor-image {
  width: calc(400px / 4);
  height: calc(400px / 4);
  border-radius: 8px;
  overflow: hidden;
}
.appointment-form__item-doctor-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: var(--spacing-4) 0;
}
.appointment-form__item-doctor-info * {
  display: block;
}
.appointment-form__item-doctor-info b {
  font-family: var(--font-KR-medium);
  font-size: var(--font-size-Large);
  color: var(--theme-primary);
}
.appointment-form__item-doctor-info span {
  font-family: var(--font-KR-medium);
}
.appointment-form__item-doctor-info em {
  color: var(--contents-secondary);
}

/* appointment-form__item - 환자 정보 */
.appointment-form__item-patient {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-16);
}
.appointment-form__item-patient-input-wrap {
  display: flex;
}
.appointment-form__item-patient-input-wrap label {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  width: 120px;
}
.appointment-form__item-patient-input-box {
  flex: 1; 
  height: 40px;
  display: flex;
  align-items: center;
  gap: var(--spacing-4);
  min-width: 0;
}
.appointment-form__item-patient-input-box input {
  flex: 1;
  min-width: 0;
  height: inherit;
  display: inline-block;
  padding: var(--spacing-8);
}
.appointment-form__item-patient-input-box span {
  font-family: var(--font-KR-medium);
  color: var(--contents-tertiary);
}

/* 주소 */
.appointment-form__item-patient-list-box--address {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: var(--spacing-8);
  min-width: 0;
}
.appointment-form__item-patient-list-item--address {
  display: flex;
  height: 40px;
  align-items: center;
  gap: var(--spacing-8);
}
.appointment-form__item-patient-list-item--address input {
  flex: 1;
  height: inherit;
  padding: var(--spacing-8);
  min-width: 0;
}
.appointment-form__item-patient-list-item--address input::placeholder {
  color: var(--contents-tertiary);
}
.appointment-form__item-patient-list-item--address input:focus::placeholder {
  opacity: 0;
}
.appointment-form__item-patient-list-item--address .post-btn {
  width: 120px;
  height: calc(100% - 2px);
  box-sizing: border-box;
  font-family: var(--font-KR-medium);
  background-color: var(--contents-tertiary);
  color: var(--color-white);
  border-radius: 4px;
  border: none;
}


/* ----- appointment-form__terms-wrap ----- */
.appointment-form__terms-wrap {
  display: flex;
  gap: var(--spacing-32);
}
.appointment-form__terms {
  flex: 1;
  flex-shrink: 0;
}
.appointment-form__terms-title {
  display: flex;
  gap: var(--spacing-8);
  margin-bottom: var(--spacing-16);
  font-family: var(--font-KR-medium);
  font-size: var(--font-size-Large);
}
.appointment-form__terms-title::before {
  flex-shrink: 0;
  content: "";
  display: inline-block;
  width: 8px;
  height: 8px;
  margin-top: 10px;
  background-color: var(--theme-primary);
  border-radius: 50%;
}
.appointment-form__terms-desc {
  outline: 1px solid var(--border-transparent);
  border-radius: 8px;
}
.appointment-form__terms-text {
  height: 286px;
  padding: var(--spacing-32);
  background-color: var(--bg-text-background);
  overflow-y: auto;
}
.appointment-form__terms-text p:not(:first-child) {
  margin-top: var(--spacing-8);
}
.appointment-form__terms-text ul {
  padding-left: var(--spacing-8);
}
.appointment-form__terms-text ul li {
  display: flex;
  gap: var(--spacing-4);
}
.appointment-form__terms-text ul li::before {
  content: "-";
}
.appointment-form__terms-check {
  border-top: 1px solid var(--border-transparent);
  padding: var(--spacing-12);
}
.appointment-form__terms-check label {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-4);
  margin: 0 auto;
  text-align: center;
  font-family: var(--font-KR-medium);
}
.appointment-form__terms-check label span {
  line-height: 1em;
}

/* 예약 완료하기 버튼 */
.appointment-form__finish-btn {
  font-family: var(--font-KR-medium);
  font-size: var(--font-size-Large);
  width: 400px;
  padding: var(--spacing-12);
  background-color: var(--theme-primary);
  color: var(--color-white);
  border-radius: 8px;
  margin: 0 auto;
}
