/* ########## 진료 예약 페이지 반응형 UI ########## */


/* #################### TABLET #################### */
@media (max-width: 1280px) {
  /* ---------- 진료 예약 페이지 ---------- */
  .appointment-inner {
    padding: var(--section-padding-v-tablet) var(--section-padding-h-tablet);
  }
  .appointment-main-title {
    margin-bottom: var(--spacing-48);
  }

  /* ----- appointment-form__field ----- */
  .appointment-form__field {
    flex-wrap: wrap;
  }
  .appointment-form__box {
    flex: 1;
    min-width: 500px;
  }

  /* ----- appointment-form__terms-wrap ----- */
  .appointment-form__terms-wrap {
    flex-wrap: wrap;
  }
  .appointment-form__terms {
    min-width: 500px;
  }
}


/* #################### MOBILE #################### */
@media (max-width: 768px) {
  /* ---------- 진료 예약 페이지 ---------- */
  .appointment-inner {
    padding: var(--section-padding-v-mobile) var(--section-padding-h-mobile);
  }
  .appointment-main-title {
    margin-bottom: var(--spacing-48);
    font-size: var(--font-size-XL);
  }

  /* ---------- APPOINTMENT-FORM ---------- */
  .appointment-form {
    gap: var(--spacing-32);
  }
  .appointment-form__box {
    min-width: 100%;
    padding: var(--spacing-24);
    border-radius: 12px;
  }

  /* appointment-form__item - 날짜 선택 */
  .appointment-form__item-calendar {
    padding: var(--spacing-24) var(--spacing-12) var(--spacing-12);
  }
  .appointment-form__item-calendar-title {
    margin-bottom: var(--spacing-16);
  }

  /* appointment-form__item-time-box - 시간 선택 */
  .appointment-form__item-time-box {
    grid-template-columns: repeat(auto-fit, minmax(72px, 1fr));
  }
  .appointment-form__item-time-item {
    width: 72px;
  }
  .appointment-form__item-time-item span {
    transform: translateY(1px);
  }
  
  /* appointment-form__item - 환자 정보 */
  .appointment-form__item-patient-input-wrap {
    flex-direction: column;
    gap: var(--spacing-4);
  }
  .appointment-form__item-patient-input-wrap label {
    font-size: var(--font-size-Medium);
  }
  .appointment-form__item-patient-input-box {
    height: 36px;
  }

  /* 주소 */
  .appointment-form__item-patient-list-item--address {
    align-items: center;
    height: 36px;
  }
  .appointment-form__item-patient-list-item--address .post-btn {
    width: 100px;
    font-family: var(--font-KR-light);
  }

  /* ----- appointment-form__terms-wrap ----- */
  .appointment-form__terms {
    min-width: 100%;
  }
  .appointment-form__terms-title {
    margin-bottom: var(--spacing-12);
  }
  .appointment-form__terms-text {
    height: auto;
  }
  .appointment-form__terms-check label {
    font-family: var(--font-KR-light);
  }

  /* 예약 완료하기 버튼 */
  .appointment-form__finish-btn {
    margin: 0 auto;
    font-size: inherit;
    max-width: 300px;
    padding: var(--spacing-8);
  }
}