// Mixins
@mixin default {
  font-size: $font_base;
  line-height: 1.6em;
  min-height: 100vh;
  margin: 0;
  color: #777;
  background-color: #f8f8f8;
}
@mixin heading {
  position: relative;
  text-align: center;
  margin-bottom: 40px;
  font-weight: 500;
  text-decoration: underline;
  text-decoration-color: #3dc1d3;
  pointer-events: none;
  span {
    color: #3dc1d3;
  }
}
